<div class="row">
  <div class="col mb-2">
    <h2>Mis Pacientes</h2>
  </div>
  <div class="col">
    <button
      [ngStyle]="{ display: 'none' }"
      type="button"
      class="btn btn-primary rounded-pill float-right"
      ng-reflect-tour-anchor="agendar"
      data-toggle="modal"
      data-target="#disponibilidad"
    >
      Nuevo Paciente
      <img src="assets/icons/icon-plus-circle.svg" />
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-12 col-md-3">
        <input
          id="typeahead-basic"
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          [ngbTypeahead]="search"
          placeholder="Busqueda"
        />
        <div class="searchBox">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-search"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
            />
          </svg>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Filtrar por</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>
    <!--consultas activas-->
    <div class="row mt-1">
      <div class="col-12">
        <h5 style="display: none;">Mis consultas activas</h5>
      </div>
      <div class="col-12 mb-4">
        <div class="tableBox rounded p-4 bg-white">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">ID Paciente</th>
                <th scope="col">Nombre Paciente</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of patients | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize">
                <td scope="row">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" />
                    <label class="custom-control-label" for="customCheck1">
                      324565
                    </label>
                  </div>
                </td>
                <td>
                  <a routerLink="../mis-pacientes/ficha-paciente">
                    <img class="mr-2" id="image0" width="38" height="38" src="/assets/perfil.png" alt="img" />
                    Antonia Miranda Torres
                  </a>
                </td>
                <td>
                  34
                </td>
                <td>Femenino</td>
                <td>946729456</td>
                <td>
                  <div class="btn-group">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-three-dots"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                        />
                      </svg>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">
                        Eliminar
                      </button>
                      <button data-toggle="modal" data-target="#editar" class="dropdown-item" type="button">
                        Editar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <ngb-pagination class="float-right" [collectionSize]="70" [(page)]="page" aria-label="Default pagination">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
