<div class="row">
  <div class="col mb-2">
    <h3>{{ 'profile.profileManagmentUpdateProfile.label' | transloco }}</h3>
  </div>
  <div class="col">
    <button
      (click)="actualizarPerfil()"
      type="button"
      class="btn btn-primary rounded-pill float-right"
      [disabled]="!formProfile.valid"
    >
      {{ 'profile.updateProfile.label' | transloco }}
      <svg
        width="1.5em"
        height="1.5em"
        viewBox="0 0 16 16"
        class="bi bi-plus-circle"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
        />
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      </svg>
    </button>

    <a href="javascript:history.back()" class="back float-right align-top mr-3">
      <svg
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        class="bi bi-arrow-left-circle"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          fill-rule="evenodd"
          d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"
        />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
      </svg>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-4">
    <div class="boxTabSecondary">
      <ul class="nav nav-tabs nav-pills nav-justified tabchild tab-consulta w-100 secondary rounded" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="admin-tab"
            data-toggle="tab"
            href="#administrador"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            (click)="setRole('admin')"
          >
            {{ 'common.roles.admin.label' | transloco }}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="coordinator-tab"
            data-toggle="tab"
            href="#coordinador"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            (click)="setRole('coordinator')"
          >
            {{ 'tabs.coordinator.label' | transloco }}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="professional-tab"
            data-toggle="tab"
            href="#profesional"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            (click)="setRole('professional')"
          >
            {{ 'dashboard.home.waitingRoomManagment.modal.create.healthProfessionals.label' | transloco }}
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!--tab child-->
          <ul class="nav nav-tabs mt-4" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="info-tab"
                data-toggle="tab"
                href="#info"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                {{ 'tabs.information.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="users-tab"
                data-toggle="tab"
                href="#users"
                role="tab"
                aria-controls="users"
                aria-selected="false"
                *ngIf="profile.role === 'admin'"
              >
                {{ 'dashboard.home.config.tabs.healthProfessionals.table.users.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                *ngIf="profile.role === 'admin'"
              >
                {{ 'profile.profiles.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ficha-paciente-tab"
                data-toggle="tab"
                href="#ficha-paciente"
                role="tab"
                aria-controls="ficha-paciente"
                aria-selected="false"
                *ngIf="profile.role !== 'admin'"
              >
                {{ 'clinicalFile.medCardPatient.label' | transloco }}
              </a>
            </li>
            <li class="nav-item d-none" role="presentation">
              <a
                class="nav-link"
                id="consultas-tab"
                data-toggle="tab"
                href="#consultas"
                role="tab"
                aria-controls="consultas"
                aria-selected="false"
              >
                {{ 'clinicalFile.patientData.tabs.services.title' | transloco }}
              </a>
            </li>
            <li class="nav-item d-none" role="presentation">
              <a
                class="nav-link"
                id="disponibilidad-tab"
                data-toggle="tab"
                href="#disponibilidad"
                role="tab"
                aria-controls="disponibilidad"
                aria-selected="false"
              >
                {{ 'waitingRoom.disponibility.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="sale-tab"
                data-toggle="tab"
                href="#sale"
                role="tab"
                aria-controls="sale"
                aria-selected="false"
              >
                {{ 'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.waitingRoom.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="clinica-tab"
                data-toggle="tab"
                href="#clinica"
                role="tab"
                aria-controls="clinica"
                aria-selected="false"
                *ngIf="profile.role === 'admin'"
              >
                {{ 'dashboard.home.config.title' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="reporte-tab"
                data-toggle="tab"
                href="#reporte"
                role="tab"
                aria-controls="reporte"
                aria-selected="false"
              >
                {{ 'tabs.report.label' | transloco }}
              </a>
            </li>
          </ul>
          <!--pestañas-->
          <div class="tab-content rounded mt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="bg-white rounded">
                <form class="p-4" [formGroup]="formProfile">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="nameClinic">{{ 'profile.profileName.label' | transloco }}</label>
                        <input
                          [(ngModel)]="profile.profileName"
                          type="text"
                          class="form-control"
                          formControlName="profileName"
                          name="profileName"
                          id="nameClinic"
                          [ngClass]="{
                            'is-invalid':
                              !formProfile.get('profileName').valid && formProfile.get('profileName').touched
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="form-group">
                        <label for="descripcion">{{
                          'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco
                        }}</label>
                        <textarea
                          [(ngModel)]="profile.description"
                          class="form-control"
                          formControlName="profileDescription"
                          name="description"
                          id="descripcion"
                          rows="5"
                          [ngStyle]="{ padding: '10px', resize: 'none' }"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- USERS -->
            <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllUserPolicies"
                  (change)="checkAll('users')"
                  id="usersPolicies"
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="usersPolicies">{{
                  'dashboard.home.userManagment.title' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr id="item.id">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.createUser.label' | transloco }}
                      </td>
                      <td class="text-center">
                       {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile?.userPolicies.create"
                            type="checkbox"
                            class="custom-control-input"
                            id="userPoliciesCreate"
                          />
                          <label class="custom-control-label" for="userPoliciesCreate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr id="item.id2">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editUser.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.userPolicies.update"
                            type="checkbox"
                            class="custom-control-input"
                            id="userPoliciesUpdate"
                          />
                          <label class="custom-control-label" for="userPoliciesUpdate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr id="item.id2">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.disableUser.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.userPolicies.delete"
                            type="checkbox"
                            class="custom-control-input"
                            id="userPoliciesDelete"
                          />
                          <label class="custom-control-label" for="userPoliciesDelete"></label>
                        </div>
                      </td>
                    </tr>
                    <tr id="item.id2">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.sendInvitationToPatient.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.userPolicies.sendInvitation"
                            type="checkbox"
                            class="custom-control-input"
                            id="userPoliciesSendInvitation"
                          />
                          <label class="custom-control-label" for="userPoliciesSendInvitation"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllProfilesPolicies"
                  (change)="checkAll('profiles')"
                  id="profiles"
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="profiles">Gestión de perfiles</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'profile.createProfile.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.profilePolicies.create"
                            type="checkbox"
                            class="custom-control-input"
                            id="profilePoliciesCreate"
                          />
                          <label class="custom-control-label" for="profilePoliciesCreate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'profile.editProfile.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.profilePolicies.update"
                            type="checkbox"
                            class="custom-control-input"
                            id="profilePoliciesUpdate"
                          />
                          <label class="custom-control-label" for="profilePoliciesUpdate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'profile.disableProfile.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.profilePolicies.delete"
                            type="checkbox"
                            class="custom-control-input"
                            id="profilePoliciesDelete"
                          />
                          <label class="custom-control-label" for="profilePoliciesDelete"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- FICHA PACIENTE -->
            <div
              class="tab-pane fade"
              id="ficha-paciente"
              role="tabpanel"
              aria-labelledby="reporte-tab"
              *ngIf="profile.role !== 'admin'"
            >
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllMedicalRecords"
                  (click)="checkAll('medicalRecords')"
                  id="medicalRecords"
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="medicalRecords"
                  >Gestión {{ 'clinicalFile.medCardPatient.label' | transloco }}</label
                >
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.virepatientCard.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.read"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesRead"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesRead"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.viewServices.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.readAppointments"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesReadAppointments"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesReadAppointments"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editServices.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.updateAppointments"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesUpdateAppointments"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesUpdateAppointments"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.viewBackground.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.readAntecedents"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesReadAntecedents"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesReadAntecedents"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editBackground.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.updateAntecedents"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesUpdateAntecedents"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesUpdateAntecedents"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.viewExams.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.readExams"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesReadExams"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesReadExams"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'profile.viewPrescription.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.viewPrescriptions"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesViewPrescriptions"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesViewPrescriptions"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.attachFile.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.attachFiles"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesAttachFiles"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesAttachFiles"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="profile.role === 'professional'">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.generateMedPrescription.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.createPerscription"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordCreatePerscription"
                          />
                          <label class="custom-control-label" for="medicalRecordCreatePerscription"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="profile.role === 'professional'">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.generateExamOrder.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.createExamOrders"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesCreateExamOrders"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesCreateExamOrders"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="profile.role === 'professional'">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.generateMedLicense.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.medicalRecordPolicies.createMedicalLicenses"
                            type="checkbox"
                            class="custom-control-input"
                            id="medicalRecordPoliciesCreateMedicalLicenses"
                          />
                          <label class="custom-control-label" for="medicalRecordPoliciesCreateMedicalLicenses"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- CONSULTAS -->
            <div class="tab-pane fade" id="consultas" role="tabpanel" aria-labelledby="consultas-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllAppointmentsPolicies"
                  (change)="checkAll('appointments')"
                  type="checkbox"
                  class="custom-control-input"
                  id="appointments"
                />
                <label class="custom-control-label" for="appointments">{{
                  'dashboard.home.services.title' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.calendarAccess.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.appointmentPolicies.calendar"
                            type="checkbox"
                            class="custom-control-input"
                            id="appointmentPoliciesCalendar"
                          />
                          <label class="custom-control-label" for="appointmentPoliciesCalendar"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'clinicalFile.scheduleService.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.appointmentPolicies.set"
                            type="checkbox"
                            class="custom-control-input"
                            id="appointmentPoliciesSet"
                          />
                          <label class="custom-control-label" for="appointmentPoliciesSet"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editServices.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.appointmentPolicies.update"
                            type="checkbox"
                            class="custom-control-input"
                            id="appointmentPoliciesUpdate"
                          />
                          <label class="custom-control-label" for="appointmentPoliciesUpdate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.cancelService.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.appointmentPolicies.delete"
                            type="checkbox"
                            class="custom-control-input"
                            id="appointmentPoliciesDelete"
                          />
                          <label class="custom-control-label" for="appointmentPoliciesDelete"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- DISPONIBILIDAD -->
            <div class="tab-pane fade" id="disponibilidad" role="tabpanel" aria-labelledby="disponibilidad-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllAvailabilitiesPolicies"
                  (change)="checkAll('availabilities')"
                  type="checkbox"
                  class="custom-control-input"
                  id="availabilities"
                />
                <label class="custom-control-label" for="availabilities">{{
                  'profile.managmentDisponibility.label' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.disponibilityManagment.modal.createDisponibility.title' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.availabilitiesPolicies.create"
                            type="checkbox"
                            class="custom-control-input"
                            id="availabilitiesPoliciesCreate"
                          />
                          <label class="custom-control-label" for="availabilitiesPoliciesCreate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editDisponibility.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.availabilitiesPolicies.update"
                            type="checkbox"
                            class="custom-control-input"
                            id="availabilitiesPoliciesUpdate"
                          />
                          <label class="custom-control-label" for="availabilitiesPoliciesUpdate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.cancelDisponibility.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.availabilitiesPolicies.delete"
                            type="checkbox"
                            class="custom-control-input"
                            id="availabilitiesPoliciesDelete"
                          />
                          <label class="custom-control-label" for="availabilitiesPoliciesDelete"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- SALA DE ESPERA -->
            <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllWaitingRoomsPolicies"
                  (change)="checkAll('waitingRooms')"
                  type="checkbox"
                  class="custom-control-input"
                  id="waitingRooms"
                />
                <label class="custom-control-label" for="waitingRooms">{{
                  'waitingRoom.managment.label' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'waitingRoom.createRoom.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.waitingRoomPolicies.create"
                            type="checkbox"
                            class="custom-control-input"
                            id="waitingRoomPoliciesCreate"
                          />
                          <label class="custom-control-label" for="waitingRoomPoliciesCreate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editWaitinRoom.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.waitingRoomPolicies.update"
                            type="checkbox"
                            class="custom-control-input"
                            id="waitingRoomPoliciesUpdate"
                          />
                          <label class="custom-control-label" for="waitingRoomPoliciesUpdate"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.cancelWaitinRoom.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.waitingRoomPolicies.delete"
                            type="checkbox"
                            class="custom-control-input"
                            id="waitingRoomPoliciesDelete"
                          />
                          <label class="custom-control-label" for="waitingRoomPoliciesDelete"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.assignWaitinRoom.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.waitingRoomPolicies.set"
                            type="checkbox"
                            class="custom-control-input"
                            id="waitingRoomPoliciesSet"
                          />
                          <label class="custom-control-label" for="waitingRoomPoliciesSet"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- CONFIGURACION CLINICA -->
            <div class="tab-pane fade" id="clinica" role="tabpanel" aria-labelledby="reports-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllClinicsPolicies"
                  (change)="checkAll('clinics')"
                  type="checkbox"
                  class="custom-control-input"
                  id="clinics"
                />
                <label class="custom-control-label" for="clinics">{{
                  'dashboard.home.config.title' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editInformation.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateInfo"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateInfo"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateInfo"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editDesign.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateDesing"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateDesing"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateDesing"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editNotifications.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateNotifications"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateNotifications"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateNotifications"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editHealthProfessional.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateProfessionals"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateProfessionals"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateProfessionals"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editSpecialty.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateSpecialities"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateSpecialities"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateSpecialities"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editServiceReason.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateAppointmentObjective"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateAppointmentObjective"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateAppointmentObjective"></label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.editModality.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.clinicPolicies.updateAppointmentModality"
                            type="checkbox"
                            class="custom-control-input"
                            id="clinicPoliciesUpdateAppointmentModality"
                          />
                          <label class="custom-control-label" for="clinicPoliciesUpdateAppointmentModality"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- REPORTES -->
            <div class="tab-pane fade" id="reporte" role="tabpanel" aria-labelledby="reporte-tab">
              <div class="custom-control custom-switch mb-4">
                <input
                  [(ngModel)]="checkAllReportsPolicies"
                  (change)="checkAll('reports')"
                  id="reports"
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="reports">{{
                  'dashboard.home.reports.title' | transloco
                }}</label>
              </div>
              <div class="bg-white p-4 rounded">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-left">
                        {{ 'dashboard.home.config.tabs.modality.table.name.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                      </th>
                      <th scope="col" class="text-right">
                        {{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row" class="text-left">
                        {{ 'profile.reportManagment.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.reportPolicies.reportManagement"
                            type="checkbox"
                            class="custom-control-input"
                            id="reportPoliciesReportManagement"
                          />
                          <label class="custom-control-label" for="reportPoliciesReportManagement"></label>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="profile.role === 'admin' || profile.role === 'coordinator'">
                      <td scope="row" class="text-left">
                        {{ 'dashboard.home.uncategorized.logsManagment.label' | transloco }}
                      </td>
                      <td class="text-center">
                        {{'soon' | transloco}}
                      </td>
                      <td class="text-right">
                        <div class="custom-control custom-switch mb-4">
                          <input
                            [(ngModel)]="profile.reportPolicies.reportLogs"
                            type="checkbox"
                            class="custom-control-input"
                            id="reportPoliciesReportLogs"
                          />
                          <label class="custom-control-label" for="reportPoliciesReportLogs"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--/pestañas-->
        </div>
      </div>
    </div>
  </div>
</div>
