$color-primary: #0066ff;
$color-primary2: #35a6f5;
$color-hover: #3bc4ca;
$color-secondary: #00ff00;
$color-success: #0000ff;
$color-danger: #ff5971;
$color-warning: #00ff00;
$color-info: #0000ff;
$color-info2: #99b0ee;
$color-light: #ffffff;
$color-dark: #00ff00;
$color-body: #0000ff;
$color-white: #0000ff;

$border-radius: 10px;

$color-text-bold: #000000;
$color-text-light: #8b8b8b;
