
$color-primary: #0066FF;
$color-primary2:#35A6F5;
$color-hover:#3BC4CA;
$color-secondary: #00FF00;
$color-success: #0000FF;
$color-danger: #FF5971;;
$color-warning: #00FF00;
$color-info: #0000FF;
$color-info2: #99B0EE;
$color-light: #ffffff;
$color-dark: #00FF00;
$color-body: #0000FF;
$color-white: #0000FF;

$border-radius: 10px; 

$color-text-bold:#000000;
$color-text-light:#8B8B8B;
