<div class="row">
  <div class="col">
    <h2>Sala de Espera X</h2>
    <p>
      <small>Sala creada el 01-01-1990 por XXXXX</small>
      <img class="px-2" src="assets/icons/icon-users-ux.svg" />
      <small>XX Usuario(s) en sala de espera</small>
      <img class="px-2" src="assets/icons/icon-profile-ux.svg" />
      <small>{{ professionalsTotal }} Profesional(es)</small>
    </p>
  </div>
  <div class="col-12 col-md-6">
    <a href="javascript:history.back()" class="back float-right align-top mr-3">
      <svg
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        class="bi bi-arrow-left-circle"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          fill-rule="evenodd"
          d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"
        />
        <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
      </svg>
    </a>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <div class="tableBox rounded p-4 bg-white">
      <ngx-datatable
        *ngIf="appointments.length; else noData"
        #table
        class="material"
        [rows]="appointments"
        headerHeight="auto"
        footerHeight="auto"
        rowHeight="70"
        [columnMode]="ColumnMode.flex"
        [limit]="pageSize"
        [selectAllRowsOnPage]="true"
      >
        <ngx-datatable-column [resizeable]="false" [flexGrow]="3" prop="name" name="Nombre Paciente">
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="3" prop="start" name="Hora Agendada">
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="3" prop="waitingTime" name="Tiempo de Espera">
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="2" prop="status" name="Estado">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-primary rounded-pill btn-sm">
              {{ row.status }}
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <ng-template #noData>
      <h5 class="text-center text-primary">No existen registros asociados</h5>
    </ng-template>
  </div>
</div>
