<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <!--left component-->
    <div class="col-12 col-md-4 left d-none d-md-block">
      <app-left-column></app-left-column>
    </div>
    <!--/left component-->

    <div class="col-12 col-md-8 right">
      <!--lang component-->
      <div class="boxIdioma">
        <app-lang></app-lang>
      </div>
      <!--/lang component-->

      <div class="row vertical-center h-100">
        <div class="col-12 col-sm-6 col-md-7 col-lg-5 mx-auto w-50 p-3 text-center align-self-center">
          <ng-container *ngIf="setup === 'BR'">
            <div class="logo mb-5 d-block d-sm-none bg-white">
              <img src="assets/logo-app-mobile-login.png" style="width:70%">
            </div>
          </ng-container>
          <ng-container *ngIf="setup === 'CL'">
            <div class="logo mb-5 d-block d-sm-none bg-white">
              <img src="assets/itms-atrys-chile.svg" style="width:70%">
            </div>
          </ng-container>

          <div class="contenedor">
            <h3 class="mb-4 d-none d-sm-block">{{ 'auth.confirmAccount.label' | transloco }}</h3>
            <p>{{ 'auth.confirmAccountRecordatory.label' | transloco }}</p>
          </div>
          <form class="">
            <div class="form-group">
              <input
                type="username"
                class="form-control"
                id="code"
                name="code"
                placeholder="{{ 'auth.verificationCode.label' | transloco }}"
                [(ngModel)]="user.code"
              />
              <!--[(ngModel)]="user.username-->
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mb-3 mb-nd-0">
                <button
                  type="submit"
                  class="btn btn-primary btn-block rounded-pill"
                  [disabled]="user.code === null || user.code === ''"
                  (click)="confirmAccount(user.code)"
                >
                  {{ 'auth.verify.label' | transloco }}
                </button>
              </div>
              <p class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg.toUpperCase() }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" type="line-scale" size="default" color="#fff">
  <!-- <p style="color: white" > cargando...</p> -->
</ngx-spinner>
