<div class="row">
  <div class="col mb-2">
    <h2>Mi perfil</h2>
    <p>Información básica de datos personales</p>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-primary rounded-pill float-right"
      ng-reflect-tour-anchor="agendar"
      data-toggle="modal"
      data-target="#disponibilidad"
    >
     Guardar
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-calendar3-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2H0z" />
            <path
              fill-rule="evenodd"
              d="M0 3h16v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm6.5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
          Mis datos personales
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="timeline-tab"
          data-toggle="tab"
          href="#timelineTab"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          aria-disabled="true"
        >
          Mis compras
        </a>
      </li>
    </ul>
    <div class="tab-content pt-4" id="myTabContent">
      <!--tab-->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      
        
  <div class="row">
    <div class="col-4">
      <div class=" ">
        <div class="card-body text-center">
          <div class="boxImg" *ngIf="geFormData.photo">
            <img src="{{geFormData.photo}}">
          </div>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              (change)="openFile($event)"
              id="customFile"
              style="overflow: hidden;"
              
            />
            <label class="custom-file-label" for="customFile">{{ textInputFile }}</label>
          </div>
          <!--<button type="button" class="btn btn-outline-primary mt-4 rounded-pill">Cambiar foto</button>-->
        </div>
      </div>
    </div>
    <div class="col-8">

      <div class="bg-white rounded-lg">
        <ul class="nav nav-pills nav-fill w-100 tab-consulta" id="myTab2" role="tablist" style="border: none;">
        
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="true"
              >Datos de identificación
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Datos personales
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="contact-tab2"
              data-toggle="tab"
              href="#contact2"
              role="tab"
              aria-controls="contact2"
              aria-selected="false"
              >Dirección
            </a>
          </li>
        </ul>
        <div class="tab-content p-2" id="myTabContent">
         
            <!--/tab info paciente-->
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!--card-->
              <div class="card bg-light mb-3 p-2">
                <div class="card-body">
                  <form  [formGroup]="identificationData">
                   
                  <div class="form-row" *ngIf="geFormData">
                    <ng-container><!--geFormData.identificationData.isForeign === true-->
                      <div class="form-group col-md-4">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" 
                        value="{{geFormData.identificationData.cpf}}"
                        placeholder="{{geFormData.identificationData.cpf}}" disabled>
                      </div>
                    </ng-container>
                    <div class="form-group col-md-4">
                      <label for="issuingBody">Orgáno emisor</label>
                      <input type="text" class="form-control" id="issuingBody"
                      placeholder="{{geFormData.identificationData.issuingBody}}" disabled>
                    </div>
                    <ng-container ><!--*ngIf="geFormData.identificationData.isForeign === true"-->
                      <div class="form-group col-md-4">
                        <label for="passport">Passporte</label>
                        <input type="text" class="form-control" id="passport"
                        placeholder="{{geFormData.identificationData.passport}}" disabled>
                      </div>
                    </ng-container>
                  </div> 

                  <!--
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Órgano Emisor </label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                   
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Documento Secundaria</label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Documento Secundaria</label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                  </div> -->
                  
                </form>
                
                </div>
              </div>
              <!--/card-->
            </div>


            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <!--card-->
              <div class="card bg-light mb-3 p-2" *ngIf="geFormData">
                <div class="card-body">
                  <form [formGroup]="personalData">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="name">Nombre </label>
                      <input type="text" class="form-control" id="name"
                      placeholder="{{geFormData.personalData.name}}" disabled
                      >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="lastName">Apellido</label>
                      <input type="text" class="form-control" id="lastName"
                      placeholder="{{geFormData.personalData.lastName}}" disabled
                      >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="secondLastName">Segundo Apellido</label>
                      <input type="text" class="form-control" id="secondLastName"
                      placeholder="{{geFormData.personalData.secondLastName}}" disabled
                      >
                    </div>
                  </div> 
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="motherName">Nombre de la madre</label>
                      <input type="text" class="form-control" id="motherName"
                      placeholder="{{geFormData.personalData.motherName}}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" disabled
                      placeholder="{{geFormData.personalData.email}}">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="phoneNumber">Fono</label>
                      <input type="text" class="form-control" id="phoneNumber"
                      formControlName="phoneNumber"
                      placeholder="{{geFormData.personalData.phoneNumber}}">
                    </div>
                  </div> 
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="gender">gender </label>
                      <input type="text" class="form-control" id="gender"
                      placeholder="{{geFormData.personalData.gender}}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="nationality">nationality</label>
                      <input type="text" class="form-control" id="nationality"
                      placeholder="{{geFormData.personalData.nationality}}" disabled>
                      
                    </div>
                    <div class="form-group col-md-4">
                      <label for="education">education </label>
                      <!--<input type="text" class="form-control" id="education"
                      placeholder="{{geFormData.personalData.education}}">-->

                      <select class="form-control"  formControlName="education" id="education">                      
                        <ng-container *ngFor="let item of educations">
                          <option value="{{item._id}}" *ngIf="item._id === geFormData.personalData.education" selected>{{item.name}}</option>
                        </ng-container>
                        <ng-container *ngFor="let item of educations">
                          <option value="{{item._id}}" *ngIf="item._id !== geFormData.personalData.education">{{item.name}}</option>
                        </ng-container>       
                      </select>
                      
                    </div>
                  </div> 
                  
              
                </form>
                
                </div>
              </div>
              <!--/card-->
            </div>


            
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
              <!--card-->
              <div class="card bg-light mb-3  p-2" *ngIf="geFormData">
                <div class="card-body">
                  <form [formGroup]="addressData">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="cep">cep</label>
                        <input type="text" class="form-control" id="cep"
                        formControlName="cep"
                        placeholder="{{geFormData.addressData.cep}}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="city">city</label>
                        <select class="form-control"  formControlName="city">                      
                          <ng-container *ngFor="let item of cities">
                            <option value="{{item._id}}" *ngIf="item._id === geFormData.addressData.city" selected>{{item.name}}</option>
                          </ng-container>
                          <ng-container *ngFor="let item of cities">
                            <option value="{{item._id}}" *ngIf="item._id !== geFormData.addressData.city">{{item.name}}</option>
                          </ng-container>       
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="neighborhood">neighborhood</label>
                        <input type="text" class="form-control" id="neighborhood"
                        formControlName="neighborhood"
                        placeholder="{{geFormData.addressData.neighborhood}}">
                      </div>
                    </div> 
                 
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="street">street</label>
                        <input type="text" class="form-control" id="street"
                        formControlName="street"
                        placeholder="{{geFormData.addressData.street}}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="streetNumber">streetNumber</label>
                        <input type="text" class="form-control" id="streetNumber"
                        formControlName="streetNumber"
                        placeholder="{{geFormData.addressData.streetNumber}}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="cep">cep</label>
                        <input type="text" class="form-control" id="cep"
                        formControlName="cep"
                        placeholder="{{geFormData.addressData.cep}}">
                      </div>

                      <!--
                      <div class="form-group col-md-4">
                        <label for="nationality">Nacionalidad</label>

                        <select class="form-control">                      
                          <option selected>{{geFormData.addressData.nationality}}</option>
                          <ng-container *ngFor="let item of countries">
                            <option *ngIf="item._id !== geFormData.addressData.nationality">{{item.name}}</option>
                          </ng-container>       
                        </select>
                      </div>-->
                    </div> 
                  </form>
                </div>
              </div>
              <!--/card-->
            </div>
            
              <hr>
              <div class="text-right">
                <button class="btn btn-secondary rounded-pill" (click)="updateData()">
                  Guardar
                </button>
              </div>
        </div>
       
      </div>




      

      

    
    </div>
  </div>
        
        
      </div>
      <!--/tab-->

      
    </div>
  </div>
</div>



