<div class="container-fluid">
  <div class="row">
    <div class="col-9 col-md-9">
      <h2>{{ 'clinicalFile.medCardPatient.label' | transloco }}</h2>
    </div>
    <div class="col-3 col-md-3">
      <button
        type="button"
        class="btn btn-primary rounded-pill float-right"
        data-toggle="modal"
        data-target="#appointmentModal"
      >
        {{ 'clinicalFile.newService.label' | transloco }}
      </button>

      <a href="javascript:history.back()" class="back float-right align-top mr-3">
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-arrow-left-circle"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            fill-rule="evenodd"
            d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"
          />
          <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
        </svg>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!--nav-tabs-->
      <div class="row">
        <div class="col-12 mb-2">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="datosPaciente"
                data-toggle="tab"
                href="#datosPacienteTab"
                role="tab"
                aria-controls="datosPaciente"
              >
                {{ 'clinicalFile.patientData.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="consultasPaciente"
                data-toggle="tab"
                href="#consultasPacienteTab"
                role="tab"
                aria-controls="consultasPaciente"
              >
                {{ 'clinicalFile.patientData.tabs.services.title' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="profile-tab2"
                data-toggle="tab"
                href="#antecedentesTab"
                role="tab"
                aria-controls="examenesDocumentos"
                aria-selected="false"
              >
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="profile-tab3"
                data-toggle="tab"
                href="#prescripacionesTab"
                role="tab"
                aria-controls="prescripaciones"
                aria-selected="false"
              >
                {{ 'clinicalFile.patientData.tabs.exams.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#notasTab"
                role="tab"
                aria-controls="notas"
                aria-selected="false"
              >
                {{ 'clinicalFile.patientData.tabs.prescriptions.label' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#timelineTab"
                role="tab"
                aria-controls="timeline"
                aria-selected="false"
              >
                {{ 'clinicalFile.patientData.tabs.timeLine.label' | transloco }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--/nav-tabs-->

      <!--tabs-->
      <div class="tab-content w-100 mt-3" id="myTabContent">
        <!-- DATOS PACIENTE -->
        <div
          class="tab-pane fade show active pt-2"
          id="datosPacienteTab"
          role="tabpanel"
          aria-labelledby="datosPaciente"
        >
          <div class="row">
            <div class="col-12 d-none">
              <div class="alert alert-primary" role="alert">
                {{ 'clinicalFile.dataOwnderAt.label' | transloco }} 30%,
                {{ 'clinicalFile.sendEmailRemainder.label' | transloco }}
                <button class="btn btn-outline-secondary btn-sm rounded-pill">
                  {{ 'clinicalFile.sendRemainder.label' | transloco }}
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="bg-white rounded-lg p-4 shadow-sm">
                <div class="img text-center">
                  <img src="assets/perfil.png" />
                  <!--   <img src=" {{ patientRecord.personalData?.photo }}" />-->
                </div>
                <h4 class="text-center mt-2">
                  {{ patientRecord.personalData?.name + ' ' + patientRecord.personalData?.secondLastName || null }}
                  <br />
                </h4>
                <ul class="paciente pl-0">
                  <li>
                    <i class="b">{{ 'clinicalFile.patientData.tabs.identification.info.grender.label' | transloco }}</i>
                    {{ patientRecord.personalData?.gender }}
                    <!--
                    {{
                      patientRecord.personalData?.gender === 'male'
                        ? 'clinicalFile.male.label'
                        : patientRecord.personalData?.gender === 'female'
                        ? 'clinicalFile.female.label'
                        : ('S/R' | transloco)
                    }}-->
                  </li>
                  <li>
                    <i class="b">{{ 'common.forms.user.identification.age.label' | transloco }}</i>
                   <!-- {{ moment().diff(patientRecord.personalData?.birthdate, 'year') }}-->
                    {{ patientAge}}
                  </li>
                  <li>
                    <i class="b">{{ 'common.forms.user.identification.phone.label' | transloco }}</i>
                    {{ patientRecord.personalData?.phoneNumber || 'S/R' }}
                  </li>
                  <li>
                    <i class="b">{{ 'common.forms.user.identification.email.label' | transloco }}</i>
                    {{ patientRecord.personalData?.email || 'S/R' }}
                  </li>
                  <li>
                    <i class="b">{{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}</i>
                    <button type="button" class="btn btn-primary mt-1 rounded-pill btn-sm">
                      {{ patientRecord?.status }}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-8">
              <div class="bg-white rounded-lg p-4 shadow-sm mb-4">
                <h4 class="title mb-3">
                  {{ 'clinicalFile.patientData.tabs.identification.birthData.title' | transloco }}
                </h4>
                <ul class="datos">
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.birthData.documentType.label' | transloco }}</i>
                    {{ identification.type?.toUpperCase() || 'S/R' }}
                  </li>
                  <li>
                    <i>{{
                      'clinicalFile.patientData.tabs.identification.birthData.documentNumber.label' | transloco
                    }}</i>
                    {{ identification?.value || 'S/R' }}
                  </li>
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.birthData.minicipality.label' | transloco }}</i>
                    {{ cityMap[patientRecord.personalData?.municipalityBirth]?.name || 'S/R' }}
                  </li>
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.birthData.nacionality.label' | transloco }}</i>
                    {{ countryMap[patientRecord.personalData?.nacionality]?.name || 'S/R' }}
                  </li>
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.birthData.uf.label' | transloco }}</i>
                    {{ ufMap[patientRecord.personalData?.ufBirth]?.name || 'S/R' }}
                  </li>
                </ul>
              </div>

              <div class="bg-white rounded-lg p-4 shadow-sm">
                <h4 class="title mb-3">
                  {{ 'clinicalFile.patientData.tabs.identification.addressData.title' | transloco }}
                </h4>
                <ul class="datos">
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}</i>
                    {{ ufMap[patientRecord.addressData?.uf]?.name || 'S/R' }}
                  </li>
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.addressData.city.label' | transloco }}</i>
                    {{ cityMap[patientRecord.addressData?.city]?.name || 'S/R' }}
                  </li>
                  <li>
                    <i>{{ 'clinicalFile.patientData.tabs.identification.addressData.address.label' | transloco }}</i>
                    {{
                      patientRecord.addressData?.neighborhood +
                        ', ' +
                        patientRecord.addressData?.street +
                        ' #' +
                        patientRecord.addressData?.streetNumber || 'S/R'
                    }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->

        <!-- CONSULTAS -->
        <div class="tab-pane fade" id="consultasPacienteTab" role="tabpanel" aria-labelledby="consultasPaciente">
          <div class="row mt-2">
            <div class="col-12 col-md-3">
              <input
                [(ngModel)]="searchTerm"
                type="text"
                class="form-control"
                placeholder="{{ 'common.placeholder.search.label' | transloco }}"
                (keyup)="applyFiltersAppointments()"
              />
              <div class="searchBox">
                <img src="assets/icons/icon-search.svg" />
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <select
                  [(ngModel)]="appointmentStatusSelected"
                  class="form-control"
                  id="status"
                  (change)="applyFiltersAppointments()"
                >
                  <option [ngValue]="null">{{ 'clinicalFile.filterByState.label' | transloco }}</option>
                  <option ngValue="reserved">{{ 'clinicalFile.reserved.label' | transloco }}</option>
                  <option ngValue="appointed">{{ 'clinicalFile.scheduled.label' | transloco }}</option>
                  <option ngValue="rescheduled">{{ 'clinicalFile.reScheduled.label' | transloco }}</option>
                  <option ngValue="active">{{ 'clinicalFile.active.label' | transloco }}</option>
                  <option ngValue="waitingInRoom">{{ 'clinicalFile.inWaitingRoom.label' | transloco }}</option>
                  <option ngValue="waitingInList">{{ 'clinicalFile.inWaitingList.label' | transloco }}</option>
                  <option ngValue="running">{{ 'common.status.inProgress.label' | transloco }}</option>
                  <option ngValue="pending">{{ 'clinicalFile.pending.label' | transloco }}</option>
                  <option ngValue="finished">{{ 'clinicalFile.ended.label' | transloco }}</option>
                  <option ngValue="canceled">{{ 'clinicalFile.canceled.label' | transloco }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-2">
              <input
                [(ngModel)]="appointmentDateSelected"
                class="form-control"
                type="text"
                placeholder="DD/MM/YYYY"
                id="endDate"
                name="endDate"
                [minDate]="{ year: 1940, month: 1, day: 1 }"
                ngbDatepicker
                #e="ngbDatepicker"
                (click)="e.toggle()"
                (ngModelChange)="applyFiltersAppointments()"
                [footerTemplate]="footerCalendar"
              />
              <ng-template #footerCalendar>
                <hr class="my-0" />
                <button
                  class="btn btn-primary btn-sm m-2"
                  (click)="appointmentDateSelected = null; applyFiltersAppointments(); e.close()"
                >
                  {{ 'clinicalFile.clearFilter.label' | transloco }}
                </button>
              </ng-template>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-check">
                <input
                  [(ngModel)]="appointmentCheckBox"
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios1"
                  value="myAppointments"
                  (change)="applyFiltersAppointments()"
                  [ngStyle]="{ height: 'auto' }"
                />
                <label class="form-check-label" for="exampleRadios1">
                  {{ 'common.menu.myServices.label' | transloco }}
                </label>
              </div>
              <div class="form-check">
                <input
                  [(ngModel)]="appointmentCheckBox"
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios"
                  id="exampleRadios2"
                  value="allAppointments"
                  (change)="applyFiltersAppointments()"
                  [ngStyle]="{ height: 'auto' }"
                />
                <label class="form-check-label" for="exampleRadios2">
                  {{ 'clinicalFile.allServices.label' | transloco }}
                </label>
              </div>
            </div>
          </div>

          <div class="tableBox rounded p-4 bg-white">
            <ngx-datatable
              *ngIf="appointmentsRecord.length; else noData"
              class="material"
              [rows]="appointmentsRecord"
              headerHeight="auto"
              footerHeight="auto"
              rowHeight="70"
              [columnMode]="ColumnMode.flex"
              [limit]="10"
              [selectAllRowsOnPage]="true"
            >
              <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="ID">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>{{
                    row.patientDetails.patientId[0].identificationData.cpf ||
                      row.patientDetails.patientId[0].identificationData.cns ||
                      row.patientDetails.patientId[0].identificationData.rgRegistry ||
                      row.patientDetails.patientId[0].identificationData.passport
                  }}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="3" name="Paciente">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <img class="mr-2" id="image0" width="38" height="38" src="/assets/perfil.png" alt="img" />
                  {{
                    row.patientDetails.userDetails[0].name +
                      ' ' +
                      (row.patientDetails.userDetails[0].secondLastName || row.patientDetails.userDetails[0].lastName || row.patientDetails.userDetails[0].secondLastName)
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="3" name="Profesional">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <img class="mr-2" id="image0" width="38" height="38" src="/assets/perfil.png" alt="img" />
                  {{
                    row.professionalDetails.userDetails[0].name +
                      ' ' +
                      (row.professionalDetails.userDetails[0].secondLastName ||
                        row.professionalDetails.userDetails[0].lastName)
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Fecha">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ moment(row.dateDetails.date).format('DD/MM/YYYY') }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Hora">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dateDetails.start }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Especialidad">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.professionalDetails.specialtyDetails[0]?.specialtyName || 'S/R' }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Estado">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button type="button" class="btn btn-secondary rounded-pill btn-sm">
                    {{
                      (row.administrativeDetails.status === 'reserved'
                        ? 'clinicalFile.reserved.label'
                        : row.administrativeDetails.status === 'appointed'
                        ? 'clinicalFile.scheduled.label'
                        : row.administrativeDetails.status === 'rescheduled'
                        ? 'clinicalFile.reScheduled.label'
                        : row.administrativeDetails.status === 'active'
                        ? 'clinicalFile.active.label'
                        : row.administrativeDetails.status === 'waitingInRoom'
                        ? 'clinicalFile.inWaitingRoom.label'
                        : row.administrativeDetails.status === 'waitingInList'
                        ? 'clinicalFile.inWaitingList.label'
                        : row.administrativeDetails.status === 'running'
                        ? 'common.status.inProgress.label'
                        : row.administrativeDetails.status === 'pending'
                        ? 'clinicalFile.pending.label'
                        : row.administrativeDetails.status === 'finished'
                        ? 'clinicalFile.ended.label'
                        : row.administrativeDetails.status === 'canceled'
                        ? 'clinicalFile.canceled.label'
                        : null
                      ) | transloco
                    }}
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <ng-template #noData>
              <h5 class="text-center text-primary">{{ 'clinicalFile.noMatches.label' | transloco }}</h5>
            </ng-template>
          </div>
        </div>
        <!--/tab-->

        <!-- ANTECEDENTES -->
        <div class="tab-pane fade" id="antecedentesTab" role="tabpanel" aria-labelledby="examenesDocumentos">
          <div class="row">
            <div class="col-12">
              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasSickness; else noSickness">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#sickness"
                  role="button"
                  aria-expanded="true"
                  aria-controls="sickness"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'dashboard.home.myHealth.deceases.label' | transloco }}
                </a>
                <div class="collapse show" id="sickness">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.sickness">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noSickness>
                <div class="collapseCustom p-4">
                  {{ 'dashboard.home.myHealth.deceases.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>

              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasAllergies; else noAllergies">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#allergies"
                  role="button"
                  aria-expanded="true"
                  aria-controls="allergies"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'dashboard.home.myHealth.allergies.label' | transloco }}
                </a>
                <div class="collapse show" id="allergies">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.allergies">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noAllergies>
                <div class="collapseCustom p-4">
                  {{ 'dashboard.home.myHealth.allergies.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>

              <!--/colappsed-->

              <!-- colappsed-->
              <div
                class="collapseCustom"
                *ngIf="antecedentsRecord.hasSurgicalInterventions; else noSurgicalInterventions"
              >
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#allergies"
                  role="button"
                  aria-expanded="true"
                  aria-controls="allergies"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'dashboard.home.myHealth.surgicalInterventions.label' | transloco }}
                </a>
                <div class="collapse show" id="surgicalInterventions">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.surgicalInterventions">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noSurgicalInterventions>
                <div class="collapseCustom p-4">
                  {{ 'dashboard.home.myHealth.surgicalInterventions.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>

              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasFamiliarHistory; else noFamiliarHistory">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#familiarHistory"
                  role="button"
                  aria-expanded="false"
                  aria-controls="familiarHistory"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'clinicalFile.patientData.tabs.patientHistory.familyHistory.label' | transloco }}
                </a>
                <div class="collapse show" id="familiarHistory">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.familiarHistory">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noFamiliarHistory>
                <div class="collapseCustom p-4">
                  {{ 'clinicalFile.patientData.tabs.patientHistory.familyHistory.label' | transloco }}
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>
              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasMedicines; else noMedicines">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#medicines"
                  role="button"
                  aria-expanded="false"
                  aria-controls="medicines"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'clinicalFile.patientData.tabs.videoChat.info.background.meds.label' | transloco }}
                </a>
                <div class="collapse show" id="medicines">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.medicines">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noMedicines>
                <div class="collapseCustom p-4">
                  {{ 'clinicalFile.patientData.tabs.videoChat.info.background.occupational.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>
              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasHealthHabits; else noHealthHabits">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#healthHabits"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'clinicalFile.patientData.tabs.patientHistory.habits.label' | transloco }}
                </a>
                <div class="collapse show" id="healthHabits">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.healthHabits">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noHealthHabits>
                <div class="collapseCustom p-4">
                  {{ 'clinicalFile.patientData.tabs.patientHistory.habits.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>
              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasOccupational; else noOccupational">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#occupational"
                  role="button"
                  aria-expanded="false"
                  aria-controls="occupational"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'dashboard.home.myHealth.occupationals.label' | transloco }}
                </a>
                <div class="collapse show" id="occupational">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.occupational">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noOccupational>
                <div class="collapseCustom p-4">
                  {{ 'dashboard.home.myHealth.occupationals.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>
              <!--/colappsed-->

              <!-- colappsed-->
              <div class="collapseCustom" *ngIf="antecedentsRecord.hasOthers; else noOthers">
                <a
                  class="p-4"
                  data-toggle="collapse"
                  href="#others"
                  role="button"
                  aria-expanded="false"
                  aria-controls="others"
                >
                  <svg
                    class="mr-2"
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                      fill="#7D7D7D"
                    />
                  </svg>
                  {{ 'dashboard.home.myHealth.others.label' | transloco }}
                </a>
                <div class="collapse show" id="others">
                  <ul class="antecedentes" *ngFor="let item of antecedentsRecord.others">
                    <li class="pl-5">{{ item.value }}</li>
                  </ul>
                </div>
              </div>
              <ng-template #noOthers>
                <div class="collapseCustom p-4">
                  {{ 'dashboard.home.myHealth.others.label' | transloco }}:
                  <span class="text-primary float-right">
                    {{ 'clinicalFile.notPresent.label' | transloco }}
                  </span>
                </div>
              </ng-template>
              <!--/colappsed-->
            </div>
          </div>
        </div>
        <!--/tab-->

        <!-- EXAMENES Y DOCUMENTOS -->
        <div class="tab-pane fade" id="prescripacionesTab" role="tabpanel" aria-labelledby="prescripaciones">
          <div class="row mb-4 align-items-center">
            <div class="col-6">
              <h5 class="mb-0">{{ 'clinicalFile.patientData.tabs.exams.label' | transloco }}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="bg-white p-3 rounded-lg">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.doc.label' | transloco }}</th>
                      <th scope="col" class="text-center">
                        {{ 'dashboard.home.config.tabs.specialty.table.type.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'clinicalFile.patientData.tabs.exams.table.date.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">
                        {{ 'clinicalFile.patientData.tabs.exams.table.action.label' | transloco }}
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr id="item.id" *ngFor="let item of examsRecord">
                      <td scope="row">
                        <svg width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M16.6916 2.3669H10.3091C9.95377 1.1359 8.79281 0.19043 7.35625 0.19043C5.91999 0.19043 4.75919 1.1359 4.40336 2.3669H4.24454C2.2743 2.3669 0.744141 3.81621 0.744141 5.63132V20.1404C0.744141 21.9554 2.2743 23.4047 4.24454 23.4047H16.6917C18.662 23.4047 20.1922 21.9554 20.1922 20.1404V5.63132C20.1922 3.81621 18.662 2.3669 16.6916 2.3669ZM18.6362 20.1406C18.6362 21.2661 17.9186 21.9541 16.6917 21.9541H4.24454C3.01764 21.9541 2.29984 21.2659 2.29984 20.1406V5.63132C2.29984 4.50567 3.01764 3.81778 4.24454 3.81778H5.80055V3.0922C5.80055 2.32046 6.51208 1.64131 7.35625 1.64131C8.20042 1.64131 8.91191 2.32046 8.91191 3.0922V3.81778V8.53308C8.91191 9.30497 8.20042 9.98397 7.35625 9.98397C6.51208 9.98397 5.80055 9.30497 5.80055 8.53308V6.67211V5.94666H4.24454V6.67211V8.53323C4.24454 10.114 5.6424 11.435 7.35625 11.435C9.0701 11.435 10.4679 10.114 10.4679 8.53323V3.81778H16.6916C17.9185 3.81778 18.636 4.50581 18.636 5.63132V20.1406H18.6362Z"
                            fill="#A9A9A9"
                          />
                        </svg>
                        <ng-container>
                          {{ item.name }}
                        </ng-container>
                      </td>
                      <td class="text-center">
                        {{
                          item.type === 'exam'
                            ? 'clinicalFile.exam.label'
                            : item.type === 'document'
                            ? 'clinicalFile.document.label'
                            : ('S/R' | transloco)
                        }}
                      </td>
                      <td class="text-center">
                        {{ moment(item.uploadDate).format('DD/MM/YYYY') }}
                      </td>
                      <td class="text-center">
                        <a href="{{ downloadUrl }}{{ access_token }}/{{ item.path }}?userId={{ id }}" download>
                          <button type="button" class="btn btn-outline-primary rounded-pill btn-sm mr-3">
                            {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                          </button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->

        <!--tab-->
        <div class="tab-pane fade" id="notasTab" role="tabpanel" aria-labelledby="notas">
          <div class="row mb-4 align-items-center">
            <div class="col-6">
              <h5 class="mb-0">{{ 'clinicalFile.patientData.tabs.prescriptions.label' | transloco }}</h5>
            </div>
            <!--
            <div class="col-6">
              <button class="btn btn-secondary rounded-pill float-right align-middle">
                Subir documento
              </button>
            </div>
            -->
          </div>
          <div class="row">
            <div class="col-12">
              <div class="bg-white p-3 rounded-lg">
                <table class="table mt-1">
                  <thead class="">
                    <tr>
                      <th scope="col" class="text-center">
                        {{ 'clinicalFile.patientData.tabs.identification.birthData.documentType.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">{{ 'clinicalFile.duedDate.label' | transloco }}</th>
                      <th scope="col" class="text-center">
                        {{ 'clinicalFile.patientData.tabs.exams.table.by.label' | transloco }}
                      </th>
                      <th scope="col" class="text-center">{{ 'table.action.label' | transloco }}</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->

        <!--tab-->
        <div class="tab-pane fade" id="timelineTab" role="tabpanel" aria-labelledby="timeline">
          <div class="row">
            <div class="col-12">
              <div class="bg-white p-4 rounded-lg text-center" *ngIf="timelineRecord.length">
                <h5 class="mb-0 text-left">{{ 'tabs.timeline.label' | transloco }}</h5>
                <div class="timeLine">
                  <div class="line bg-white">{{ moment().format('YYYY') }}</div>
                  <div class="line">
                    <button class="btn btn-secondary rounded-lg">
                      {{ moment().format('MMMM') }}
                    </button>
                  </div>
                  <ng-container *ngFor="let item of timelineRecord">
                    <div class="line">
                      <div class="row align-items-center">
                        <div class="col-5 text-right p-0">
                          <h3>{{ moment(item.date).format('DD') }}</h3>
                          {{ item.startAt }} {{ 'common.hours.label' | transloco }}
                        </div>
                        <div class="col p-0">
                          <svg
                            width="15"
                            height="15"
                            viewBox="0 0 15 15"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle cx="7.5" cy="7.5" r="7.5" fill="#3BC4CA" />
                          </svg>
                        </div>
                        <div class="col-5 text-left p-0">
                          <button class="btn btn-primary dos rounded-lg">
                            {{
                              (item.status === 'reserved'
                                ? 'clinicalFile.reserved.label'
                                : item.status === 'appointed'
                                ? 'clinicalFile.scheduled.label'
                                : item.status === 'rescheduled'
                                ? 'clinicalFile.reScheduled.label'
                                : item.status === 'active'
                                ? 'clinicalFile.active.label'
                                : item.status === 'waitingInRoom'
                                ? 'clinicalFile.inWaitingRoom.label'
                                : item.status === 'waitingInList'
                                ? 'clinicalFile.inWaitingList.label'
                                : item.status === 'running'
                                ? 'common.status.inProgress.label'
                                : item.status === 'pending'
                                ? 'clinicalFile.pending.label'
                                : item.status === 'finished'
                                ? 'clinicalFile.ended.label'
                                : item.status === 'canceled'
                                ? 'clinicalFile.canceled.label'
                                : null
                              ) | transloco
                            }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="line">
                      <div class="row align-items-center">
                        <div class="col-5 text-right p-0">
                          <div class="box">
                            <div class="boxCont text-center">
                              <div class="row">
                                <div class="col-3">
                                  <img src="assets/img/doctor-foto.svg" alt="img" />
                                </div>
                                <div class="col-9">
                                  <p class="m-0 text-left">{{ 'clinicalFile.apointmentWith.label' | transloco }}</p>
                                  <p class="m-0 text-left">
                                    {{ 'clinicalFile.dr.label' | transloco }} {{ item.professional?.name }}
                                    {{ item.professional?.lastName }} {{ item.professional?.secondlastName }}
                                  </p>
                                  <div class="btn btn-primary btn-sm rounded-pill float-left mt-2">
                                    <ng-container *ngIf="item.isActive; else inactivo">
                                      {{ 'common.status.active.label' | transloco }}
                                    </ng-container>
                                    <ng-template #inactivo>{{ 'clinicalFile.inactive.label' | transloco }}</ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 p-0">
                          <svg
                            width="15"
                            height="15"
                            viewBox="0 0 15 15"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle cx="7.5" cy="7.5" r="7.5" fill="#3BC4CA" />
                          </svg>
                        </div>
                        <!--
                        <div class="col-5 text-left p-0">
                          <h3>24</h3>
                          12:45 Hrs.
                        </div>-->
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->
      </div>
      <!--/tabs-->
    </div>
  </div>
</div>

<!-- Modal Nueva Consulta -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100 mt-1">
          {{ 'dashboard.home.tab.calendar.modal.newAtention.title' | transloco }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <ul class="nav nav-tabs nav-pills nav-fill tabconsultamodal rounded" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home2"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >{{ 'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.label' | transloco }}</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile2"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >{{ 'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.label' | transloco }}</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
            <form class="mt-4">
              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.name.label' | transloco
                  }}</label>
                  <input type="text" class="form-control" name="startBlock" />
                </div>
                <div class="form-group col">
                  <label for="endBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.calendar.label' | transloco
                  }}</label>
                  <input type="date" class="form-control" name="endBlock" />
                </div>
              </div>

              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.schedule.label' | transloco
                  }}</label>
                  <input type="time" class="form-control" name="startBlock" min="07:00" max="20:00" />
                </div>
                <div class="form-group col">
                  <label for="endBlock">Objetivo de consulta</label>
                  <input type="text" class="form-control" name="endBlock" />
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
            <form class="mt-4">
              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.name.label' | transloco
                  }}</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group col">
                  <label for="endBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.email.label' | transloco
                  }}</label>
                  <input type="email" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.emailNewUser.message.label' | transloco
                  }}</label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.calendar.label' | transloco
                  }}</label>
                  <input type="date" class="form-control" name="startBlock" min="07:00" max="20:00" />
                </div>
                <div class="form-group col">
                  <label for="endBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.schedule.label' | transloco
                  }}</label>
                  <input type="time" class="form-control" min="07:00" max="20:00" name="endBlock" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="startBlock">{{
                    'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.objetive.label' | transloco
                  }}</label>
                  <input type="text" class="form-control" name="startBlock" min="07:00" max="20:00" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">cancelar</button>
        <button
          type="button"
          class="btn btn-primary rounded-pill"
          data-dismiss="modal"
          routerLink="crear-ficha-consulta"
        >
          {{ 'dashboard.home.tab.calendar.modal.newAtention.title' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" type="line-scale" size="default" color="#fff">
  <!-- <p style="color: white" > cargando...</p> -->
</ngx-spinner>
