<div class="container-fluid">
  <div class="row">
    <div class="col mt-5">
      <h2>Mis pacientes</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 mt-3">
    <div *ngFor="let user of users" class="col mb-4">
      <div class="card">
        <div class="img">
          <img [src]="user.avatar" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to additional content. This content is
            a little bit longer.
          </p>
          <button class="btn btn-primary"><a routerLink="/ficha-paciente">Ver Ficha</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
