<div class="row">
  <div class="col mb-2">
    <h2>{{ 'dashboard.home.userManagment.createAccount.tabs.role.profileManagment.title' | transloco }}</h2>
  </div>
  <div class="col">
    <button
      *ngIf="currentUser.policies.profilePolicies.create"
      type="button"
      class="btn btn-primary rounded-pill float-right"
      routerLink="crear-perfil"
    >
      Crear Perfil
      <img src="assets/icons/icon-plus-circle.svg" />
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-12 col-md-3">
        <input
          [(ngModel)]="searchTerm"
          type="text"
          class="form-control"
          placeholder="{{ 'common.placeholder.search.label' | transloco }}"
          (keyup)="applyFilters()"
        />
        <div class="searchBox">
          <img src="assets/icons/icon-search.svg" />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <select [(ngModel)]="roleSelected" class="form-control" (change)="applyFilters()">
            <option [ngValue]="null"
              >{{ 'common.dropdown.filter.label' | transloco }}
              {{ 'dashboard.home.userManagment.createAccount.tabs.role.label' | transloco }}</option
            >
            <option [ngValue]="'admin'">{{ 'common.roles.admin.label' | transloco }}</option>
            <option [ngValue]="'coordinator'">{{ 'tabs.coordinator.label' | transloco }}</option>
            <option [ngValue]="'professional'">{{ 'clinicalFile.patientData.tabs.doctor.label' | transloco }}</option>
          </select>
        </div>
      </div>
    </div>
    <!--consultas activas-->
    <div class="row mt-1">
      <div class="col-12">
        <h5 style="display: none;">{{ 'clinicalFile.acriveServices.label' | transloco }}</h5>
      </div>
      <div class="col-12 mb-4">
        <div class="tableBox rounded p-4 bg-white">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">{{ 'dashboard.home.config.tabs.reason.modalCreate.name.label' | transloco }}</th>
                <th scope="col">{{ 'dashboard.home.userManagment.createAccount.tabs.role.label' | transloco }}</th>
                <th scope="col">
                  {{ 'dashboard.home.waitingRoomManagment.modal.create.description.label' | transloco }}
                </th>
                <th scope="col">
                  {{ 'dashboard.home.config.tabs.healthProfessionals.table.users.label' | transloco }}
                </th>
                <th scope="col">{{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let profile of profiles">
                <td scope="row">
                  {{ profile.profileName }}
                </td>
                <td>
                  <span *ngIf="profile.role === 'admin'">{{ 'common.roles.admin.label' | transloco }}</span>
                  <span *ngIf="profile.role === 'coordinator'">{{ 'tabs.coordinator.label' | transloco }}</span>
                  <span *ngIf="profile.role === 'professional'">{{
                    'clinicalFile.patientData.tabs.doctor.label' | transloco
                  }}</span>
                </td>

                <td>{{ profile.description || 'S/R' }}</td>
                <td>
                  <div *ngIf="profile.users.length; else noUsers">
                    <button
                      class="btn btn-sm btn-outline-primary rounded-pill"
                      [routerLink]="['../../gestion-usuarios']"
                      [queryParams]="{ role: profile.role, profile: profile.id }"
                    >
                      {{ 'common.viewUsers.label' | transloco }}
                    </button>
                  </div>
                  <ng-template #noUsers>
                    <span class="text-secondary"
                      >{{ 'common.thisProfileDoesntHave.label' | transloco }}
                      <b>{{ 'tabs.users.label' | transloco }}</b> {{ 'common.associated.label' | transloco }}</span
                    >
                  </ng-template>
                </td>
                <td>
                  <div class="btn-group">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                      <button class="btn btn-light btn-sm rounded-pill">
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button
                        *ngIf="currentUser.policies.profilePolicies.update"
                        class="dropdown-item"
                        type="button"
                        [routerLink]="['editar-perfil']"
                        [queryParams]="{ profileId: profile.id }"
                      >
                        {{ 'clinicalFile.edit.label' | transloco }}
                      </button>
                      <button
                        *ngIf="currentUser.policies.profilePolicies.delete && profile.isActive"
                        class="dropdown-item"
                        type="button"
                        (click)="deactivateProfile(profile.id)"
                      >
                        {{ 'clinicalFile.deactivate.label' | transloco }}
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!---->
    <div class="row">
      <div class="col-12 text-right">
        <ngb-pagination
          class="float-right"
          [collectionSize]="profiles.length"
          [(page)]="page"
          aria-label="Default pagination"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
