<div class="row">
  <div class="col mb-2">
    <h2>Gestión de Perfiles</h2>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary rounded-pill float-right" routerLink="crear-perfil">
      Crear Perfil
      <svg
        width="1.5em"
        height="1.5em"
        viewBox="0 0 16 16"
        class="bi bi-plus-circle"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
        />
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      </svg>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row mt-2">
      <div class="col-12 col-md-3">
        <input
          [(ngModel)]="searchTerm"
          type="text"
          class="form-control"
          placeholder="Busqueda"
          (keyup)="applyFilters()"
        />
        <div class="searchBox">
          <img src="assets/icons/icon-search.svg" />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <select [(ngModel)]="roleSelected" class="form-control" (change)="applyFilters()">
            <option [ngValue]="null">Filtro por Rol</option>
            <option [ngValue]="'admin'">Administrador</option>
            <option [ngValue]="'coordinator'">Coordinador</option>
            <option [ngValue]="'professional'">Profesional</option>
          </select>
        </div>
      </div>
    </div>
    <!--consultas activas-->
    <div class="row mt-1">
      <div class="col-12">
        <h5 style="display: none;">Mis consultas activas</h5>
      </div>
      <div class="col-12 mb-4">
        <div class="tableBox rounded p-4 bg-white">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Descripción</th>
                <th scope="col">Usuarios</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let profile of profiles">
                <td scope="row">
                  {{ profile.profileName }}
                </td>
                <td>
                  <span *ngIf="profile.role === 'admin'">Administrador</span>
                  <span *ngIf="profile.role === 'coordinator'">Coordinador</span>
                  <span *ngIf="profile.role === 'professional'">Profesional</span>
                </td>

                <td>{{ profile.description || 'S/R' }}</td>
                <td>
                  <div *ngIf="profile.users.length; else noUsers">
                    <button
                      class="btn btn-sm btn-outline-primary rounded-pill"
                      [routerLink]="['../../gestion-usuarios']"
                      [queryParams]="{ role: profile.role, profile: profile.id }"
                    >
                      Ver Usuarios
                    </button>
                  </div>
                  <ng-template #noUsers>
                    <span class="text-secondary">Este perfil no tiene <b>usuarios</b> asociados</span>
                  </ng-template>
                </td>
                <td>
                  <div class="btn-group">
                    <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                      <button class="btn btn-light btn-sm rounded-pill">
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button
                        data-toggle="modal"
                        data-target="#editar"
                        class="dropdown-item"
                        type="button"
                        [routerLink]="['editar-perfil']"
                        [queryParams]="{ profileId: profile.id }"
                      >
                        Editar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!---->
    <div class="row">
      <div class="col-12 text-right">
        <ngb-pagination
          class="float-right"
          [collectionSize]="profiles.length"
          [(page)]="page"
          aria-label="Default pagination"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
