<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <h2>Cambiar clave</h2>
      <p>Información de tu contraseña actual</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!--card-->
      <div class="card bg-light mb-3" style="display: none;">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Contraseña actual
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Última modificación el 17 de marzo del 2020</div>
            <div class="col-6">
              <button type="button" class="btn btn-outline-secondary float-right">Cambiar Contraseña</button>
            </div>
          </div>
        </div>
      </div>
      <!--/card-->

      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Cambiar contraseña
              </h4>
            </div>
          </div>
          <div class="row">
            <form class="p-4" style="width: 100%;" [formGroup]="changePassForm">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Contraseña actual</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': !changePassForm.get('password').valid && changePassForm.get('password').touched
                    }"
                    maxlength="20"
                  />
                  <div *ngIf="changePassForm.controls['password'].errors" class="invalid-feedback">
                    <ul>
                      <li>contraseña actual requerida</li>
                    </ul>
                  </div>
                  <div *ngIf="errorPassCurrent" class="invalid-feedback" style="display: block;">
                    La contraseña actual es incorrecta
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Nueva Contraseña</label>
                  <input
                    type="password"
                    id="newPassword"
                    formControlName="newPassword"
                    class="form-control"
                    name="newPassword"
                    [ngClass]="{
                      'is-invalid':
                        !changePassForm.get('newPassword').valid && changePassForm.get('newPassword').touched
                    }"
                    maxlength="20"
                  />
                  <div *ngIf="changePassForm.controls['newPassword'].errors?.pattern" class="invalid-feedback">
                    <ul>
                      <li>{{ 'crear-cuenta.step4.formGroup.condicionPassword.1' | transloco }}</li>
                      <li>{{ 'crear-cuenta.step4.formGroup.condicionPassword.2' | transloco }}</li>
                      <li>{{ 'crear-cuenta.step4.formGroup.condicionPassword.3' | transloco }}</li>
                      <li>{{ 'crear-cuenta.step4.formGroup.condicionPassword.4' | transloco }}</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="confirmPassword">Repetir contraseña</label>
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    [ngClass]="{
                      'is-invalid':
                        !changePassForm.get('confirmPassword').valid && changePassForm.get('confirmPassword').touched
                    }"
                    maxlength="20"
                  />
                  <div *ngIf="passwordNotMatchs" class="invalid-feedback">
                    <ul>
                      <li>Contraseña no coincide</li>
                    </ul>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <password-strength-meter [enableFeedback]="false" [password]="changePassForm.value.newPassword">
                  </password-strength-meter>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12">
                  <div class="alert alert-secondary" role="alert">
                    <div class="row">
                      <div class="col-2 text-center">
                        <svg
                          width="3em"
                          height="3em"
                          viewBox="0 0 16 16"
                          class="bi bi-shield-lock-fill color-primary"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.187 1.025C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815zm3.328 6.884a1.5 1.5 0 1 0-1.06-.011.5.5 0 0 0-.044.136l-.333 2a.5.5 0 0 0 .493.582h.835a.5.5 0 0 0 .493-.585l-.347-2a.5.5 0 0 0-.037-.122z"
                          />
                        </svg>
                      </div>
                      <div class="col-10 pl-0">
                        {{ 'crear-cuenta.step4.formGroup.remember' | transloco }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/card-->
      <div class="form-row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-secondary float-right rounded-pill"
            [disabled]="!changePassForm.valid"
            (click)="changePass()"
          >
            Cambiar Contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
