.boxVideos {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
  .c {
    //height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
  }
}

.bg-dark {
  background: #c4c4c4 !important;
}
.publishing {
  border: 2px solid #ffffff;
}

.inter {
  height: 95vh;
  overflow-y: auto;
}

.flex-item:nth-child(1) {
}

.subscriberBox {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 400px;

  #subscriber {
    display: inline-block;
    margin: 0px 5px 5px 0px;
  }

  app-subscriber {
    float: right;
    &:first-child {
      left: 0px;
      top: 0px;
      position: absolute;
      width: 100%;
      .OT_publisher,
      .OT_subscriber {
        width: 100% !important;
      }
    }
    div {
      width: 100% !important;
      display: inline-block;
    }
    .subscriber {
      float: right;
    }
  }
}
.controls {
  height: 100px;
  position: absolute;
  background: #393939;
  width: 100%;
  bottom: 0px;
}

.publisherBox {
  position: absolute;
  z-index: 2;
  left: 22px;
  bottom: 121px;
  //overflow-x: hidden;
  width: 100%;
  app-publisher {
    video {
      border: 2px solid #ffffff;
    }
  }
}
/*
app-publisher {
    display: inline-block;
    position: relative;
    width:100%;
}
app-subscriber {
    bottom: 0px;
    right: 0px;
}
.videoLlamada {
    max-width: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.OT_mirrored {
    width: 100% !important;
    margin: 0px 0px 0px 0px !important;
}

#boxCalls {
        position: absolute;
    z-index: 999;
    right: 0;
    top: 40px;
    height: 90%;
    width: 270px;
    overflow-x: hidden;
    #subscriber {
        display: inline-block;
        margin:0px 5px 0px 5px;
    }
}

.close {
    position: absolute;
}
.modal-dialog {
    width: 100%;
    padding: 0px;
    margin: 0px !important;
}
.modal-content {
    background: #000000;
    height: 100vh;
    width: 100%;
    .modal-body {
        padding: 0px;
    }
    .modal-footer{
        position: relative;
        top: -22px;
        border: none;
    }
    
}
#exampleModal{
    padding: 0px !important;
}

#publisher {
    width: 100%;
    z-index: 20;
    border-radius: 3px;
    video {
        width: 100%;
        display: inline-block;
    }
}*/
