
.OT_mirrored {
    width: 100% !important;
    margin: 0px 0px 0px 0px !important;
}

.OT_publisher, .OT_subscriber {
    width: 100% !important;
    margin: 0px 0px 0px 0px !important;
    position: relative;
    min-width: 48px;
    min-height: 48px;
}