<div class="container-fluid p-5">
    <div class="row">
      <div class="col mb-2">
        <h3>Gestión de perfiles / Crear perfiles</h3>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary rounded-pill float-right"
          routerLink="crear-perfil"
        >
           Crear perfil
          <svg
            width="1.5em"
            height="1.5em"
            viewBox="0 0 16 16"
            class="bi bi-plus-circle"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
            />
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-4">
        <div class="boxTabSecondary">
          <ul class="nav nav-tabs nav-pills  nav-justified tabchild tab-consulta w-100 secondary rounded "  role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#administrador" role="tab" aria-controls="home" aria-selected="true">
                Administrador
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#coordinador" role="tab" aria-controls="profile" aria-selected="false">
                Coordinador
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#profesional" role="tab" aria-controls="contact" aria-selected="false">
                Profesionales de salud 
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <!--tab child-->
              <ul class="nav nav-tabs mt-4" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="home" aria-selected="true">
                    Información
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">
                    Usuarios
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    Perfiles
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="consultas-tab" data-toggle="tab" href="#consultas" role="tab" aria-controls="consultas" aria-selected="false">
                    Consultas
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="disponibilidad-tab" data-toggle="tab" href="#disponibilidad" role="tab" aria-controls="disponibilidad" aria-selected="false">
                    Disponibilidad
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="sale-tab" data-toggle="tab" href="#sale" role="tab" aria-controls="sale" aria-selected="false">
                    Sala de espera
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="clinica-tab" data-toggle="tab" href="#clinica" role="tab" aria-controls="clinica" aria-selected="false">
                    Clínica Reporte
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="reporte-tab" data-toggle="tab" href="#reporte" role="tab" aria-controls="reporte" aria-selected="false">
                    Reporte
                  </a>
                </li>
              </ul>
              <!--pestañas-->
              <div class="tab-content  rounded mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                  <div class="bg-white rounded">
                    <form class="p-4">   
                      <div class="row">
                        <div class="col-4">
                          <div class="form-group">
                            <label for="nameClinic">Nombre clínica</label>
                            <input type="text" class="form-control" id="nameClinic">
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                            <label for="descripcion"> Descripción</label>
                            <textarea class="form-control" id="descripcion" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de usuarios</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr id="item.id">
                          <td scope="row" class="text-left">
                            CREAR USUARIO
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr id="item.id2">
                          <td scope="row" class="text-left">
                            EDITAR USUARIO
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr id="item.id2">
                          <td scope="row" class="text-left">
                            DESHABILITAR USUARIO
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr id="item.id2">
                          <td scope="row" class="text-left">
                            ENVÍAR INVITACION AL PACIENTE
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch6">
                              <label class="custom-control-label" for="customSwitch6"></label>
                            </div>
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de perfiles</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            CREAR PERFIL
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR PERFIL
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            DESHABILITAR PERFIL
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="consultas" role="tabpanel" aria-labelledby="consultas-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de consultas</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            ACCESO A CALENDARIO
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            AGENDAR CONSULTA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR CONSULTAS
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            CANCELAR CONSULTA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="disponibilidad" role="tabpanel" aria-labelledby="disponibilidad-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de disponibilidad</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            CREAR DISPONIBILIDAD
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR DISPONIBILIDAD
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            CANCELAR DISPONIBILIDAD
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                     
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de Sala de espera</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            CREAR SALA DE ESPERA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR SALA DE ESPERA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            CANCELAR SALA DE ESPERA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            ASIGNAR SALA DE ESPERA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                     
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="clinica" role="tabpanel" aria-labelledby="clinica-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Configuración clínica</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR INFORMACIÓN
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR DISEÑO
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR NOTIFICACIONES
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR PROFESIONALES DE SALUD
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR ESPECIALIDAD
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            EDITAR OBJETIVO DE CONSULTA
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch5">
                              <label class="custom-control-label" for="customSwitch5"></label>
                            </div>
                          </td>
                        </tr>
                     
                      </tbody>
                    </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="reporte" role="tabpanel" aria-labelledby="reporte-tab">
                  <div class="custom-control custom-switch mb-4">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Gestión de Reporte</label>
                  </div>
                  <div class="bg-white p-4 rounded">
                    <table class="table mt-1">
                      <thead class="">
                        <tr>
                          <th scope="col" class="text-left">Nombre de acceso</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <th scope="col" class="text-right">Estado</th>
                        </tr>
                      </thead>
    
                      <tbody>
                        <tr>
                          <td scope="row" class="text-left">
                            GESTIÓN DE REPORTE
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td scope="row" class="text-left">
                            GESTIÓN DE LOGS
                          </td>
                          <td class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a ipsum nulla. Vestibulum.
                          </td>
                          <td class="text-right"> 
                            <div class="custom-control custom-switch mb-4">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                          </td>
                        </tr>
                      
                     
                      </tbody>
                    </table>
                   </div>
                </div>
              </div><!--/pestañas-->
          </div>
        </div>
      </div>
    </div>
  
  </div>
  