$color-primary: #35a6f5;
$color-hover: #3bc4ca;
$color-secondary: #00ff00;
$color-success: #0000ff;
$color-danger: #ff5971;
$color-warning: #00ff00;
$color-info: #0000ff;
$color-light: #ff0000;
$color-dark: #00ff00;
$color-body: #0000ff;
$color-white: #0000ff;
