<div class="row">
  <div class="col mb-3">
    <h2>{{ 'common.menu.history.label' | transloco }}</h2>
  </div>
  <div class="col">
    <button #newAppointment id="newAppointment" type="button" class="btn btn-primary rounded-pill float-right"
      ng-reflect-tour-anchor="agendar" data-toggle="modal" data-target="#modalAppointment">
      {{ 'clinicalFile.newService.label' | transloco }}
      <img src="assets/icons/icon-plus-circle.svg" alt="img" />
    </button>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input [(ngModel)]="searchTerm" type="text" class="form-control"
      placeholder="{{ 'common.placeholder.search.label' | transloco }}" (keyup)="applyFiltersAppointments()" />
    <div class="searchBox">
      <img src="assets/icons/icon-search.svg" />
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <select [(ngModel)]="appointmentStatusSelected" class="form-control" id="status"
        (change)="applyFiltersAppointments()">
        <option [ngValue]="null">{{ 'clinicalFile.filterByState.label' | transloco }}</option>
        <option ngValue="reserved">{{ 'clinicalFile.reserved.label' | transloco }}</option>
        <option ngValue="appointed">{{ 'clinicalFile.scheduled.label' | transloco }}</option>
        <option ngValue="rescheduled">{{ 'clinicalFile.reScheduled.label' | transloco }}</option>
        <option ngValue="active">{{ 'clinicalFile.active.label' | transloco }}</option>
        <option ngValue="waitingInRoom">{{ 'clinicalFile.inWaitingRoom.label' | transloco }}</option>
        <option ngValue="waitingInList">{{ 'clinicalFile.inWaitingList.label' | transloco }}</option>
        <option ngValue="running">{{ 'common.status.inProgress.label' | transloco }}</option>
        <option ngValue="pending">{{ 'clinicalFile.pending.label' | transloco }}</option>
        <option ngValue="finished">{{ 'clinicalFile.ended.label' | transloco }}</option>
        <option ngValue="canceled">{{ 'clinicalFile.canceled.label' | transloco }}</option>
      </select>
    </div>
  </div>

  <button type="button" class="btn custom-btn-1 mx-2" (click)="exportAsExcelFile()" [disabled]="!selected.length"
    data-toggle="tooltip" data-placement="top"
    [title]="'dashboard.home.userManagment.tooltips.downloadXls.label' | transloco">
    <img src="assets/icons/icon-export-excel.svg" />
  </button>
</div>

<!--appointments activas-->
<div class="row mt-1">
  <div class="col-12 mb-4">
    <div class="tableBox rounded p-4 bg-white">
      <ngx-datatable *ngIf="appointments?.length; else noData" class="material" [rows]="appointments"
        headerHeight="auto" footerHeight="auto" rowHeight="70" [columnMode]="ColumnMode.flex" [limit]="10"
        [selected]="selected" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="true"
        (select)="onSelect($event)">
        <!-- MULTISELECT -->
        <ngx-datatable-column [width]="30" [sortable]="false" [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <input class="mb-n2" [ngStyle]="{ height: '24px' }" type="checkbox" [checked]="allRowsSelected"
              (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-row="row" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input class="mb-n2" [ngStyle]="{ height: '24px' }" type="checkbox" [checked]="isSelected"
              (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="ID Paciente" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{
              row.patientDetails.userDetails[0]?.identificationData.cpf ||
                row.patientDetails.userDetails[0]?.identificationData.cns ||
                row.patientDetails.userDetails[0]?.identificationData.rgRegistry ||
                row.patientDetails.userDetails[0]?.identificationData.passport
            }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Nombre Paciente" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <img *ngIf="(row.patientDetails?.userDetails)[0]?.photo; else noPhoto" class="profile mr-2" id="image0"
              width="38" height="38" [src]="photoUrlBase + (row.patientDetails?.userDetails)[0]?.photo" alt="img" />
            <ng-template #noPhoto>
              <img class="profile mr-2" id="image0" width="38" height="38" src="assets/img/profile.png" alt="img" />
            </ng-template>
            {{ row.patientDetails.userDetails[0]?.personalData.name || 'S/R' }}
            {{ row.patientDetails.userDetails[0]?.personalData.secondLastName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" [name]="'table.date.label' | transloco"
          prop="dateDetails.date">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.dateDetails.date">
              {{ row.dateDetails.date | date: 'dd/MM/yyyy':'+0000' }}
            </div>
            <div *ngIf="row.dateDetails.createdAt">
              {{ row.dateDetails.createdAt | date: 'dd/MM/yyyy':'+0000' }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Hora" prop="dateDetails.start">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.dateDetails.date">{{ row.dateDetails.start }} hrs.</div>
            <div *ngIf="row.dateDetails.createdAt">{{ moment(row.dateDetails.createdAt).format('HH:mm') }} hrs.</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Sala">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.administrativeDetails.isImmediate; else noWaitingRoom">
              {{ 'table.immediate.label' | transloco }}
            </div>
            <ng-template #noWaitingRoom>
              {{ 'table.agendada.label' | transloco }}
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" [name]="'table.doctor.label' | transloco"
          [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.professionalDetails.userDetails[0]?.name || 'S/R' }}
            {{ row.professionalDetails.userDetails[0]?.secondLastName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="Estado" prop="administrativeDetails.status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button *ngIf="row.administrativeDetails.status !== 'created'; else invalidStatus" type="button"
              class="btn btn-secondary rounded-pill btn-sm">
              {{
                (row.administrativeDetails.status === 'reserved'
                  ? 'clinicalFile.reserved.label'
                  : row.administrativeDetails.status === 'appointed'
                  ? 'clinicalFile.scheduled.label'
                  : row.administrativeDetails.status === 'rescheduled'
                  ? 'clinicalFile.reScheduled.label'
                  : row.administrativeDetails.status === 'active'
                  ? 'clinicalFile.active.label'
                  : row.administrativeDetails.status === 'waitingInRoom'
                  ? 'clinicalFile.inWaitingRoom.label'
                  : row.administrativeDetails.status === 'waitingInList'
                  ? 'clinicalFile.inWaitingList.label'
                  : row.administrativeDetails.status === 'running'
                  ? 'common.status.inProgress.label'
                  : row.administrativeDetails.status === 'pending'
                  ? 'clinicalFile.pending.label'
                  : row.administrativeDetails.status === 'finished'
                  ? 'clinicalFile.ended.label'
                  : row.administrativeDetails.status === 'canceled'
                  ? 'clinicalFile.canceled.label'
                  : null
                ) | transloco
              }}
            </button>
            <ng-template #invalidStatus>{{ 'common.notAll.label' | transloco }}</ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [flexGrow]="1" [name]="'table.action.label' | transloco"
          [sortable]="false">

          <ng-template let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown container="body">
              <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg>
              </button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem type="button" data-toggle="modal" (click)="setAppointment(row)" data-target="#modalReAgendamiento">
                  {{ 'clinicalFile.reschedule.label' | transloco }}
                </button>
                <button ngbDropdownItem type="button">
                  {{ 'common.button.cancel.label' | transloco }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column [resizeable]="false" [flexGrow]="1" [name]="'table.action.label' | transloco"
          [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.administrativeDetails.status === 'finished'">
              <a routerLink="{{ row._id }}">
                <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm">
                  {{ 'clinicalFile.viewMedCard.label' | transloco }}
                </button>
              </a>
            </ng-container>
            <ng-container *ngIf="
                row.administrativeDetails.status === 'running' ||
                row.administrativeDetails.status === 'active' ||
                row.administrativeDetails.status === 'appointed' ||
                row.administrativeDetails.status === 'pending'
              ">
              <a routerLink="{{ row._id }}">
                <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm">
                  {{ 'clinicalFile.attend.label' | transloco }}
                </button>
              </a>
            </ng-container>
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>
      <ng-template #noData>
        <h5 class="text-center text-primary">{{ 'clinicalFile.noMatches.label' | transloco }}</h5>
      </ng-template>
      <!--/tab-->
    </div>
  </div>
</div>

<modal-create-appointment #modalAppointment></modal-create-appointment>
<modal-reagendamiento [modalConfig] #modalReAgendamiento></modal-reagendamiento>