
    <!--tabs hijos-->
    <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="home-tab" data-toggle="tab" href="#child1" role="tab" aria-controls="child"
                aria-selected="true" [ngClass]="(openAppointments.length >= 1)?'active':'my-class2'">
                {{ 'dashboard.home.tab.home.tab.openAppointments.title' | transloco }}
                <span class="badge bg-secondary">{{openAppointments.length}}</span>
              </a>
     
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#child2" role="tab" aria-controls="child2"
                aria-selected="false" [ngClass]="(openAppointments.length == 0 )?'active':'my-class2'">
                {{ 'dashboard.home.tab.home.tab.nextServices.title' | transloco }}
                <span class="badge bg-secondary">{{nextAppointments.length}}</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#child3" role="tab" aria-controls="child2"
                aria-selected="false">
                {{ 'dashboard.home.tab.home.tab.nextAppointments.title' | transloco }}
                <span class="badge bg-secondary">{{immediateAppointments.length}}</span>
              </a>
            </li>
            <!--
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#child1" role="tab" aria-controls="child"
                aria-selected="true">
                {{ 'dashboard.home.tab.home.tab.nextServices.title' | transloco }}
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#child2" role="tab" aria-controls="child2"
                aria-selected="false">
                {{ 'dashboard.home.tab.home.tab.onHold.title' | transloco }}
              </a>
            </li>-->
          </ul>
        </div>
  
        <div class="col-12">
          <div class="tab-content pt-4" id="myTabContent">
               <!--consultas abiertas -->
          <div class="tab-pane fade " id="child1" role="tabpanel" aria-labelledby="home-tab"
          [ngClass]="(openAppointments.length >= 1 )?'show active':'my-class2'">

          <input type="text" 
          id="searchopenAppointment" 
          (keyup)='filterTable($event.target.id)' 
          placeholder="Buscar" 
          style="padding-left:10px;"
          (focusout)="retryTimer()"
          >
            <!-- -->



          <div class="tableBox p-4 bg-white mt-3">
            <table class="table" id="searchopenAppointmentTable">
              <thead>
                <tr>
                  <th scope="row">
                    {{ 'videoChat.modalEnd.patient.label' | transloco }}
                  </th>
                  <th>{{'tables.consultas.HoraAgendada' | transloco}}</th>
                  <!--horario inicio atencion-->
                  <th>{{'tables.consultas.HoraEspera' | transloco}}</th>
                  <th>{{'tables.consultas.TiempoAtencion' | transloco}}</th>
                  <th>{{'tables.consultas.ProfesionalSalud' | transloco}}</th>
                  <th>
                    {{'tables.consultas.SalaEspera' | transloco }}
                  </th>
                 
                  <th>{{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}</th>
                  <th>
                    {{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of openAppointments" id="{{ item._id }}">
                  <ng-container *ngIf="item.administrativeDetails.status !== 'finished'">
                    <td scope="row" *ngIf="item.patientDetails?.userDetails[0]; else sinInfo">
                      {{ item.patientDetails?.userDetails[0].personalData.name + ' ' + (setup == 'CL' ? item.patientDetails?.userDetails[0]?.personalData.lastName : item.patientDetails?.userDetails[0]?.personalData.secondLastName) }}
                      
                    </td>
                    <ng-template #sinInfo>
                      <td scope="row">{{ 'common.noInfo.label' | transloco }}</td>
                    </ng-template>
                    <td>
                      {{ item.dateDetails.scheduledAt | date: 'dd/MM/yy' }} <br>
                      {{ item.dateDetails.start}}
                    </td>
                    <td>
                      <ng-container *ngIf="item.startTime == null; else info1">
                        S/R
                      </ng-container>
                      <ng-template #info1>
                        {{ item.startTime }}
                      </ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="item.attentionTime == null; else info2">
                        S/R
                      </ng-container>
                      <ng-template #info2>
                        {{ item.attentionTime }}
                      </ng-template>
                    </td>
                    <td> 
                      <ng-container *ngIf="item.professionalDetails?.userDetails.lenght == 0; else professionalDetailsData">
                        S/R
                      </ng-container>
                      <ng-template #professionalDetailsData>
                        {{ item.professionalDetails?.userDetails[0]?.name}} 
                        {{ setup == 'CL' ? item.professionalDetails?.userDetails[0]?.lastName : item.professionalDetails?.userDetails[0]?.secondLastName }}
                      </ng-template>
                    </td>
                    <td>
                      <!--
                      <ng-container *ngIf="item.administrativeDetails.waitingRoomDetails.length == 0; else info3">
                        S/R
                      </ng-container>
                      <ng-template #info3> 
                      </ng-template>-->
                      {{ item.administrativeDetails.waitingRoomDetails[0]?.name}}
                    </td>
                    <td>
                      <span class="badge badge-primary">
                        {{
                          (item.administrativeDetails.status === 'reserved'
                            ? 'clinicalFile.reserved.label'
                            : item.administrativeDetails.status === 'appointed'
                            ? 'clinicalFile.scheduled.label'
                            : item.administrativeDetails.status === 'rescheduled'
                            ? 'clinicalFile.reScheduled.label'
                            : item.administrativeDetails.status === 'active'
                            ? 'clinicalFile.active.label'
                            : item.administrativeDetails.status === 'waitingInRoom'
                            ? 'clinicalFile.inWaitingRoom.label'
                            : item.administrativeDetails.status === 'waitingInList'
                            ? 'clinicalFile.inWaitingList.label'
                            : item.administrativeDetails.status === 'running'
                            ? 'common.status.inProgress.label'
                            : item.administrativeDetails.status === 'pending'
                            ? 'clinicalFile.pending.label'
                            : item.administrativeDetails.status === 'finished'
                            ? 'clinicalFile.ended.label'
                            : item.administrativeDetails.status === 'canceled'
                            ? 'clinicalFile.canceled.label'
                            : 'S/R'
                          ) | transloco
                        }}
                      </span>
                    </td>
                    <td>
                      <ng-container>
                        <div ngbDropdown container="body">
                          <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                          </button>

                          <div ngbDropdownMenu>

                            <div *ngIf="item.canUse"><!--*ngIf="item.canUse"-->
                              <button *ngxPermissionsOnly="['Update:Appointment']" ngbDropdownItem type="button" (click)='openModalReagendamiento(item)'
                                data-toggle="modal" data-target="#modalReAgendamiento">
                                  {{ 'clinicalFile.reschedule.label' | transloco }}
                              </button>
                            </div>

                            <div ><!--*ngIf="item.canUse" *ngxPermissionsOnly="['Cancel:Appointment']"-->
                              <button   ngbDropdownItem type="button" (click)="setAppointmentCancelReasons(item)"
                                data-toggle="modal" data-target="#modalCancelAppointment">
                                {{ 'dashboard.home.uncategorized.cancelService.label' | transloco }}
                              </button>
                            </div>

                            <div *ngIf="item.administrativeDetails.isImmediate == true"><!--*ngIf="item.canUse" *ngxPermissionsOnly="['Cancel:Appointment']"-->
                              <button   ngbDropdownItem type="button" (click)="quitAsignation(item)">
                                {{ 'dashboard.home.uncategorized.quitAsignation.label' | transloco }}
                              </button>
                            </div>

                          </div>
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!--/consultas abiertas-->

        <!-- proximas consultas -->
        <div class="tab-pane fade" id="child2" role="tabpanel" aria-labelledby="profile-tab"
        [ngClass]="(openAppointments.length == 0 )?'show active':'my-class2'"
        >

        <input type="text" id="searchnextAppointment" (keyup)='filterTable($event.target.id)' placeholder="Buscar" style="padding-left:10px;">
          <div class="tableBox p-4 bg-white mt-3">
            <table class="table" id="searchnextAppointmentTable">
              <thead>
                <tr>
                  <th scope="row">
                    {{ 'videoChat.modalEnd.patient.label' | transloco }}
                  </th>
                  <th>{{'tables.consultas.HoraAgendada' | transloco}}</th>
                  <!--horario inicio atencion-->
                  <th>{{'tables.consultas.HoraEspera' | transloco}}</th>
                  <th>{{'tables.consultas.TiempoAtencion' | transloco}}</th>
                  <th>{{'tables.consultas.ProfesionalSalud' | transloco}}</th>
                  <th>
                    {{'tables.consultas.SalaEspera' | transloco }}
                  </th>
                 
                  <th>{{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}</th>
                  <th>
                    {{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of nextAppointments" id="{{ item._id }}">
                  <ng-container *ngIf="item.administrativeDetails.status !== 'finished'">
                    <td scope="row" *ngIf="item.patientDetails?.userDetails[0]; else sinInfo">
                      {{ item.patientDetails?.userDetails[0].personalData.name + ' ' + (setup == 'CL' ? item.patientDetails?.userDetails[0]?.personalData.lastName : item.patientDetails?.userDetails[0]?.personalData.secondLastName) }}
                      
                    </td>
                    <ng-template #sinInfo>
                      <td scope="row">{{ 'common.noInfo.label' | transloco }}</td>
                    </ng-template>
                    <td>
                      {{ item.dateDetails.scheduledAt | date: 'dd/MM/yy' }} <br>
                      {{ item.dateDetails.start}}
                    </td>
                    <td>
                      <ng-container *ngIf="item.startTime == null; else info1">
                        S/R
                      </ng-container>
                      <ng-template #info1>
                        {{ item.startTime }}
                      </ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="item.attentionTime == null; else info2">
                        S/R
                      </ng-container>
                      <ng-template #info2>
                        {{ item.attentionTime }}
                      </ng-template>
                    </td>
                    <td> 
                      {{ item.professionalDetails?.userDetails[0]?.name + ' ' + (setup == 'CL' ? item.professionalDetails?.userDetails[0]?.lastName : item.professionalDetails?.userDetails[0]?.secondLastName)}}
                    </td>
                    <td>
                      <!-- 
                      <ng-container *ngIf="item.administrativeDetails.waitingRoomDetails.length == 0; else info3">
                        S/R
                      </ng-container>
                      <ng-template #info3>
                        {{ item.administrativeDetails.waitingRoomDetails.name}}
                      </ng-template>-->
                      {{ item.administrativeDetails.waitingRoomDetails[0]?.name}}
                    </td>
                    <td>
                      <span class="badge badge-primary">
                        {{
                          (item.administrativeDetails.status === 'reserved'
                            ? 'clinicalFile.reserved.label'
                            : item.administrativeDetails.status === 'appointed'
                            ? 'clinicalFile.scheduled.label'
                            : item.administrativeDetails.status === 'rescheduled'
                            ? 'clinicalFile.reScheduled.label'
                            : item.administrativeDetails.status === 'active'
                            ? 'clinicalFile.active.label'
                            : item.administrativeDetails.status === 'waitingInRoom'
                            ? 'clinicalFile.inWaitingRoom.label'
                            : item.administrativeDetails.status === 'waitingInList'
                            ? 'clinicalFile.inWaitingList.label'
                            : item.administrativeDetails.status === 'running'
                            ? 'common.status.inProgress.label'
                            : item.administrativeDetails.status === 'pending'
                            ? 'clinicalFile.pending.label'
                            : item.administrativeDetails.status === 'finished'
                            ? 'clinicalFile.ended.label'
                            : item.administrativeDetails.status === 'canceled'
                            ? 'clinicalFile.canceled.label'
                            : 'S/R'
                          ) | transloco
                        }}
                      </span>
                    </td>
                    <td>
                      <ng-container>
                        <div ngbDropdown container="body">
                          <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                          </button>

                          <div ngbDropdownMenu>
                            <ng-container *ngIf="item.administrativeDetails.status === 'finished'">
                              <a routerLink="ficha-consulta/{{ item._id }}">
                                <button ngbDropdownItem type="button">
                                  {{ 'clinicalFile.viewMedCard.label' | transloco }}
                                </button>
                              </a>
                            </ng-container>

                            <div>
                              <button *ngxPermissionsOnly="['Update:Appointment']" ngbDropdownItem type="button" (click)=openModalReagendamiento(item)
                                data-toggle="modal" data-target="#modalReAgendamiento">
                                  {{ 'clinicalFile.reschedule.label' | transloco }}
                              </button>
                            </div>

                            <div>
                              <button ngbDropdownItem type="button" (click)="setAppointmentCancelReasons(item)"
                                data-toggle="modal" data-target="#modalCancelAppointment">
                                {{ 'dashboard.home.uncategorized.cancelService.label' | transloco }}
                              </button>
                            </div>
                            <div *ngIf="item.administrativeDetails.isImmediate == true"><!--*ngIf="item.canUse" *ngxPermissionsOnly="['Cancel:Appointment']"-->
                              <button   ngbDropdownItem type="button" (click)="quitAsignation(item)">
                                {{ 'dashboard.home.uncategorized.quitAsignation.label' | transloco }}
                              </button>
                            </div>

                          </div>
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div><!--/proximas consultas -->

        <!-- consultas inmediatas -->
        <div class="tab-pane fade" id="child3" role="tabpanel" aria-labelledby="profile-tab">
          <input type="text" id="searchinmediateAppointment" (keyup)='filterTable($event.target.id)' placeholder="Buscar" style="padding-left:10px;">
        <div class="tableBox p-4 bg-white mt-3">
        <table class="table" id="searchinmediateAppointmentTable">
        <thead>
          <tr>
            <th scope="row">
              {{ 'videoChat.modalEnd.patient.label' | transloco }}
            </th>
            <th>{{'tables.consultas.HoraAgendada' | transloco}}</th>
            <!--horario inicio atencion-->
            <th>{{'tables.consultas.HoraEspera' | transloco}}</th>
            <th>{{'tables.consultas.TiempoAtencion' | transloco}}</th>
            <th>
              {{'tables.consultas.SalaEspera' | transloco }}
            </th>
           
            <th>{{ 'clinicalFile.patientData.tabs.identification.info.status.label' | transloco }}</th>
            <th>
              {{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of immediateAppointments" id="{{ item._id }}">
            <ng-container *ngIf="item.administrativeDetails.status !== 'finished'">
              <td scope="row" *ngIf="item.patientDetails?.userDetails[0]; else sinInfo">
                {{ item.patientDetails?.userDetails[0].personalData.name + ' ' + (setup == 'CL' ? item.patientDetails?.userDetails[0]?.personalData.lastName : item.patientDetails?.userDetails[0]?.personalData.secondLastName) }}
              </td>
              <ng-template #sinInfo>
                <td scope="row">{{ 'common.noInfo.label' | transloco }}</td>
              </ng-template>
              <td>
                {{ item.dateDetails.createdAt | date: 'dd/MM/yy' }} <br>
                  {{ item.dateDetails.createdAt | date: 'HH:MM ' }}
              </td>
              <td>
                <ng-container *ngIf="item.startTime == null; else info1">
                  S/R
                </ng-container>
                <ng-template #info1>
                  {{ item.startTime }}
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="item.attentionTime == null; else info2">
                  S/R
                </ng-container>
                <ng-template #info2>
                  {{ item.attentionTime }}
                </ng-template>
              </td>
              <td>
                <!--
                <ng-container *ngIf="item.administrativeDetails.waitingRoomDetails.length == 0; else info3">
                  S/R
                </ng-container>
                <ng-template #info3>
                 
                </ng-template> -->
                {{ item.administrativeDetails.waitingRoomDetails[0]?.name}}
              </td>
              <td>
                <span class="badge badge-primary">
                  {{
                    (item.administrativeDetails.status === 'reserved'
                      ? 'clinicalFile.reserved.label'
                      : item.administrativeDetails.status === 'appointed'
                      ? 'clinicalFile.scheduled.label'
                      : item.administrativeDetails.status === 'rescheduled'
                      ? 'clinicalFile.reScheduled.label'
                      : item.administrativeDetails.status === 'active'
                      ? 'clinicalFile.active.label'
                      : item.administrativeDetails.status === 'waitingInRoom'
                      ? 'clinicalFile.inWaitingRoom.label'
                      : item.administrativeDetails.status === 'waitingInList'
                      ? 'clinicalFile.inWaitingList.label'
                      : item.administrativeDetails.status === 'running'
                      ? 'common.status.inProgress.label'
                      : item.administrativeDetails.status === 'pending'
                      ? 'clinicalFile.pending.label'
                      : item.administrativeDetails.status === 'finished'
                      ? 'clinicalFile.ended.label'
                      : item.administrativeDetails.status === 'canceled'
                      ? 'clinicalFile.canceled.label'
                      : 'S/R'
                    ) | transloco
                  }}
                </span>
              </td>
              <td>
                <ng-container>
                  <div ngbDropdown container="body">
                    <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                      </svg>
                    </button>

                    <div ngbDropdownMenu>
                      <ng-container *ngIf="
                          item.administrativeDetails.status === 'running' ||
                          item.administrativeDetails.status === 'active' ||
                          item.administrativeDetails.status === 'pending'
                        ">
                        <a *ngIf="item.patientDetails?.userDetails[0]"
                          routerLink="crear-ficha-consulta/{{ item._id }}">
                          <button ngbDropdownItem type="button">
                            {{ 'clinicalFile.attend.label' | transloco }} 
                          </button> 
                        </a>
                      </ng-container>

                      <div *ngIf="item.canUse">
                        <button *ngxPermissionsOnly="['Update:Appointment']" ngbDropdownItem type="button" (click)=openModalReagendamiento(item)
                          data-toggle="modal" data-target="#modalReAgendamiento">
                            {{ 'clinicalFile.reschedule.label' | transloco }}
                        </button>
                      </div>

                      <div>
                        <button  ngbDropdownItem type="button" (click)="setAppointmentCancelReasons(item)"
                          data-toggle="modal" data-target="#modalCancelAppointment">
                          {{ 'dashboard.home.uncategorized.cancelService.label' | transloco }}
                        </button>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </td>
            </ng-container>
          </tr>
        </tbody>
        </table>
        </div>

        </div><!-- /consultas inmediatas-->
  
  
         
          </div>
        </div>
      </div>


<modal-reagendamiento [modalConfig] #modalReAgendamiento></modal-reagendamiento>
<modal-cancel-appointment [modalConfig] #modalCancelAppointment></modal-cancel-appointment>