<div class="dropdown language">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ 'language.changue' | transloco }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="en" href="javascript:;" (click)="setActiveLang('en')">
      {{ 'language.english' | transloco }}
    </a>
    <a class="dropdown-item" id="es"  href="javascript:;" (click)="setActiveLang('es')">
      {{ 'language.spanish' | transloco }}
    </a>
  </div>
</div>