<div class="row">
  <div class="col">
    <h2>{{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}</h2>
    <p>{{ 'clinicalFile.thisInfoViewPro.label' | transloco }}</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs flex-column flex-sm-row" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          {{ 'clinicalFile.myBackgrounds.label' | transloco }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          {{ 'clinicalFile.exams.label' | transloco }}
        </a>
      </li>
      <li class="nav-item d-none" role="presentation">
        <a
          class="nav-link"
          id="contact-tab"
          data-toggle="tab"
          href="#contact"
          role="tab"
          aria-controls="contact"
          aria-disabled="false"
        >
          {{ 'clinicalFile.patientData.tabs.prescriptions.label' | transloco }}
        </a>
      </li>
    </ul>
    <div class="tab-content pt-4" id="myTabContent">
      <!--tab-->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="card bg-light pb-3 mb-4 mb-md-0">
              <div class="card-header" style="display: none;">
                {{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}
                <p>
                  {{ 'clinicalFile.completeThisForBetterService.label' | transloco }}
                </p>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}</h5>
                <p class="card-text text-center">{{ 'clinicalFile.completeThisForBetterService.label' | transloco }}</p>
                <img src="assets/img/corazon-azul.svg" />
                <div class="boxCompletData"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#sickness"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.diseases.label' | transloco }}
              </a>
              <div class="add float-right" (click)="categoryChangue('sickness')" data-toggle="modal" data-target="#add">
                <!--Agregar-->
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>

              <div class="collapse show" id="sickness" *ngFor="let item of antecedentes">
                <ul class="antecedentes">
                  <li class="pl-5">
                    {{ item.value }}
                    <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                      <!--(click)="delete(item, $event)" -->
                      <img src="assets/img/delete.svg" />
                    </div>
                  </li>

                  <li style="display: none;">A medicamentos tipo C</li>
                </ul>
              </div>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#allergies"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.allergies.label' | transloco }}
              </a>
              <div
                class="add float-right"
                (click)="categoryChangue('allergies')"
                data-toggle="modal"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>

              <div class="collapse show" id="allergies" *ngFor="let item of antecedentesGeneral?.allergies">
                <ul class="antecedentes">
                  <li class="pl-5">
                    {{ item.value }}
                    <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                      <img src="assets/img/delete.svg" />
                    </div>
                  </li>

                  <li style="display: none;">A medicamentos tipo C</li>
                </ul>
              </div>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#surgicalInterventions"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.surgicalInterventions.label' | transloco }}
              </a>
              <div
                class="add float-right"
                (click)="categoryChangue('surgicalInterventions')"
                data-toggle="modal"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>

              <div
                class="collapse show"
                id="surgicalInterventions"
                *ngFor="let item of antecedentesGeneral?.surgicalInterventions"
              >
                <ul class="antecedentes">
                  <li class="pl-5">
                    {{ item.value }}
                    <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                      <img src="assets/img/delete.svg" />
                    </div>
                  </li>
                  <li style="display: none;">A medicamentos tipo C</li>
                </ul>
              </div>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#familiarHistory"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.family.label' | transloco }}
              </a>
              <div
                class="add float-right"
                data-toggle="modal"
                (click)="categoryChangue('familiarHistory')"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>
              <ng-container *ngIf="antecedentesGeneral">
                <div
                  class="collapse show"
                  id="familiarHistory"
                  *ngFor="let item of antecedentesGeneral.familiarHistory"
                >
                  <ul class="antecedentes">
                    <li class="pl-5">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <img src="assets/img/delete.svg" />
                      </div>
                    </li>
                    <li style="display: none;">A medicamentos tipo C</li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#healthHabits"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'calendar.healthHabits.label' | transloco }}
              </a>
              <div
                class="add float-right"
                data-toggle="modal"
                (click)="categoryChangue('healthHabits')"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>
              <ng-container *ngIf="antecedentesGeneral">
                <div class="collapse show" id="healthHabits" *ngFor="let item of antecedentesGeneral.healthHabits">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <img src="assets/img/delete.svg" />
                      </div>
                    </li>
                    <li style="display: none;">A medicamentos tipo C</li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#medicines"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.meds.label' | transloco }}
              </a>
              <div
                class="add float-right"
                data-toggle="modal"
                (click)="categoryChangue('medicines')"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>
              <ng-container *ngIf="antecedentesGeneral">
                <div class="collapse show" id="medicines" *ngFor="let item of antecedentesGeneral.medicines">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <img src="assets/img/delete.svg" />
                      </div>
                    </li>
                    <li style="display: none;">A medicamentos tipo C</li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#occupational"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'clinicalFile.patientData.tabs.videoChat.info.background.occupational.label' | transloco }}
              </a>
              <div
                class="add float-right"
                data-toggle="modal"
                (click)="categoryChangue('occupational')"
                data-target="#add"
              >
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>
              <ng-container *ngIf="antecedentesGeneral">
                <div class="collapse show" id="occupational" *ngFor="let item of antecedentesGeneral.occupational">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <img src="assets/img/delete.svg" />
                      </div>
                    </li>
                    <li style="display: none;">A medicamentos tipo C</li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom mb-3 mt-md-0">
              <a
                class="p-4"
                data-toggle="collapse"
                href="#others"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <svg
                  class="mr-2"
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.8463 0.18686C13.6309 -0.0417118 13.3006 -0.0417118 13.0852 0.18686L6.99704 6.63257L0.923198 0.171622C0.707814 -0.056949 0.377556 -0.056949 0.162172 0.171622C-0.0532125 0.400193 -0.0532125 0.75067 0.162172 0.979241L6.62371 7.83638C6.8391 8.06496 7.16935 8.06496 7.38474 7.83638L13.8463 0.979241C14.0617 0.765907 14.0617 0.415431 13.8463 0.18686Z"
                    fill="#7D7D7D"
                  />
                </svg>
                {{ 'dashboard.home.myHealth.others.label' | transloco }}
              </a>
              <div class="add float-right" data-toggle="modal" data-target="#add" (click)="categoryChangue('others')">
                <p>{{ 'common.button.add.label' | transloco }}</p>
                <img src="assets/img/+.svg" />
              </div>
              <ng-container *ngIf="antecedentesGeneral">
                <div class="collapse show" id="others" *ngFor="let item of antecedentesGeneral.others">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <img src="assets/img/delete.svg" />
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!--/card-->
          </div>
        </div>
      </div>
      <!--/tab-->

      <!--tab-->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row mb-3">
          <div class="col-12 col-md-6 mb-3 mt-3 mb-md-0 mt-md-0">{{ 'clinicalFile.patientData.tabs.exams.label' | transloco }}</div>
          <div class="col-12 col-md-6">
            <button
              type="button"
              class="btn btn-outline-primary rounded-pill float-right btn-xs-block"
              data-toggle="modal"
              data-target="#addExamen"
              (click)="resetValue()"
            >
              {{ 'common.button.add.label' | transloco }} {{'common.input.file.documento' | transloco}}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tableBox rounded p-4 bg-white">
              <table class="table mt-3 table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.doc.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.date.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of exams">
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.type }}</td>
                    <td>{{ item.uploadDate | date: 'dd/MM/yyyy':'+0000' }}</td>
                    <td>
                      <a href="{{ downloadUrl }}{{ access_token }}/{{ item.path }}" download>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-sm">
                          {{ 'clinicalFile.patientData.tabs.prescriptions.table.btnDownload.label' | transloco }}
                        </button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/tab-->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row mb-3">
          <div class="col-12 col-md-6">{{ 'clinicalFile.prescriptions.label' | transloco }}</div>
          <div class="col-12 col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tableBox rounded p-4 bg-white">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.doc.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.date.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.by.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-earmark-ruled"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
                        />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-earmark-ruled"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
                        />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-earmark-ruled"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
                        />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal antecendetes-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'common.button.add.label' | transloco }}
          <ng-container [ngSwitch]="category">
            <ng-container *ngSwitchCase="'sickness'"
              >{{ 'dashboard.home.myHealth.deceases.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'allergies'"
              >{{ 'dashboard.home.myHealth.allergies.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'surgicalInterventions'"
              >{{ 'dashboard.home.myHealth.surgicalInterventions.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'familiarHistory'">
              {{ 'clinicalFile.patientData.tabs.patientHistory.familyHistory.label' | transloco }}
              </ng-container>
            <ng-container *ngSwitchCase="'medicines'"
              >{{ 'dashboard.home.myHealth.meds.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'healthHabits'"
              >{{ 'dashboard.home.myHealth.healthHabits.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'occupational'"
              >{{ 'dashboard.home.myHealth.occupationals.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'others'"
              >{{ 'dashboard.home.myHealth.others.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ 'clinicalFile.patientData.tabs.videoChat.info.background.label' | transloco }}</ng-container
            >
          </ng-container>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="agregarItem" novalidate="">
          <div class="row">
            <div class="form-group col">
              <label for="dateBlock">{{ 'common.button.add.label' | transloco }} </label>
              <input
                type="text"
                value=""
                placeholder=""
                class="form-control"
                name="modelAntecedente"
                id="item"
                [placeholder]="'dashboard.home.myHealth.categories.'+category+'.label' | transloco"
                [(ngModel)]="modelAntecedente"
                formControlName="item"
                (click)="clear(modelAntecedente)"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button
          type="button"
          class="btn btn-primary rounded-pill"
          data-dismiss="modal"
          [disabled]="!agregarItem.valid"
          (click)="add(category)"
        >
          {{ 'common.button.add.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal eliminar antecedente-->
<div
  class="modal fade"
  id="eliminar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'dashboard.home.myHealth.modal.deleteItem.title' | transloco }}?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate="">
          <!--[formGroup]="availabilityBlocked" -->
          <div class="row">
            <div class="form-group col">
              <h5 class="text-center w-100">{{ elemntoValue }}</h5>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-outline-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal" (click)="delete()">
          {{ 'common.button.delete.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal examen-->
<div
  class="modal fade"
  id="addExamen"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'common.button.add.label' | transloco }} {{ 'clinicalFile.patientData.tabs.exams.label' | transloco }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addExamen" novalidate="">
          <!-- -->
          <div class="row">
            <div class="form-group col">
              <label for="type">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</label>
              <select class="form-control" name="type" id="type" formControlName="type">
                <option [value]="null">- {{ 'clinicalFile.select.label' | transloco }} -</option>
                <option value="exam">
                  {{ 'common.input.file.examen' | transloco }}
                </option>
                <option value="document">
                  {{ 'common.input.file.documento' | transloco }}
                </option>
              </select>
            </div>
            <div class="form-group col">
              <label for="dateBlock">{{ 'clinicalFile.loadDocument.label' | transloco }}</label>
              <div class="custom-file">
                <div class="adjuntar">
                  {{'common.input.file.seleccionar' | transloco}}
                </div>
                <input
                  type="file"
                  class="custom-file-input"
                  accept=".pdf, .doc, .docx, .jpg, .png, .jpeg, .mp4, .mov, .txt, .zip, .rar, .ppt, .pptx, .mp3"
                  (change)="openFile($event)"
                  id="customFile"
                  style="overflow: hidden;"
                />
                <label class="custom-file-label" for="customFile">{{ textInputFile }}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button type="button" class="btn btn-primary rounded-pill" data-dismiss="modal" (click)="addExamenPost()">
          {{ 'common.button.add.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
