<div class="row">
  <div class="col">
    <h2>{{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}</h2>
    <p>{{ 'clinicalFile.thisInfoViewPro.label' | transloco }}</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">
          {{ 'clinicalFile.myBackgrounds.label' | transloco }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">
          {{ 'clinicalFile.exams.label' | transloco }}
        </a>
      </li>
      <li class="nav-item d-none" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-disabled="false">
          {{ 'clinicalFile.patientData.tabs.prescriptions.label' | transloco }}
        </a>
      </li>
    </ul>
    <div class="tab-content pt-4" id="myTabContent">
      <!--tab-->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-4">
            <div class="card bg-light pb-3">
              <div class="card-header" style="display: none;">
                {{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}
                <p>
                  {{ 'clinicalFile.completeThisForBetterService.label' | transloco }}
                </p>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{ 'clinicalFile.patientData.tabs.myHealth.label' | transloco }}</h5>
                <p class="card-text text-center">{{ 'clinicalFile.completeThisForBetterService.label' | transloco }}</p>
                <img src="assets/img/corazon-azul.svg" />
                <div class="boxCompletData">
                  <img src="assets/img/porcentaje-temp.svg" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="sicknessIsCollapsed = !sicknessIsCollapsed"
                    [attr.aria-expanded]="!sicknessIsCollapsed">
                    <img *ngIf="sicknessIsCollapsed && antecedentes?.hasSickness" src="assets/icons/icon-arrow-down.svg"
                      alt="img" />
                    <img *ngIf="!sicknessIsCollapsed && antecedentes?.hasSickness" src="assets/icons/icon-arrow-up.svg"
                      alt="img" />
                    <span class="pl-3">{{
                      'clinicalFile.patientData.tabs.videoChat.info.background.diseases.label' | transloco
                    }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasSickness">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('sickness', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasSickness">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('sickness', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasSickness">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('sickness')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.hasSickness">
                <div class="collapse" id="sickness" *ngFor="let item of antecedentes.sickness"
                  [ngbCollapse]="!sicknessIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <!--(click)="delete(item, $event)" -->
                        <button type="button" class="btn btn-outline-light btn-sm px-2">
                          <img src="assets/img/delete.svg" />
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="familiarHistoryIsCollapsed = !familiarHistoryIsCollapsed"
                    [attr.aria-expanded]="!familiarHistoryIsCollapsed">
                    <img *ngIf="familiarHistoryIsCollapsed && antecedentes?.hasFamiliarHistory"
                      src="assets/icons/icon-arrow-down.svg" alt="img" />
                    <img *ngIf="!familiarHistoryIsCollapsed && antecedentes?.hasFamiliarHistory"
                      src="assets/icons/icon-arrow-up.svg" alt="img" />
                    <span class="pl-3">{{
                      'clinicalFile.patientData.tabs.videoChat.info.background.family.label' | transloco
                    }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasFamiliarHistory">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('familiarHistory', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasFamiliarHistory">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('familiarHistory', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasFamiliarHistory">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('familiarHistory')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.hasFamiliarHistory">
                <div class="collapse" id="familiarHistory" *ngFor="let item of antecedentes.familiarHistory"
                  [ngbCollapse]="!familiarHistoryIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <button type="button" class="btn btn-outline-light btn-sm px-2">
                          <img src="assets/img/delete.svg" />
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="healthHabitsIsCollapsed = !healthHabitsIsCollapsed"
                    [attr.aria-expanded]="!healthHabitsIsCollapsed">
                    <img *ngIf="healthHabitsIsCollapsed && antecedentes?.hasHealthHabits"
                      src="assets/icons/icon-arrow-down.svg" alt="img" />
                    <img *ngIf="!healthHabitsIsCollapsed && antecedentes?.hasHealthHabits"
                      src="assets/icons/icon-arrow-up.svg" alt="img" />
                    <span class="pl-3">{{ 'calendar.healthHabits.label' | transloco }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasHealthHabits">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('healthHabits', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasHealthHabits">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('healthHabits', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasHealthHabits">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('healthHabits')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.hasHealthHabits">
                <div class="collapse" id="healthHabits" *ngFor="let item of antecedentes.healthHabits"
                  [ngbCollapse]="!healthHabitsIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <button type="button" class="btn btn-outline-light btn-sm px-2">
                          <img src="assets/img/delete.svg" />
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="medicinesIsCollapsed = !medicinesIsCollapsed"
                    [attr.aria-expanded]="!medicinesIsCollapsed">
                    <img *ngIf="medicinesIsCollapsed && antecedentes?.hasMedicines"
                      src="assets/icons/icon-arrow-down.svg" alt="img" />
                    <img *ngIf="!medicinesIsCollapsed && antecedentes?.hasMedicines"
                      src="assets/icons/icon-arrow-up.svg" alt="img" />
                    <span class="pl-3">{{
                      'clinicalFile.patientData.tabs.videoChat.info.background.meds.label' | transloco
                    }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasMedicines">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('medicines', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasMedicines">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('medicines', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasMedicines">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('medicines')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.hasMedicines">
                <div class="collapse" id="medicines" *ngFor="let item of antecedentes.medicines"
                  [ngbCollapse]="!medicinesIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <button type="button" class="btn btn-outline-light btn-sm px-2">
                          <img src="assets/img/delete.svg" />
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="occupationalIsCollapsed = !occupationalIsCollapsed"
                    [attr.aria-expanded]="!occupationalIsCollapsed">
                    <img *ngIf="occupationalIsCollapsed && antecedentes?.hasOccupational"
                      src="assets/icons/icon-arrow-down.svg" alt="img" />
                    <img *ngIf="!occupationalIsCollapsed && antecedentes?.hasOccupational"
                      src="assets/icons/icon-arrow-up.svg" alt="img" />
                    <span class="pl-3">{{
                      'clinicalFile.patientData.tabs.videoChat.info.background.occupational.label' | transloco
                    }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasOccupational">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('occupational', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasOccupational">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('occupational', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasOccupational">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('occupational')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.occupational">
                <div class="collapse" id="occupational" *ngFor="let item of antecedentes.occupational"
                  [ngbCollapse]="!occupationalIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <div class="delete" data-toggle="modal" data-target="#eliminar"
                          (click)="preDelete(item, $event)">
                          <button type="button" class="btn btn-outline-light btn-sm px-2">
                            <img src="assets/img/delete.svg" />
                          </button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!-- colappsed-->
            <div class="collapseCustom">
              <div class="row">
                <div class="col-8">
                  <div class="p-4" role="button" (click)="othersIsCollapsed = !othersIsCollapsed"
                    [attr.aria-expanded]="!othersIsCollapsed">
                    <img *ngIf="othersIsCollapsed && antecedentes?.hasOthers" src="assets/icons/icon-arrow-down.svg"
                      alt="img" />
                    <img *ngIf="!othersIsCollapsed && antecedentes?.hasOthers" src="assets/icons/icon-arrow-up.svg"
                      alt="img" />
                    <span class="pl-3">{{
                      'dashboard.home.myHealth.others.label' | transloco
                    }}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="!antecedentes?.hasOthers">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('others', true)">
                      {{ 'clinicalFile.iHave.label' | transloco }}
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasOthers">
                  <div class="hasAntecedents color-success2">
                    <button type="button" class="btn btn-light px-2" (click)="hasAntecedents('others', false)">
                      {{ 'clinicalFile.dontHave.label' | transloco }} <img src="assets/icons/icon-double-check.svg" />
                    </button>
                  </div>
                </div>
                <div class="col-2" *ngIf="antecedentes?.hasOthers">
                  <div class="add text-primary mr-4">
                    <button type="button" class="btn btn-light px-2" (click)="categoryChangue('others')"
                      data-toggle="modal" data-target="#add">
                      {{ 'common.button.add.label' | transloco }}
                      <img src="assets/img/+.svg" />
                    </button>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="antecedentes?.others">
                <div class="collapse" id="others" *ngFor="let item of antecedentes.others"
                  [ngbCollapse]="!othersIsCollapsed">
                  <ul class="antecedentes">
                    <li class="pl-5" id="{{ item.id }}">
                      {{ item.value }}
                      <div class="delete" data-toggle="modal" data-target="#eliminar" (click)="preDelete(item, $event)">
                        <button type="button" class="btn btn-outline-light btn-sm px-2">
                          <img src="assets/img/delete.svg" />
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
            <!--/colappsed-->

            <!--/card-->
          </div>
        </div>
      </div>
      <!--/tab-->

      <!--tab-->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row mb-3">
          <div class="col-12 col-md-6">{{ 'clinicalFile.patientData.tabs.exams.label' | transloco }}</div>
          <div class="col-12 col-md-6">
            <button type="button" class="btn btn-outline-primary rounded-pill float-right" data-toggle="modal"
              data-target="#addExamen" (click)="resetValue()">
              {{ 'common.button.add.label' | transloco }} documento
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tableBox rounded p-4 bg-white">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.doc.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.date.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of exams">
                    <th scope="row">{{ item.name }}</th>
                    <td>{{ item.type }}</td>
                    <td>{{ item.uploadDate | date: 'dd/MM/yyyy':'+0000' }}</td>
                    <td>
                      <a href="{{ downloadUrl }}{{ access_token }}/{{ item.path }}" download>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-sm">
                          {{ 'clinicalFile.patientData.tabs.prescriptions.table.btnDownload.label' | transloco }}
                        </button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/tab-->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row mb-3">
          <div class="col-12 col-md-6">{{ 'clinicalFile.prescriptions.label' | transloco }}</div>
          <div class="col-12 col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tableBox rounded p-4 bg-white">
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.doc.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.date.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.exams.table.by.label' | transloco }}</th>
                    <th scope="col">{{ 'clinicalFile.patientData.tabs.services.table.action.label' | transloco }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-ruled"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-ruled"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-ruled"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 9H3V8h10v1H6v2h7v1H6v2H5v-2H3v-1h2V9z" />
                        <path
                          d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z" />
                        <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
                      </svg>
                      {{ 'clinicalFile.medLicense.label' | transloco }}
                    </th>
                    <td>Exámen</td>
                    <td>23/04/2020</td>
                    <td>DR. Alfonso Torres</td>
                    <td>
                      <button type="button" class="btn btn-light">
                        {{ 'clinicalFile.patientData.tabs.exams.table.btnView.label' | transloco }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal antecendetes-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'common.button.add.label' | transloco }}
          <ng-container [ngSwitch]="category">
            <ng-container *ngSwitchCase="'sickness'">{{ 'dashboard.home.myHealth.deceases.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'familiarHistory'">
              {{ 'clinicalFile.patientData.tabs.patientHistory.familyHistory.label' | transloco }}</ng-container>
            <ng-container *ngSwitchCase="'medicines'">{{ 'dashboard.home.myHealth.meds.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'healthHabits'">{{ 'dashboard.home.myHealth.healthHabits.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'occupational'">{{ 'dashboard.home.myHealth.occupationals.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchCase="'others'">{{ 'dashboard.home.myHealth.others.label' | transloco }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ 'clinicalFile.patientData.tabs.videoChat.info.background.label' | transloco }}</ng-container>
          </ng-container>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="agregarItem" novalidate="">
          <div class="row">
            <div class="form-group col">
              <label for="dateBlock">{{ 'common.button.add.label' | transloco }} item</label>
              <input type="text" value="" placeholder="" class="form-control" name="modelAntecedente" id="item"
                [(ngModel)]="modelAntecedente" formControlName="item" (click)="clear(modelAntecedente)" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button type="button" class="btn btn-primary rounded-pill" data-dismiss="modal" [disabled]="!agregarItem.valid"
          (click)="add(category)">
          {{ 'common.button.add.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal eliminar antecedente-->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'dashboard.home.myHealth.modal.deleteItem.title' | transloco }}?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate="">
          <!--[formGroup]="availabilityBlocked" -->
          <div class="row">
            <div class="form-group col">
              <h5 class="text-center w-100">{{ elemntoValue }}</h5>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-outline-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal" (click)="delete()">
          {{ 'common.button.delete.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal examen-->
<div class="modal fade" id="addExamen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center w-100 mt-1 font-weight-bold" id="exampleModalLabel">
          {{ 'common.button.add.label' | transloco }} Exámen
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addExamen" novalidate="">
          <!-- -->
          <div class="row">
            <div class="form-group col">
              <label for="type">{{ 'clinicalFile.patientData.tabs.exams.table.type.label' | transloco }}</label>
              <select class="form-control" name="type" id="type" formControlName="type">
                <option [value]="null">- Seleccionar -</option>
                <option value="exam">Examen</option>
                <option value="document">Documento</option>
              </select>
            </div>
            <div class="form-group col">
              <label for="dateBlock">{{ 'clinicalFile.loadDocument.label' | transloco }}</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="openFile($event)" id="customFile"
                  style="overflow: hidden;" />
                <label class="custom-file-label" for="customFile">{{ textInputFile }}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center justify-content-center">
        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
          {{ 'common.button.cancel.label' | transloco }}
        </button>
        <button type="button" class="btn btn-primary rounded-pill" data-dismiss="modal" (click)="addExamenPost()">
          {{ 'common.button.add.label' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>