<div class="wave2">
  <img src="assets/img/bg-login.png">
</div>
<div class="contenido p-4">
  <div class="logo mt-1 ">
    <div class="text-left">
      <div class="logoLogin">
        <ng-container *ngIf="setup === 'BR'">
          <img src="assets/img/telemedicina.svg">
        </ng-container>
        <ng-container *ngIf="setup === 'CL'">
          <img src="assets/itms-atrys-chile.svg">
        </ng-container>
    </div>
    </div>
  </div>
  <div class="mb-3">
    <h1 class="mb-4">
      {{ 'auth.login.welcomeTitle.label' | transloco }}
    </h1>
    <p>{{ 'auth.login.welcome.label' | transloco }}</p>
  </div>
  <p class="copyright align-self-end align-items-end">
    {{ 'common.poweredBy.label' | transloco }}
  </p>
</div>
