html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
  background: linear-gradient(#b3ffab, #67fffc);
}

#header {
  position: relative;
  z-index: 2;
  height: 80px;
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #bbbbbb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
}

#headerContent {
  margin-left: 10px;
}

#page {
  display: flex;
  height: calc(100vh - 80px);
  //height: calc( 100vh - 30px);
  width: 100%;

  /* calculate the height. Header is 30px */
}
.img-fluid {
  max-width: 106px;
}
.nav {
  a {
    color: #3f3f3f;
    padding: 1rem 1.5rem;
    min-width: 240px;
    .icon {
      margin-right: 5px;
      width:30px;
      display: inline-block;
    }
   
    &.active {
      background: #f7f7f7;
      position: relative;
      color: #35a6f5;
      &:after {
        width:7px;
        height:100%;
        background: #3bc4ca;
        position: absolute;
        z-index: 1;
        left: 0px;
        top:0px;
        content: ".";
      }
    }
    &:hover {
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
#sideBar {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.17);
  min-height: 100vh; //calc(100vh - 80px);
  width: 20%;
  max-width: 250px;
  min-width: 200px;
  //border-right:6px solid #012a62;
  .topSidebar {
    //height: 80px;
    background: #ffffff;
  }
  .top {
    text-align: center;
    .img {
      display: inline-block;
      width: 95px;
      height: 95px;
      border: 3px solid #f5f4f3;
      overflow: hidden;
      border-radius: 50%;
      margin: 30px 0px 30px 0px;
      img {
        width: 100%;
      }
    }
  }
}

.imguser {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #f5f4f3;
  //overflow: hidden;
  border-radius: 50%;
  margin: 5px 0px 5px 0px;
  img {
    width: 100%;
  }
}

#content {
  background: #f2f2f2;
  flex: 1 0 auto;
  width: 80%;
  height: 100vh;
}
/*
  body,
app-root,
app-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}*/

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //background: #e2eaf4;
  height: 100vh;
  header {
    width: 100%;
    height: 80px;
    flex: 0 1 auto;
  }

  .boxSidebarMain {
    flex: 0 1 auto;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar {
    position: relative;
    background: #ffffff;
    overflow: hidden;
    //flex: 0 1 auto;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.17);
    //min-height: 100%; //calc(100vh - 80px);
    max-width: 250px;
    min-width: 68px;
    //height: calc(100% - 80px);
    width: 20%;
    transition: width 0.2s;
    i {
      &.text {
        font-style: normal;
        display: inline-block;
      }
    }
    //align-items: stretch;
    &.open {
      i {
        &.text {
          -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein  0.5s; /* Firefox < 16 */
           -ms-animation: fadein  0.5s; /* Internet Explorer */
            -o-animation: fadein  0.5s; /* Opera < 12.1 */
               animation: fadein  0.5s;
               display:inline-block
        }
      }
   
    }
    &.closed {
      width: 68px;
      i {
        &.text {
          -webkit-animation: fadeout 0.5s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeout  0.5s; /* Firefox < 16 */
           -ms-animation: fadeout  0.5s; /* Internet Explorer */
            -o-animation: fadeout  0.5s; /* Opera < 12.1 */
               animation: fadeout  0.5s;
               display:none
        }
      }
   
    }
  }

.notificationBox {
  position: relative;
  width: 20px;
  .badge-danger {
    position: absolute;
    right: -7px;
    top: -6px;
    font-weight: lighter;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  @keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

  main {
    background: #f2f2f2;
    flex: 1 0 auto;
    width: 80%;
    //height: 100vh;
  }
}
