html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Ubuntu;
    background: linear-gradient(#b3ffab, #67fffc);
  }
  
  #header {
    display: flex;
    align-items: center;
    background: linear-gradient(#444444, #333333);
    color: #bbbbbb;
  }
  
  #headerContent {
    margin-left: 10px;
  }

  #page {
    display: flex;
    min-height: 100vh;
    //height: calc( 100vh - 30px);
    width: 100%;
   
    /* calculate the height. Header is 30px */
  }
  .img-fluid {
    max-width: 106px;
  }
  .nav {
    a {
      color: #ffffff;
      padding: 1rem 2rem;
      &:hover{
        background: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  #sideBar {
    position: relative;
    background-color:#636363;
    min-height: 100%;
    width: 20%;
    max-width: 250px;
    min-width:200px;
    //border-right:6px solid #012a62;
    .topSidebar {
      //height: 80px;
      background:#444444;
    }
    .top {
        text-align: center;
        .img {
            display: inline-block;
            width: 95px;
            height: 95px;
            border:3px solid #f5f4f3;
            overflow: hidden;
            border-radius: 50%;
            margin: 30px 0px 30px 0px;
            img {
              width: 100%;
            }
        }
    }
  }

  .imguser {
    display: inline-block;
    width:45px;
    height:45px;
    border:3px solid #f5f4f3;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px 0px 5px 0px;
    img {
      width: 100%;
    }
}
  
  #content {
    //background: blue;
    flex: 1 0 auto;
    width: 80%;
    /* enable grow, disable shrink */
  }

  