<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <div class="col-12 right">
      <div class="row vertical-center h-100">
        <div class="col-12 col-sm-4 col-md-4 col-lg-3 mx-auto w-50 p-3 text-center align-self-center">
          <svg class="mb-4" width="67" height="94" viewBox="0 0 67 94" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M54.8182 45.463H12.1818C8.85212 45.463 6.09091 48.2134 6.09091 51.5301V81.8657C6.09091 85.1824 8.85212 87.9329 12.1818 87.9329H54.8182C58.1479 87.9329 60.9091 85.1824 60.9091 81.8657V51.611C60.9091 48.2134 58.1479 45.463 54.8182 45.463ZM12.1818 39.4768C5.44121 39.4768 0 44.8967 0 51.611V81.9466C0 88.6609 5.44121 94.0809 12.1818 94.0809H54.8182C61.5588 94.0809 67 88.6609 67 81.9466V51.611C67 44.8967 61.5588 39.4768 54.8182 39.4768H12.1818ZM12.1818 21.1945C12.1818 9.54561 21.7648 0 33.4594 0C45.1539 0 54.737 9.54561 54.737 21.1945V39.3959H48.7273V21.1945C48.7273 12.7814 41.9055 5.98623 33.4594 5.98623C25.0133 5.98623 18.2727 12.8623 18.2727 21.1945V39.3959H12.1818V21.1945Z"
              fill="#0066FF"
            />
          </svg>
          <h4 class="mb-3">{{ 'profile.personal.changePassword.recover.label' | transloco }}</h4>
          <p>{{ 'profile.personal.changePassword.emailAsociatedAccount.label' | transloco }}</p>
          <form class="">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="{{ 'common.input.email.label' | transloco }}"
                [(ngModel)]="user.email"
              />
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mt-1 mb-3 mb-nd-0">
                <button
                  type="submit"
                  class="btn btn-primary btn-block rounded-pill"
                  [disabled]="user.email === null || user.email === ''"
                  (click)="recoveryPass(user.email)"
                >
                  {{ 'common.button.send.label' | transloco }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'profile.personal.changePassword.recover.label' | transloco }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ng-container *ngIf="mError; else correcto">
          <label for="dateOfBirth">{{ 'common.userNotExists.label' | transloco }}</label>
        </ng-container>
        <ng-template #correcto>
          <label for="dateOfBirth">{{ 'profile.personal.changePassword.emailSendedResetPwd.label' | transloco }}</label>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      *ngIf="!mError"
      class="btn btn-outline-dark"
      routerLink="/"
      (click)="modal.close('Save click')"
    >
      {{ 'clinicalFile.close.label' | transloco }}
    </button>
    <button type="button" *ngIf="mError" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      {{ 'common.retry.label' | transloco }}
    </button>
  </div>
</ng-template>

<!--
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
