<div class="row">
  <div class="col col-md-6 mb-2">
    <h2>{{ 'waitingRoom.joined.label' | transloco }}</h2>
    <p style="display: none;">
      Sala creada el 20 de Septiembre por Manuel Fernandez 70 usuario en sala de espera 20 profesionales
    </p>
  </div>
</div>

<div class="tableBox rounded p-4 bg-white">
  <table class="table" *ngIf="waitingRooms.length; else noData">
    <thead class="">
      <tr>
        <th scope="col">{{ 'waitingRoom.name.label' | transloco }}</th>
        <th scope="col">{{ 'common.description.label' | transloco }}</th>
        <th scope="col">{{ 'table.link.label' | transloco }}</th>
        <th scope="col">{{ 'waitingRoom.payments.label' | transloco }}</th>
        <th scope="col">{{ 'clinicalFile.active.label' | transloco }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of waitingRooms" id="{{ item._id }}">
        <td scope="row">
          <a [routerLink]="[item._id]">
            {{ item.roomDetails?.name }}
          </a>
        </td>
        <td scope="row">{{ item.roomDetails?.description }}</td>
        <td>
          <a href="#">{{ item.roomDetails?.url }}</a>
        </td>
        <td>
          <div class="custom-control custom-switch mb-4">
            <input
              [(ngModel)]="item.administrativeDetails.requirePayment"
              type="checkbox"
              class="custom-control-input"
              id="pay"
              disabled
            />
            <label class="custom-control-label" for="pay"></label>
          </div>
        </td>
        <td>
          <div class="custom-control custom-switch mb-4">
            <input
              [(ngModel)]="item.administrativeDetails.isActive"
              type="checkbox"
              class="custom-control-input"
              id="status"
              disabled
            />
            <label class="custom-control-label" for="status"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <h5 class="text-center text-primary">{{ 'waitingRoom.notExists.label' | transloco }}</h5>
  </ng-template>
</div>
