<div class="row">
  <div class="col mb-2">
    <h2>{{ 'dashboard.home.userManagment.title' | transloco }}</h2>
  </div>
</div>

<ngb-toast *ngIf="emailSent" class="bg-success text-light" [delay]="5000" [autohide]="true" (hide)="emailSent = false">
  <div>{{ 'clinicalFile.emailSedSuccess.label' | transloco }}</div>
</ngb-toast>

<div class="row">
  <div class="col-12">
    <!-- TABS -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="admin-tab"
          data-toggle="tab"
          href="#admins"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          (click)="changeTab('admins')"
        >
          <i
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-clipboard-data"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
          </i>
          {{ 'dashboard.home.userManagment.tabs.admins.label' | transloco }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="professional-tab"
          data-toggle="tab"
          href="#professionals"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          (click)="changeTab('professionals')"
        >
          <i
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-calendar3-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
          </i>
          {{ 'dashboard.home.waitingRoomManagment.modal.create.healthProfessionals.label' | transloco }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="coordinator-tab"
          data-toggle="tab"
          href="#coordinators"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          (click)="changeTab('coordinators')"
        >
          <i
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-calendar3-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
          </i>
          {{ 'dashboard.home.userManagment.tabs.coordinators.label' | transloco }}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="patient-tab"
          data-toggle="tab"
          href="#patients"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          (click)="changeTab('patients')"
        >
          <i
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-calendar3-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
          </i>
          {{ 'dashboard.home.tab.home.tab.nextServices.table.patients.label' | transloco }}
        </a>
      </li>
    </ul>
    <div class="tab-content pt-3" id="tab-content">
      <div class="tab-pane fade show active" id="admins" role="tabpanel">
        <!-- FILTERS -->
        <div class="row mt-2">
          <div class="col-12 col-md-3">
            <input
              [(ngModel)]="searchTerm"
              type="text"
              class="form-control"
              placeholder="{{ 'common.placeholder.search.label' | transloco }}"
              (keyup)="applyFilters()"
            />
            <div class="searchBox">
              <img src="assets/icons/icon-search.svg" />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <select [(ngModel)]="profileSelected" class="form-control" (change)="applyFilters()">
                <option [ngValue]="null">{{ 'common.profileFilter.label' | transloco }}</option>
                <option [ngValue]="profile.id" *ngFor="let profile of profiles">
                  {{ profile.role }} - {{ profile.profileName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <select [ngStyle]="{ 'font-size': '12px' }" [(ngModel)]="pageSize" class="form-control">
                <option [ngValue]="10">{{ 'common.recordPerPage.label' | transloco }} (10)</option>
                <option [ngValue]="25">{{ 'common.recordPerPage.label' | transloco }} (25)</option>
                <option [ngValue]="50">{{ 'common.recordPerPage.label' | transloco }} (50)</option>
                <option [ngValue]="100">{{ 'common.recordPerPage.label' | transloco }} (100)</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4 float-right">
            <button
              *ngIf="currentUser.policies.userPolicies.create"
              type="button"
              class="btn btn-secondary rounded-pill float-right"
              [routerLink]="['crear-usuario']"
              [queryParams]="{ userType: 'admin' }"
            >
              {{ 'dashboard.home.uncategorized.newAdmin.label' | transloco }}
              <img src="assets/icons/icon-plus-circle.svg" />
            </button>
          </div>
        </div>
        <!-- ADMINS TABLE -->
        <div class="row mt-1">
          <div class="col-12 mb-4">
            <div class="tableBox rounded p-4 bg-white">
              <ngx-datatable
                *ngIf="users.length; else noUsers"
                #table
                class="material"
                [rows]="users"
                headerHeight="auto"
                footerHeight="auto"
                rowHeight="70"
                [columnMode]="ColumnMode.flex"
                [limit]="pageSize"
              >
                <ngx-datatable-column [resizeable]="false" [flexGrow]="2" prop="nationalId" name="ID">
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  [name]="'table.name.label' | transloco"
                  prop="fullName"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a>
                      <img
                        class="profile mr-2"
                        id="image0"
                        width="38"
                        height="38"
                        [src]="row.photo || '/assets/profile.jpg'"
                        alt="img"
                      />
                      {{ row.fullName }}
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="email"
                  [name]="'table.email.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="phone"
                  [name]="'table.phone.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="status"
                  [name]="'table.status.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                      type="button"
                      class="btn btn-sm rounded-pill"
                      [ngClass]="{
                        'btn-primary': row.status === 'Activo',
                        'btn-secondary ': row.status === 'Pendiente',
                        'btn-light ': row.status === 'Deshabilitado'
                      }"
                    >
                      {{ row.status }}
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [flexGrow]="2" [name]="'table.action.label' | transloco">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body">
                      <button
                        class="btn btn-light btn-sm rounded-pill"
                        ngbDropdownToggle
                        [disabled]="currentUser.id === row.id"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                      <div ngbDropdownMenu>
                        <button
                          *ngIf="currentUser.policies.userPolicies.update"
                          ngbDropdownItem
                          type="button"
                          [routerLink]="['editar-usuario']"
                          [queryParams]="{ userType: 'admins', userId: row.id }"
                        >
                          {{ 'clinicalFile.edit.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Activo' && currentUser.policies.userPolicies.delete"
                          ngbDropdownItem
                          type="button"
                          data-toggle="modal"
                          data-target="#disableUserModal"
                          (click)="openDeactivateUserModal(deactivateUserModal, row.id)"
                        >
                          {{ 'common.disable.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Deshabilitado'"
                          ngbDropdownItem
                          type="button"
                          (click)="changeUserStatus(row.id, 'activate', 'admins')"
                        >
                          {{ 'common.activate.label' | transloco }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="professionals" role="tabpanel">
        <!-- FILTERS -->
        <div class="row mt-2">
          <div class="col-12 col-md-3">
            <input
              [(ngModel)]="searchTerm"
              type="text"
              class="form-control"
              placeholder="{{ 'common.placeholder.search.label' | transloco }}"
              (keyup)="applyFilters()"
            />
            <div class="searchBox">
              <img src="assets/icons/icon-search.svg" />
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="form-group">
              <select [(ngModel)]="profileSelected" class="form-control" (change)="applyFilters()">
                <option [ngValue]="null">{{ 'common.profileFilter.label' | transloco }}</option>
                <option [ngValue]="profile.id" *ngFor="let profile of profiles">
                  {{ profile.role }} - {{ profile.profileName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <select [ngStyle]="{ 'font-size': '12px' }" [(ngModel)]="pageSize" class="form-control">
                <option [ngValue]="10">{{ 'common.recordPerPage.label' | transloco }} (10)</option>
                <option [ngValue]="25">{{ 'common.recordPerPage.label' | transloco }} (25)</option>
                <option [ngValue]="50">{{ 'common.recordPerPage.label' | transloco }} (50)</option>
                <option [ngValue]="100">{{ 'common.recordPerPage.label' | transloco }} (100)</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4 float-right">
            <button
              *ngIf="currentUser.policies.userPolicies.create"
              type="button"
              class="btn btn-secondary rounded-pill float-right"
              [routerLink]="['crear-usuario']"
              [queryParams]="{ userType: 'professional' }"
            >
              {{ 'dashboard.home.userManagment.btnCreateDoctor.label' | transloco }}
              <img src="assets/icons/icon-plus-circle.svg" />
            </button>
          </div>
        </div>
        <!-- PROFESSIONALS TABLE -->
        <div class="row mt-1">
          <div class="col-12 mb-4">
            <div class="tableBox rounded p-4 bg-white">
              <ngx-datatable
                *ngIf="users.length; else noUsers"
                #table
                class="material"
                [rows]="users"
                headerHeight="auto"
                footerHeight="auto"
                rowHeight="70"
                [columnMode]="ColumnMode.flex"
                [limit]="pageSize"
              >
                <ngx-datatable-column [resizeable]="false" [flexGrow]="1" prop="nationalId" name="ID">
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="fullName"
                  [name]="'table.name.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a>
                      <img
                        class="profile mr-2"
                        id="image0"
                        width="38"
                        height="38"
                        [src]="row.photo || '/assets/profile.jpg'"
                        alt="img"
                      />
                      {{ row.fullName }}
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="email"
                  [name]="'table.email.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="phone"
                  [name]="'table.phone.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="status"
                  [name]="'table.status.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                      type="button"
                      class="btn btn-sm rounded-pill"
                      [ngClass]="{
                        'btn-primary': row.status === 'Activo',
                        'btn-secondary ': row.status === 'Pendiente',
                        'btn-light ': row.status === 'Deshabilitado'
                      }"
                    >
                      {{ row.status }}
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [flexGrow]="2" [name]="'table.action.label' | transloco">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body">
                      <button
                        class="btn btn-light btn-sm rounded-pill"
                        ngbDropdownToggle
                        [disabled]="currentUser.id === row.id"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                      <div ngbDropdownMenu>
                        <button
                          *ngIf="currentUser.policies.userPolicies.update"
                          ngbDropdownItem
                          type="button"
                          [routerLink]="['editar-usuario']"
                          [queryParams]="{ userType: 'professionals', userId: row.id }"
                        >
                          {{ 'clinicalFile.edit.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Activo' && currentUser.policies.userPolicies.delete"
                          ngbDropdownItem
                          type="button"
                          data-toggle="modal"
                          data-target="#disableUserModal"
                          (click)="openDeactivateUserModal(deactivateUserModal, row.id)"
                        >
                          {{ 'common.disable.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Deshabilitado'"
                          ngbDropdownItem
                          type="button"
                          (click)="changeUserStatus(row.id, 'activate', 'professionals')"
                        >
                          {{ 'common.activate.label' | transloco }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="coordinators" role="tabpanel">
        <!-- FILTERS -->
        <div class="row mt-2">
          <div class="col-12 col-md-3">
            <input
              [(ngModel)]="searchTerm"
              type="text"
              class="form-control"
              placeholder="{{ 'common.placeholder.search.label' | transloco }}"
              (keyup)="applyFilters()"
            />
            <div class="searchBox">
              <img src="assets/icons/icon-search.svg" />
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="form-group">
              <select
                [(ngModel)]="profileSelected"
                class="form-control"
                id="exampleFormControlSelect1"
                (change)="applyFilters()"
              >
                <option [ngValue]="null">{{ 'common.profileFilter.label' | transloco }}</option>
                <option [ngValue]="profile.id" *ngFor="let profile of profiles">
                  {{ profile.role }} - {{ profile.profileName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <select [ngStyle]="{ 'font-size': '12px' }" [(ngModel)]="pageSize" class="form-control">
                <option [ngValue]="10">{{ 'common.recordPerPage.label' | transloco }} (10)</option>
                <option [ngValue]="25">{{ 'common.recordPerPage.label' | transloco }} (25)</option>
                <option [ngValue]="50">{{ 'common.recordPerPage.label' | transloco }} (50)</option>
                <option [ngValue]="100">{{ 'common.recordPerPage.label' | transloco }} (100)</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4 float-right">
            <button
              *ngIf="currentUser.policies.userPolicies.create"
              type="button"
              class="btn btn-secondary rounded-pill float-right"
              data-target="#disponibilidad"
              [routerLink]="['crear-usuario']"
              [queryParams]="{ userType: 'coordinator' }"
            >
              {{ 'dashboard.home.uncategorized.newCoordinator.label' | transloco }}
              <img src="assets/icons/icon-plus-circle.svg" />
            </button>
          </div>
        </div>
        <!-- COORDINATORS TABLE -->
        <div class="row mt-1">
          <div class="col-12 mb-4">
            <div class="tableBox rounded p-4 bg-white">
              <ngx-datatable
                *ngIf="users.length; else noUsers"
                #table
                class="material"
                [rows]="users"
                headerHeight="auto"
                footerHeight="auto"
                rowHeight="70"
                [columnMode]="ColumnMode.flex"
                [limit]="pageSize"
              >
                <ngx-datatable-column [resizeable]="false" [flexGrow]="1" prop="nationalId" name="ID">
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="fullName"
                  [name]="'table.name.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a>
                      <img
                        class="profile mr-2"
                        id="image0"
                        width="38"
                        height="38"
                        [src]="row.photo || '/assets/profile.jpg'"
                        alt="img"
                      />
                      {{ row.fullName }}
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="email"
                  [name]="'table.email.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="phone"
                  [name]="'table.phone.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="status"
                  [name]="'table.status.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                      type="button"
                      class="btn btn-sm rounded-pill"
                      [ngClass]="{
                        'btn-primary': row.status === 'Activo',
                        'btn-secondary ': row.status === 'Pendiente',
                        'btn-light ': row.status === 'Deshabilitado'
                      }"
                    >
                      {{ row.status }}
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" [flexGrow]="2" [name]="'table.action.label' | transloco">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body">
                      <button
                        class="btn btn-light btn-sm rounded-pill"
                        ngbDropdownToggle
                        [disabled]="currentUser.id === row.id"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                      <div ngbDropdownMenu>
                        <button
                          *ngIf="currentUser.policies.userPolicies.update"
                          ngbDropdownItem
                          type="button"
                          [routerLink]="['editar-usuario']"
                          [queryParams]="{ userType: 'coordinators', userId: row.id }"
                        >
                          {{ 'clinicalFile.edit.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Activo' && currentUser.policies.userPolicies.delete"
                          ngbDropdownItem
                          type="button"
                          data-toggle="modal"
                          data-target="#disableUserModal"
                          (click)="openDeactivateUserModal(deactivateUserModal, row.id)"
                        >
                          {{ 'common.disable.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Deshabilitado'"
                          ngbDropdownItem
                          type="button"
                          (click)="changeUserStatus(row.id, 'activate', 'coordinators')"
                        >
                          {{ 'common.activate.label' | transloco }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="patients" role="tabpanel">
        <!-- FILTERS -->
        <div class="row mt-2">
          <div class="col-12 col-md-3">
            <input
              [(ngModel)]="searchTerm"
              type="text"
              class="form-control"
              placeholder="{{ 'common.placeholder.search.label' | transloco }}"
              (keyup)="applyFilters()"
            />
            <div class="searchBox">
              <img src="assets/icons/icon-search.svg" />
            </div>
          </div>
          <div class="col-12 col-md-2">
            <div class="form-group">
              <select [ngStyle]="{ 'font-size': '12px' }" [(ngModel)]="pageSize" class="form-control">
                <option [ngValue]="10">{{ 'common.recordPerPage.label' | transloco }} (10)</option>
                <option [ngValue]="25">{{ 'common.recordPerPage.label' | transloco }} (25)</option>
                <option [ngValue]="50">{{ 'common.recordPerPage.label' | transloco }} (50)</option>
                <option [ngValue]="100">{{ 'common.recordPerPage.label' | transloco }} (100)</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-2">
            <button
              type="button"
              class="btn custom-btn-1 mx-2"
              (click)="exportAsExcelFile()"
              [disabled]="!selected.length"
              data-toggle="tooltip"
              data-placement="top"
              [title]="'dashboard.home.userManagment.tooltips.downloadXls.label' | transloco"
            >
              <img src="assets/icons/icon-export-excel.svg" />
            </button>
            <button
              type="button"
              class="btn custom-btn-1 mx-2"
              (click)="sendInvitationEmail()"
              [disabled]="!selected.length"
              data-toggle="tooltip"
              data-placement="top"
              [title]="'dashboard.home.userManagment.tooltips.sendInvitation.label' | transloco"
            >
              <img src="assets/icons/icon-email.svg" />
            </button>
          </div>
          <div class="col-12 col-md-5 float-right">
            <button
              *ngIf="currentUser.policies.userPolicies.create"
              type="button"
              class="btn btn-secondary rounded-pill float-right"
              [routerLink]="['crear-usuario']"
              [queryParams]="{ userType: 'patient' }"
            >
              {{ 'myPatients.btnCreate.label' | transloco }}
              <img src="assets/icons/icon-plus-circle.svg" />
            </button>
          </div>
        </div>
        <!-- PATIENTS TABLE -->
        <div class="row mt-3">
          <div class="col-12 mb-4">
            <div class="tableBox rounded p-4 bg-white">
              <ngx-datatable
                *ngIf="users.length; else noUsers"
                #table
                class="material"
                [rows]="users"
                headerHeight="auto"
                footerHeight="auto"
                rowHeight="70"
                [columnMode]="ColumnMode.flex"
                [limit]="pageSize"
                [selected]="selected"
                [selectionType]="SelectionType.checkbox"
                [selectAllRowsOnPage]="true"
                (select)="onSelect($event)"
              >
                <!-- MULTISELECT -->
                <ngx-datatable-column [width]="30" [sortable]="false" [draggable]="false" [resizeable]="false">
                  <ng-template
                    ngx-datatable-header-template
                    let-value="value"
                    let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn"
                  >
                    <input
                      class="mb-n2"
                      [ngStyle]="{ height: '24px' }"
                      type="checkbox"
                      [checked]="allRowsSelected"
                      (change)="selectFn(!allRowsSelected)"
                    />
                  </ng-template>
                  <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                  >
                    <input
                      class="mb-n2"
                      [ngStyle]="{ height: '24px' }"
                      type="checkbox"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn($event)"
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [flexGrow]="1" prop="nationalId" name="ID">
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="fullName"
                  [name]="'table.name.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <a>
                      <img
                        class="profile mr-2"
                        id="image0"
                        width="38"
                        height="38"
                        [src]="row.photo || '/assets/profile.jpg'"
                        alt="img"
                      />
                      {{ row.fullName }}
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="3"
                  prop="email"
                  [name]="'table.email.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="phone"
                  [name]="'table.phone.label' | transloco"
                >
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [flexGrow]="2"
                  prop="status"
                  [name]="'table.status.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                      type="button"
                      class="btn btn-sm rounded-pill"
                      [ngClass]="{
                        'btn-primary': row.status === 'Activo',
                        'btn-secondary ': row.status === 'Pendiente',
                        'btn-light ': row.status === 'Deshabilitado'
                      }"
                    >
                      {{ row.status }}
                    </button>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  [resizeable]="false"
                  [sortable]="false"
                  [flexGrow]="2"
                  [name]="'table.action.label' | transloco"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body">
                      <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-three-dots"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                          />
                        </svg>
                      </button>
                      <div ngbDropdownMenu>
                        <button
                          *ngIf="currentUser.policies.userPolicies.update"
                          ngbDropdownItem
                          type="button"
                          [routerLink]="['editar-usuario']"
                          [queryParams]="{ userType: 'patients', userId: row.id }"
                        >
                          {{ 'clinicalFile.edit.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Activo' && currentUser.policies.userPolicies.delete"
                          ngbDropdownItem
                          type="button"
                          data-toggle="modal"
                          data-target="#disableUserModal"
                          (click)="openDeactivateUserModal(deactivateUserModal, row.id)"
                        >
                          {{ 'common.disable.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Deshabilitado'"
                          ngbDropdownItem
                          type="button"
                          (click)="changeUserStatus(row.id, 'activate', 'patients')"
                        >
                          {{ 'common.activate.label' | transloco }}
                        </button>
                        <button
                          *ngIf="row.status === 'Pendiente' && currentUser.policies.userPolicies.sendInvitation"
                          ngbDropdownItem
                          type="button"
                          data-toggle="modal"
                          data-target="#sendInvitationModal"
                          (click)="openSendInvitationModal(sendInvitationModal, row.id)"
                        >
                          {{ 'clinicalFile.sendEmail.label' | transloco }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DISABLE USER MODAL -->
    <div
      #deactivateUserModal
      class="modal fade"
      id="disableUserModal"
      tabindex="-1"
      aria-labelledby="disableUserModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center w-100 mt-1">{{ 'account.disableUser.label' | transloco }}</h5>
          </div>
          <div class="modal-body p-4">
            <p class="text-center">{{ 'account.disableUserHint.label' | transloco }}</p>
          </div>
          <div class="modal-footer text-center justify-content-center">
            <button type="button" class="btn btn-outline-primary rounded-pill" data-dismiss="modal">
              {{ 'common.button.cancel.label' | transloco }}
            </button>
            <button
              type="button"
              class="btn btn-primary rounded-pill"
              data-dismiss="modal"
              (click)="changeUserStatus(userId, 'deactivate', 'patients')"
            >
              {{ 'common.confirm.label' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- SEND INVITATION MODAL -->
    <div
      #sendInvitationModal
      class="modal fade"
      id="sendInvitationModal"
      tabindex="-1"
      aria-labelledby="sendInvitationModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center w-100 mt-1">{{ 'account.sendConfirmationEmail.label' | transloco }}</h5>
          </div>
          <div class="modal-footer text-center justify-content-center">
            <button type="button" class="btn btn-outline-primary rounded-pill" data-dismiss="modal">
              {{ 'common.button.cancel.label' | transloco }}
            </button>
            <button
              type="button"
              class="btn btn-primary rounded-pill"
              data-dismiss="modal"
              (click)="sendInvitationEmail()"
            >
              {{ 'common.confirm.label' | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUsers>
  <h5 class="text-center text-primary">{{ 'common.noRecordsFound.label' | transloco }}</h5>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" type="line-scale" size="default" color="#fff">
  <!-- <p style="color: white" > cargando...</p> -->
</ngx-spinner>
