<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <div class="col-12 col-md-5 left d-none d-md-block">
      <div class="logo h-100">  
        <div class="fadeIn first w-50 mx-auto text-center">
          <img src="assets/img/Logo03.webp" id="icon" alt="itms"/>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 right">
      <div class="row vertical-center h-100">
        <div class="col-12 col-sm-6 col-md-7 col-lg-5 mx-auto w-50 p-3 text-center align-self-center">
          <img class=" d-md-none mb-5" src="assets/img/Logo03.webp" id="icon" alt="itms"/>
          <div class="contenedor">
            <h1>{{ 'login.title' | translate }}</h1>
            <div class="contenedor-botones">
              <button [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')">Español</button>
              <button [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')">Inglés</button>
            </div>
          </div>
          <form class="">
            <div class="form-group">
              <input type="username" class="form-control" id="username" name="username" placeholder="username" [(ngModel)]="user.username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="user.password">
            </div>
            <div class="row">
              <div class="col">
                <p class="text-right">
                  <a routerLink="/recovery-password" class="text-right">
                  ¿Has olvidado tu contraseña?</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mb-3 mb-nd-0">
                <button type="submit" class="btn btn-primary btn-block" (click)="loginUser()">Iniciar sesión</button>
              </div>
              <div class="col-12 col-md-12">
                <button type="button" class="btn btn-outline-primary btn-block" routerLink="/create-account">Crear cuenta</button>
              </div>
            </div>
          </form>
        </div>
      </div>
     
    </div>
  </div>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.5)"  type="line-scale" size="default" color="#fff"> <!-- <p style="color: white" > cargando...</p> --> </ngx-spinner>
