
<div class="wrapper fadeInDown d-flex align-items-center">
    <div id="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../../../assets/img/Logo03.webp" id="icon" alt="itms"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text"  class="fadeIn second"  placeholder="login"  [(ngModel)]="user.name" name="name">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="login()">
     
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter" style="display: none;">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>