<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <!--left component-->
    <div class="col-12 col-md-4 left d-none d-md-block">
      <app-left-column></app-left-column>
    </div>
    <!--/left component-->

    <div class="col-12 col-md-8 right">
      <!--lang component-->
      <div class="boxIdioma">
        <app-lang></app-lang>
      </div>
      <!--/lang component-->

      <div class="row vertical-center h-100">
        <div class="col-12 col-sm-6 col-md-7 col-lg-5 mx-auto w-50 p-3 text-center align-self-center">

          <div class="logo mb-5 d-block d-sm-none bg-white">
            <img src="assets/img/{{ brand }}/logo-colors.svg" style="width:70%">
          </div>
          
          <div class="contenedor">
            <h3 class="mb-4 d-none d-sm-block">{{ 'auth.accountAccess.label' | transloco }}</h3>
          </div>
          <form [formGroup]="formLogin">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="username"
                name="username"
                placeholder="{{ 'common.input.user.label' | transloco }}"
                [(ngModel)]="user.username"
                onkeypress="return event.charCode != 32"
                formControlName="username"
                [ngClass]="{ 'is-invalid': !formLogin.get('username').valid }"
              />
              <div *ngIf="formLogin.get('username').errors?.email" class="invalid-feedback">
                {{ 'auth.login.invalidEmail.label' | transloco }}
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="{{ 'common.input.password.label' | transloco }}"
                  [(ngModel)]="user.password"
                  onkeypress="return event.charCode != 32"
                  formControlName="password"
                  [ngClass]="{ 'is-invalid': !formLogin.get('password').valid }"
                />
                <div class="input-group-append btnVer" (click)="this.showPassword = !this.showPassword">
                  <button *ngIf="!this.showPassword" class="btn btn-outline-secondary px-3" type="button">
                    <img src="assets/icons/icon-show-password.svg" alt="img" />
                  </button>
                  <button *ngIf="this.showPassword" class="btn btn-outline-primary px-3" type="button">
                    <img src="assets/icons/icon-show-password.svg" alt="img" />
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="text-left">
                  <a routerLink="/recovery-password" class="text-left">{{ 'auth.login.forgot.label' | transloco }}</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mb-3 mb-nd-0">
                <button
                  type="submit"
                  class="btn btn-primary btn-block rounded-pill"
                  (click)="loginUser()"
                  [disabled]="!formLogin.valid"
                >
                  {{ 'auth.btnLogin.label' | transloco }}
                </button>
              </div>
              <div class="col-12 col-md-12">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-block rounded-pill"
                  [routerLink]="createRoute"
                >
                  {{ 'auth.btnCreateAccunt.label' | transloco }}
                </button>
              </div>
            </div>
            <div class="row text-center">
              <p class="text-danger mt-4" *ngIf="errorMsg">{{ errorMsg }}</p>
            </div>
            <re-captcha
              *ngIf="production === true && recaptcha === true"
              class="d-inline-block mt-3"
              formControlName="recaptchaReactive"
              id="recaptchaReactive"
              name="recaptchaReactive"
              (resolved)="resolved($event)"
              siteKey="6LewNa4UAAAAAJ3En9CwBpPp_y3QkA5mfzTbl20k"
            ></re-captcha>
          </form>

          <div style="position: absolute; bottom:-120px; width:90%; color: #999999;">
            <h6 class="w-100 mt-5">{{'soporte.title' | transloco}}</h6>
            <p class="w-100 mb-1">{{'soporte.whatsapp.label' | transloco}}: {{'soporte.whatsapp.text' | transloco}}</p>
            <p class="w-100 mb-4">{{'soporte.email.label' | transloco}}: {{'soporte.email.text' | transloco}}</p>
          </div>
        </div>


      </div>
    
    
    </div>
  </div>

</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" type="line-scale" size="default" color="#fff">
  <!-- <p style="color: white" > cargando...</p> -->
</ngx-spinner>
