<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <div class="col-12 right">
      <div class="row vertical-center h-100">
        <div class="col-12 col-md-6 col-lg-3 mx-auto w-75 p-3 text-center align-self-center">
          <img class="mb-4" src="/assets/img/blocked-account.svg" alt="img" />
          <h4 class="mb-3">{{ 'auth.blockAccount.title' | transloco }}</h4>
          <p>
            {{ 'auth.blockAccount.secHint.label' | transloco }}
          </p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email"
                placeholder="{{ 'common.input.email.label' | transloco }}" [(ngModel)]="user.email" />
            </div>
            <div class="row">
              <div class="col-12 col-md-12 mt-1 mb-3 mb-nd-0">
                <button type="submit" class="btn btn-primary btn-block rounded-pill"
                  [disabled]="user.email === null || user.email === ''" (click)="recoveryPass(user.email)">
                  Enviar
                </button>
              </div>
            </div>
          </form>
          <div class="mt-4 text-center align-self-center">
            <a href="javascript:history.back()">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                  d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
                <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header text-center">
    <h4 class="modal-title" id="modal-basic-title">{{ 'profile.personal.changePassword.recover.label' | transloco }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ng-container *ngIf="mError; else correcto">
          <label for="dateOfBirth">{{ 'common.userNotExists.label' | transloco }}</label>
        </ng-container>
        <ng-template #correcto>
          <label for="dateOfBirth">{{ 'profile.personal.changePassword.emailSendedResetPwd.label' | transloco }}</label>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="!mError" class="btn btn-outline-dark" routerLink="/"
      (click)="modal.close('Save click')">
      {{ 'clinicalFile.close.label' | transloco }}
    </button>
    <button type="button" *ngIf="mError" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      {{ 'common.retry.label' | transloco }}
    </button>
  </div>
</ng-template>