<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <h1>Cambiar clave</h1>
      <p>Información básica, como el nombre y la foto, seguridad, que utilizas en el sistema de videoconsultas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Contraseña actual
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Última modificación el 17 de marzo del 2020</div>
            <div class="col-6">
              <button type="button" class="btn btn-outline-secondary float-right">Cambiar Contraseña</button>
            </div>
          </div>
        </div>
      </div>
      <!--/card-->

      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Cambiar contraseña
              </h4>
            </div>
          </div>
          <div class="row">
            <form class="p-3" style="width: 100%;">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Contraseña actual</label>
                  <input type="email" class="form-control" id="inputEmail4" />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Nueva Contraseña</label>
                  <input type="email" class="form-control" id="inputEmail4" />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Repetir contraseña</label>
                  <input type="password" class="form-control" id="inputPassword4" />
                </div>
              </div>
              <div class="form-row">
                <div class="col-12">
                  <button type="button" class="btn btn-outline-secondary float-right">Cambiar Contraseña</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/card-->
    </div>
  </div>
</div>
