<div class="row">
  <div class="col mb-2">
    <h2>{{ 'disponibility.edit.table.patient.label' | transloco }}</h2>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-primary rounded-pill float-right"
      data-toggle="modal"
      data-target="#patientModal"
      [disabled]="tab === 'patients'"
    >
      {{ 'myPatients.btnCreate.label' | transloco }}
      <img src="assets/icons/icon-plus-circle.svg" />
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-3">
        <input
          [(ngModel)]="searchTerm"
          type="text"
          class="form-control"
          placeholder="{{ 'common.placeholder.search.label' | transloco }}"
          (keyup)="applyFilters(tab)"
        />
        <div class="searchBox">
          <img src="assets/icons/icon-search.svg" />
        </div>
      </div>
      <div class="col-auto mb-4">
        <ul ngbNav #nav="ngbNav" [(activeId)]="tab" class="nav-tabs">
          <li ngbNavItem="patients">
            <a ngbNavLink>{{ 'clinicalFile.patientsInSystem.label' | transloco }}</a>
            <ng-template ngbNavContent>
              <div class="tableBox rounded p-4 bg-white">
                <ngx-datatable
                  *ngIf="patients.length; else noData"
                  #table
                  class="material"
                  [rows]="patients"
                  headerHeight="auto"
                  footerHeight="auto"
                  rowHeight="70"
                  [columnMode]="ColumnMode.flex"
                  [limit]="pageSize"
                  [selectAllRowsOnPage]="true"
                  [sorts]="[{ prop: 'personalData.name', dir: 'asc' }]"
                >
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="ID">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span>{{
                        row.identificationData.cpf ||
                          row.identificationData.cns ||
                          row.identificationData.rgRegistry ||
                          row.identificationData.passport
                      }}</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="3"
                    name="{{ 'table.namePatient.label' | transloco }}"
                    prop="personalData.name"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a routerLink="{{ row.userId }}">
                        <img
                          *ngIf="(row.patientDetails?.userDetails)[0]?.photo; else noPhoto"
                          class="profile mr-2"
                          id="image0"
                          width="38"
                          height="38"
                          [src]="photoUrlBase + (row.patientDetails?.userDetails)[0]?.photo"
                          alt="img"
                        />
                        <ng-template #noPhoto>
                          <img
                            class="profile mr-2"
                            id="image0"
                            width="38"
                            height="38"
                            src="/assets/profile.jpg"
                            alt="img"
                          />
                        </ng-template>
                        {{
                          row.personalData.name + ' ' + (row.personalData.secondLastName || row.personalData.lastName)
                        }}
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="{{ 'table.age.label' | transloco }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ moment().diff(row.personalData.birthdate, 'year') }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Sexo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{
                        (row.personalData.gender === 'male'
                          ? 'clinicalFile.male.label'
                          : row.personalData.gender === 'female'
                          ? 'clinicalFile.female.label'
                          : 'S/R'
                        ) | transloco
                      }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="2"
                    prop="personalData.phoneNumber"
                    name="{{ 'table.phone.label' | transloco }}"
                  >
                  </ngx-datatable-column>
                </ngx-datatable>
                <ng-template #noData>
                  <h5 class="text-center text-primary">{{ 'clinicalFile.noAsociatedPatients.label' | transloco }}</h5>
                </ng-template>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="pre-patients">
            <a ngbNavLink>{{ 'dashboard.home.tab.calendar.modal.newAtention.tab.storedPatient.label' | transloco }}</a>
            <ng-template ngbNavContent>
              <div class="tableBox rounded p-4 bg-white">
                <ngx-datatable
                  *ngIf="prePatients.length; else noData"
                  #table
                  class="material"
                  [rows]="prePatients"
                  headerHeight="auto"
                  footerHeight="auto"
                  rowHeight="70"
                  [columnMode]="ColumnMode.flex"
                  [limit]="pageSize"
                  [selected]="selectedPrePatients"
                  [selectionType]="SelectionType.checkbox"
                  [selectAllRowsOnPage]="true"
                  (select)="onSelect($event)"
                  [sorts]="[{ prop: 'name', dir: 'asc' }]"
                >
                  <!-- MULTISELECT -->
                  <ngx-datatable-column [width]="30" [sortable]="false" [draggable]="false" [resizeable]="false">
                    <ng-template
                      ngx-datatable-header-template
                      let-value="value"
                      let-allRowsSelected="allRowsSelected"
                      let-selectFn="selectFn"
                    >
                      <input
                        class="mb-n2"
                        [ngStyle]="{ height: '24px' }"
                        type="checkbox"
                        [checked]="allRowsSelected"
                        (change)="selectFn(!allRowsSelected)"
                      />
                    </ng-template>
                    <ng-template
                      ngx-datatable-cell-template
                      let-row="row"
                      let-isSelected="isSelected"
                      let-onCheckboxChangeFn="onCheckboxChangeFn"
                    >
                      <input
                        class="mb-n2"
                        [ngStyle]="{ height: '24px' }"
                        type="checkbox"
                        [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)"
                      />
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="3"
                    name="{{ 'table.namePatient.label' | transloco }}"
                    prop="name"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <img class="mr-2" id="image0" width="38" height="38" src="/assets/profile.jpg" alt="img" />
                      {{ row.name + ' ' + (row.secondLastName || row.lastName) }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="2"
                    prop="email"
                    name="{{ 'table.email.label' | transloco }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="1" name="{{ 'table.age.label' | transloco }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ moment().diff(row.age, 'year') }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="2" name="Sexo">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{
                        (row.gender === 'male'
                          ? 'clinicalFile.male.label'
                          : row.gender === 'female'
                          ? 'clinicalFile.female.label'
                          : 'S/R'
                        ) | transloco
                      }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="2"
                    prop="phoneNumber"
                    name="{{ 'table.phone.label' | transloco }}"
                  >
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [flexGrow]="2"
                    prop="status"
                    name="{{ 'table.status.label' | transloco }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <button type="button" class="btn btn-primary mt-1 rounded-pill btn-sm">
                        {{
                          (row.status === 'joined'
                            ? 'common.ingresed.label'
                            : row.status === 'pending'
                            ? 'clinicalFile.pending.label'
                            : row.status === 'active'
                            ? 'common.status.active.label'
                            : 'S/R'
                          ) | transloco
                        }}
                      </button>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column
                    [resizeable]="false"
                    [sortable]="false"
                    [flexGrow]="2"
                    name="{{ 'table.action.label' | transloco }}"
                  >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div ngbDropdown container="body">
                        <button class="btn btn-light btn-sm rounded-pill" ngbDropdownToggle>
                          <svg
                            width="1em"
                            height="1em"
                            viewBox="0 0 16 16"
                            class="bi bi-three-dots"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                            />
                          </svg>
                        </button>
                        <div ngbDropdownMenu>
                          <button
                            *ngIf="row.status === 'joined' || row.status == 'pending'"
                            ngbDropdownItem
                            type="button"
                            data-toggle="modal"
                            data-target="#sendInvitationModal"
                            (click)="sendInvitationEmail(row._id)"
                          >
                            {{ 'clinicalFile.sendEmail.label' | transloco }}
                          </button>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
                <ng-template #noData>
                  <h5 class="text-center text-primary">{{ 'clinicalFile.noStoredPatients.label' | transloco }}</h5>
                </ng-template>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="btn custom-btn-1 mx-2"
          (click)="sendInvitationEmail()"
          [disabled]="!selectedPrePatients.length"
        >
          <img src="assets/icons/icon-email.svg" />
        </button>
      </div>
    </div>

    <div [ngbNavOutlet]="nav"></div>
  </div>

  <ngb-toast
    *ngIf="emailSent"
    class="bg-success text-light"
    [delay]="5000"
    [autohide]="true"
    (hide)="emailSent = false"
  >
    <div>{{ 'clinicalFile.emailSedSuccess.label' | transloco }}</div>
  </ngb-toast>

  <!-- PATIENT MODAL -->
  <div class="modal fade" id="patientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100 mt-1">
            {{ !patientIsEdit ? 'common.button.create.label' : ('common.button.update.label' | transloco) }}
            {{ 'common.patient.label' | transloco }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="patientForm">
            <div class="custom-control custom-switch mb-4">
              <input
                type="checkbox"
                class="custom-control-input"
                id="switchIsTutor"
                [checked]="false"
                formControlName="isTutor"
              />
              <label class="custom-control-label" for="switchIsTutor">{{
                'clinicalFile.tutorAcount.label' | transloco
              }}</label>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="name">{{ 'common.forms.user.identification.name.label' | transloco }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('name').valid && patientForm.get('name').touched
                  }"
                />
              </div>
              <div class="form-group col">
                <label for="lastName">{{ 'common.forms.user.identification.firstSurname.label' | transloco }}</label>
                <input
                  type="email"
                  class="form-control"
                  name="lastName"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('lastName').valid && patientForm.get('lastName').touched
                  }"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="secondLastName"
                  >{{ 'common.forms.user.identification.secondSurname.label' | transloco }} *</label
                >
                <input
                  type="email"
                  class="form-control"
                  name="secondLastName"
                  formControlName="secondLastName"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('secondLastName').valid && patientForm.get('secondLastName').touched
                  }"
                />
              </div>
              <div class="form-group col">
                <label for="gender">{{ 'common.forms.user.identification.grender.label' | transloco }}</label>
                <select
                  class="form-control"
                  name="gender"
                  formControlName="gender"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('gender').valid && patientForm.get('gender').touched
                  }"
                >
                  <option value="">{{ 'common.select.label' | transloco }}</option>
                  <option value="male">{{ 'clinicalFile.male.label' | transloco }}</option>
                  <option value="female">{{ 'clinicalFile.female.label' | transloco }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-5">
                <label for="email">{{ 'common.forms.user.identification.email.label' | transloco }}</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('email').valid && patientForm.get('email').touched
                  }"
                />
              </div>
              <div class="form-group col-5">
                <label for="phoneNumber">{{ 'common.forms.user.identification.phone.label' | transloco }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="phoneNumber"
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('phoneNumber').valid && patientForm.get('phoneNumber').touched
                  }"
                />
              </div>
              <div class="form-group col-2">
                <label for="age">{{ 'common.forms.user.identification.age.label' | transloco }}</label>
                <input
                  class="form-control"
                  name="age"
                  formControlName="age"
                  [ngClass]="{
                    'is-invalid': !patientForm.get('age').valid && patientForm.get('age').touched
                  }"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-outline-primary rounded-pill" data-dismiss="modal">
            {{ 'common.button.cancel.label' | transloco }}
          </button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            data-dismiss="modal"
            (click)="savePatient()"
            [disabled]="!patientForm.valid"
          >
            {{ !patientIsEdit ? 'common.button.create.label' : 'common.button.update.label' }}
            {{ 'common.patient.label' | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
