<!-- componente onboarding tour web -->
<tour-step-template id="tourTemplate">
    <!--template paso-->
    <ng-template let-step="step">
      <mat-card (click)="$event.stopPropagation()" class="tour" id="{{step?.stepId}}">
        <!--icon-->
        <ng-container *ngIf="step?.icon">
          <i class="material-icons">{{step?.icon}}</i>
        </ng-container><!--/icon--> 
        <!--<img alt="movistar" class="logoazul" src="./assets/img/movistar-tour.svg">-->
        <mat-card-title> 
          {{step?.title}}
        </mat-card-title>
        <!--contenido paso-->
        <mat-card-content>
          {{step?.content}}
        </mat-card-content><!--/contenido paso-->
        <!--btn accion paso-->
        <mat-card-actions>
          <div class="row accionesPasos">
            <div class="col s5 np fin">
              <a  class="float-left" href="javascript:;" (click)="tourService.end()" title="{{step?.endBtnTitle}}">{{step?.endBtnTitle}}</a>
            </div> 
            <div class="col s7 np dos">  
              <button class="btn info nextBtnTitle waves-effect waves-light small nmr" [disabled]="!tourService.hasNext(step)" (click)="tourService.next()">
              {{step?.nextBtnTitle}} 
              </button>
              <button class="btn cancelar  prevBtnTitle waves-effect waves-light small nml" [disabled]="!tourService.hasPrev(step)" (click)="tourService.prev()">
              {{step?.prevBtnTitle}} 
              </button>
            </div>
          </div>
    
        </mat-card-actions><!--/btn accion paso-->
      </mat-card>
    </ng-template><!--template paso-->
  </tour-step-template>
 
  <div style="" tourAnchor="sidebars"></div>
  <div style="" tourAnchor="agendar"></div><!-- -->
  <!--/onboarding tour-->
  