<div class="container-fluid">
  <div class="row">
    <div class="col mb-2">
      <h2>{{ 'disponibility.title' | transloco }}</h2>
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary rounded-pill float-right"
        ng-reflect-tour-anchor="agendar"
        (click)="createAvailability.reset()"
        data-toggle="modal"
        data-target="#disponibilidad"
      >
        {{ 'disponibility.btnNewDisponibility.label' | transloco }}
        <svg
          width="1.5em"
          height="1.5em"
          viewBox="0 0 16 16"
          class="bi bi-plus-circle"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
          />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        </svg>
      </button>
      <button
        type="button"
        data-toggle="modal"
        data-target="#bloquearDias"
        class="btn btn-outline-primary rounded-pill float-right mr-3"
        ng-reflect-tour-anchor="agendar"
      >
        {{ 'disponibility.btnBlockDays.label' | transloco }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            <svg
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-list-nested"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"
              />
            </svg>
            {{ 'disponibility.tabs.list.label' | transloco }}
          </a>
        </li>
        <li class="nav-item" role="presentation" (click)="initCalendar()">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-calendar3-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2H0z" />
              <path
                fill-rule="evenodd"
                d="M0 3h16v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm6.5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg>
            {{ 'disponibility.tabs.calendar.label' | transloco }}
          </a>
        </li>
      </ul>

      <div class="tab-content pt-4" id="myTabContent">
        <!-- LISTADO DE DISPONIBILIDADES -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!--consultas activas-->
          <div class="row mt-1">
            <div class="col-12">
              <h5 style="display: none;">{{ 'clinicalFile.acriveServices.label' | transloco }}</h5>
            </div>
            <div class="col-12 mb-4">
              <div class="tableBox rounded p-4 bg-white">
                <table class="table">
                  <thead>
                    <tr class="d-flex">
                      <th class="col-2" scope="col">
                        {{ 'table.days.label' | transloco }}
                      </th>
                      <th class="col-2" scope="col">
                        {{ 'table.date.label' | transloco }}
                      </th>
                      <th class="col-2" scope="col">{{ 'table.hour.label' | transloco }}</th>
                      <th class="col-2" scope="col">{{ 'table.objetive.label' | transloco }}</th>
                      <th class="col-2" scope="col">
                        {{ 'table.specialty.label' | transloco }}
                      </th>
                      <th class="col-1" scope="col">
                        {{ 'table.status.label' | transloco }}
                      </th>
                      <th class="col-1" scope="col">
                        {{ 'table.action.label' | transloco }}
                      </th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="disponibilidad?.length === 0">
                    <tbody>
                      <tr>
                        <div class="alert alert-warning mt-3" role="alert">
                          {{
                            'dashboard.home.disponibilityManagment.modal.createDisponibility.noDisponibilities.label'
                              | transloco
                          }}
                        </div>
                      </tr>
                    </tbody>
                  </ng-container>
                  <tbody *ngIf="disponibilidad">
                    <tr class="d-flex" *ngFor="let item of disponibilidad" id="{{ item._id }}">
                      <td class="col-2" scope="row">
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-calendar"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"
                          />
                        </svg>
                        <ng-container>
                          <span [ngStyle]="{ 'word-break': 'break-all' }">{{ item.dateDetails.days }}</span>
                        </ng-container>
                      </td>
                      <td class="col-2">
                        <!--Hasta el -->
                        {{ item.dateDetails.startDate | date: 'dd/MM/yyyy':'+0000' }}

                        <ng-container *ngIf="item.dateDetails.endDate">
                          - {{ item.dateDetails.endDate | date: 'dd/MM/yyyy':'+0000' }}
                        </ng-container>
                      </td>
                      <td class="col-2">
                        <ng-container *ngFor="let range of item.dateDetails.dailyRanges">
                          {{ range.start }} hrs - {{ range.end }} hrs
                        </ng-container>
                      </td>
                      <td class="col-2">{{ item.administrativeDetails.objective }}</td>
                      <td class="col-2">
                        <ng-container *ngFor="let specialty of item.professionalDetails.specialtyDetails">
                          {{ specialty.specialtyName }}
                        </ng-container>
                      </td>
                      <td class="col-1">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="switch{{ item._id }}"
                            [checked]="item.administrativeDetails.isActive"
                            (click)="putState(item)"
                          />
                          <label class="custom-control-label" for="switch{{ item._id }}"></label>
                        </div>
                      </td>
                      <td class="col-1">
                        <div class="btn-group">
                          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg
                              width="1em"
                              height="1em"
                              viewBox="0 0 16 16"
                              class="bi bi-three-dots"
                              fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                              />
                            </svg>
                          </div>
                          <div class="dropdown-menu dropdown-menu-right">
                            <button
                              data-toggle="modal"
                              data-target="#editar"
                              class="dropdown-item"
                              type="button"
                              (click)="putAvailability(item._id)"
                            >
                              {{ 'clinicalFile.edit.label' | transloco }}
                            </button>
                            <button class="dropdown-item" type="button" (click)="deleteAvailability(item._id)">
                              {{ 'common.button.delete.label' | transloco }}
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="daysBlocked rounded bg-white pl-5 pr-5 pt-4 pb-4">
                <h5 class="mb-4">{{ 'disponibility.tabs.list.blockedDays.label' | transloco }}</h5>
                <ng-container *ngIf="diasBloqueados?.length < 1">
                  <tbody>
                    <tr>
                      <div class="alert alert-warning mt-3" role="alert">
                        {{
                          'dashboard.home.disponibilityManagment.modal.createDisponibility.noBlockedDays.label'
                            | transloco
                        }}
                      </div>
                    </tr>
                  </tbody>
                </ng-container>
                <owl-carousel
                  [options]="{
                    items: 6,
                    center: false,
                    loop: false,
                    dots: false,
                    autoWidth: true,
                    nav: true,
                    mouseDrag: true,
                    autoplay: false,
                    responsive: {
                      '0': { items: 3, margin: 0, center: false, touchDrag: true, mouseDrag: false },
                      '480': { items: 2, margin: 5, center: true, touchDrag: true, mouseDrag: false },
                      '640': { items: 6, margin: 0, loop: false, center: false, mouseDrag: true }
                    }
                  }"
                  [items]="diasBloqueados"
                  [carouselClasses]="['owl-theme', 'sliding']"
                >
                  <ng-container *ngFor="let item of diasBloqueados; let i = index">
                    <div class="day text-center" id="{{ item._id }}">
                      <b>{{ item.dateDetails.date | date: 'dd/MM/yyyy':'+0000' }}</b
                      ><br />
                      <ng-container *ngIf="item.dateDetails.fullDay === false; else allDay">
                        {{ item.dateDetails.range.start }} - {{ item.dateDetails.range.end }}
                      </ng-container>
                      <ng-template #allDay>
                        {{ 'disponibility.modal.blockDays.allDay.label' | transloco }}
                      </ng-template>
                      <div class="cerrar">
                        <button type="button" class="close" aria-label="Close" (click)="deleteBlock(item._id)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </owl-carousel>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->

        <!-- CALENDARIO -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row pb-3">
            <div class="col-auto">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  [(ngModel)]="showActiveDays"
                  (change)="fetchCalendar()"
                />
                <label class="custom-control-label" for="customCheck1">{{
                  'disponibility.tabs.calendar.workDays.label' | transloco
                }}</label>
              </div>
            </div>
            <div class="col-auto">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                  [(ngModel)]="showBlockedDays"
                  (change)="fetchCalendar()"
                />
                <label class="custom-control-label" for="customCheck2">{{
                  'disponibility.tabs.list.blockedDays.label' | transloco
                }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center bg-white">
              <div class="container bg-white p-5" *ngIf="calendar">
                <full-calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL CREACION -->
  <div
    class="modal fade"
    id="disponibilidad"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">
            {{ 'disponibility.modal.create.title' | transloco }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createAvailability" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="objective">{{ 'disponibility.modal.create.objetive.label' | transloco }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="objective"
                  formControlName="objective"
                  [ngClass]="{
                    'is-invalid': !createAvailability.get('objective').touched
                  }"
                />
              </div>
              <div class="form-group col">
                <label for="specialty">{{ 'disponibility.modal.create.specialty.label' | transloco }}</label>
                <select class="form-control" id="specialty" formControlName="specialty">
                  <option [value]="null">{{ 'common.select.label' | transloco }}</option>
                  <option *ngFor="let item of specialtiesId; let i = index" value="{{ item._id }}">
                    {{ item.specialtyName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="startDate">{{
                  'clinicalFile.patientData.tabs.services.table.date.label' | transloco
                }}</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd-mm-yyyy"
                    id="startDate"
                    name="startDate"
                    formControlName="startDate"
                    [(ngModel)]="startDate"
                    [minDate]="minDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('startDate').valid && createAvailability.get('startDate').touched
                    }"
                  />

                  <div *ngIf="createAvailability.controls['startDate'].errors?.required" class="invalid-feedback">
                    Fecha inicio es necesaria
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label for="endDate">{{ 'common.endDate.label' | transloco }}</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd-mm-yyyy"
                    id="endDate"
                    name="endDate"
                    formControlName="endDate"
                    [(ngModel)]="endDate"
                    [minDate]="minDateTermino"
                    ngbDatepicker
                    #e="ngbDatepicker"
                    (click)="e.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('endDate').valid && createAvailability.get('endDate').touched
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="appointmentDuration">{{
                  'dashboard.home.disponibilityManagment.modal.createDisponibility.timming.label' | transloco
                }}</label>
                <select class="form-control" id="appointmentDuration" formControlName="appointmentDuration">
                  <option [value]="null">{{ 'common.select.label' | transloco }}</option>
                  <ng-container *ngFor="let item of interval">
                    <option value="{{ item.value }}">{{ item.min }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col-12">
                <p>{{ 'disponibility.modal.create.aviability.label' | transloco }}</p>
              </div>

              <div class="col">
                <ng-container *ngFor="let data of days">
                  <div class="custom-control custom-control-inline custom-checkbox pr-3">
                    <input
                      id="{{ data.name }}"
                      type="checkbox"
                      class="custom-control-input"
                      value="{{ data.value }}"
                      (change)="onCheckboxChange($event)"
                    />
                    <label class="custom-control-label" for="{{ data.name }}">
                      {{ data.name }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>

            <!--campos reactivos dinamicos-->
            <div formArrayName="dailyRanges" *ngFor="let item of dailyRanges.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="form-group col">
                    <label for="start' + i" [attr.for]="'start' + i">{{
                      'disponibility.modal.create.initialDate.label' | transloco
                    }}</label>
                    <div class="d-flex justify-content-center">
                      <ngb-timepicker
                        [attr.id]="'start' + i"
                        formControlName="start"
                        [ngClass]="{
                          'is-invalid':
                            !createAvailability.get('dailyRanges').valid &&
                            createAvailability.get('dailyRanges').touched
                        }"
                      >
                      </ngb-timepicker>
                    </div>
                    <div *ngIf="createAvailability.controls['dailyRanges'].errors?.required" class="invalid-feedback">
                      Fecha inicio es necesaria
                    </div>
                  </div>
                  <div class="form-group col">
                    <label for="'end' + i" [attr.for]="'end' + i">{{
                      'disponibility.modal.create.finalDate.label' | transloco
                    }}</label>
                    <div class="d-flex justify-content-center">
                      <ngb-timepicker
                        [attr.id]="'end' + i"
                        formControlName="end"
                        [ngClass]="{
                          'is-invalid':
                            !createAvailability.get('dailyRanges').valid &&
                            createAvailability.get('dailyRanges').touched
                        }"
                      >
                      </ngb-timepicker>
                    </div>
                  </div>
                  <div *ngIf="i > 0" class="form-group col-auto">
                    <label class="w-100" for="'end' + i" [attr.for]="'end' + i">&nbsp;</label>
                    <div class="btn btn-light btn-sm rounded-pill" (click)="removerDailyRanges(i)">
                      Remover
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <a class="" (click)="agregardailyRanges()">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus-circle"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                    />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                  </svg>
                  {{ 'disponibility.modal.create.newVariation.label' | transloco }}</a
                >
              </div>
            </div>
            <!--/ campos reactivos dinamicos-->
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
            {{ 'common.button.cancel.label' | transloco }}
          </button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-primary rounded-pill"
            (click)="crearAvailability()"
            [disabled]="!createAvailability.valid && !this.daysSelected.length"
          >
            Crear disponibilidad
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL EDICION -->
  <div
    class="modal fade"
    id="editar"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">
            {{ 'clinicalFile.editDisponibility.label' | transloco }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="idAvailability" class="modal-body" id="{{ idAvailability._id }}">
          <form [formGroup]="createAvailability" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="objective">{{ 'disponibility.modal.create.objetive.label' | transloco }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="objective"
                  name="objective"
                  formControlName="objective"
                  [ngClass]="{
                    'is-invalid':
                      !createAvailability.get('objective').valid && createAvailability.get('objective').touched
                  }"
                />
                <!--   value="{{idAvailability.administrativeDetails.objective}}"-->
              </div>
              <div class="form-group col">
                <label for="specialty">{{ 'disponibility.modal.create.specialty.label' | transloco }} </label>
                <select class="form-control" id="specialty" formControlName="specialty">
                  <ng-container *ngFor="let item of specialtiesId">
                    <option value="{{ item._id }}">{{ item.specialtyName }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="endDate"
                  >Fecha inicio actual:
                  {{ idAvailability.dateDetails.startDate | date: 'dd/MM/yyyy':'+0000' }}
                </label>
                <div class="input-group">
                  <!---->
                  <input
                    class="form-control"
                    type="text"
                    id="startDate"
                    name="startDate"
                    [minDate]="minDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    formControlName="startDate"
                    (click)="d.toggle()"
                  />
                </div>
              </div>
              <div class="form-group col">
                <label for="endDate">Fecha de término</label>
                <!-- formControlName="endDate"   id="endDate2"-->
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    id="endDate"
                    name="endDate"
                    [minDate]="minDate"
                    ngbDatepicker
                    #e="ngbDatepicker"
                    (click)="e.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('endDate').valid && createAvailability.get('endDate').touched
                    }"
                    formControlName="endDate"
                  />
                  <!--
                     [ngModelOptions]="{standalone: true}"
                     formControlName="endDate"
                     [ngClass]="{
                    'is-invalid':
                      !createAvailability.get('endDate').valid && createAvailability.get('endDate').touched
                  }" -->
                </div>
              </div>
            </div>
            <div class="row">
              <!-- formControlName="appointmentDuration"-->
              <div class="form-group col">
                <label for="appointmentDuration">Tiempo de Consulta (intervalo min)</label>
                <select class="form-control" id="appointmentDuration" formControlName="appointmentDuration">
                  <ng-container *ngFor="let item of interval">
                    <option value="{{ item.value }}">{{ item.value }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col-12">
                <p>
                  Disponibilidad de días actual: <b>{{ idAvailability.dateDetails.days }}</b>
                </p>
              </div>
              <div class="col">
                <ng-container *ngFor="let data of daysSelected">
                  <div class="custom-control custom-control-inline custom-checkbox pr-3">
                    <input
                      id="put{{ data.name }}"
                      class="custom-control-input"
                      type="checkbox"
                      [value]="data.value"
                      (change)="data.checked = !data.checked"
                      [checked]="data.checked"
                    />
                    <label class="custom-control-label" for="put{{ data.name }}">
                      {{ data.name }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12">
              <p class="pl-0">
                rango de horarios actual:<b>
                  <ng-container *ngFor="let range of idAvailability.dateDetails.dailyRanges">
                    {{ range.start }} hrs - {{ range.end }} hrs
                  </ng-container>
                </b>
              </p>
            </div>
            <!--campos reactivos dinamicos-->
            <div formArrayName="dailyRanges" *ngFor="let item of dailyRanges.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="form-group col">
                    <label for="start' + i" [attr.for]="'start' + i">{{
                      'disponibility.modal.create.initialDate.label' | transloco
                    }}</label>
                    <!--
                    <input
                      type="time"
                      [attr.id]="'start' + i"
                      class="form-control"
                      formControlName="start"
                      value=""
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                    -->
                    <div class="d-flex justify-content-center">
                      <ngb-timepicker
                        [attr.id]="'start' + i"
                        formControlName="start"
                        [ngClass]="{
                          'is-invalid':
                            !createAvailability.get('dailyRanges').valid &&
                            createAvailability.get('dailyRanges').touched
                        }"
                      >
                      </ngb-timepicker>
                    </div>
                  </div>
                  <div class="form-group col">
                    <label for="'end' + i" [attr.for]="'end' + i">Horario final</label>
                    <!--
                    <input
                      type="time"
                      [attr.id]="'end' + i"
                      class="form-control"
                      formControlName="end"
                      value=""
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                    -->
                    <div class="d-flex justify-content-center">
                      <ngb-timepicker
                        [attr.id]="'end' + i"
                        formControlName="end"
                        [ngClass]="{
                          'is-invalid':
                            !createAvailability.get('dailyRanges').valid &&
                            createAvailability.get('dailyRanges').touched
                        }"
                      >
                      </ngb-timepicker>
                    </div>
                  </div>
                  <div *ngIf="i > 0" class="form-group col-auto">
                    <label class="w-100" for="'end' + i" [attr.for]="'end' + i">&nbsp;</label>
                    <div class="btn btn-light btn-sm rounded-pill" (click)="removerDailyRanges(i)">
                      Remover
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <a class="" (click)="agregardailyRanges()">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus-circle"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                    />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                  </svg>
                  {{ 'disponibility.modal.create.newVariation.label' | transloco }}</a
                >
              </div>
            </div>
            <!--/ campos reactivos dinamicos-->
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Cancelar</button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            data-dismiss="modal"
            (click)="actualizarAvailability(idAvailability._id)"
            [disabled]="!createAvailability.valid && !this.daysSelected.length"
          >
            <!--[disabled]="!createAvailability.valid"-->
            {{ 'clinicalFile.editDisponibility.label' | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--(click)="putAvailability(id)"-->

  <!-- MODAL BLOQUEAR DIA -->
  <div
    class="modal fade"
    id="bloquearDias"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">Bloquear Días</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="availabilityBlocked" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="dateBlock">Fechas</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="dd-mm-yyyy"
                    id="dateBlock"
                    name="dateBlock"
                    formControlName="dateBlock"
                    [(ngModel)]="model3"
                    [minDate]="minDate"
                    ngbDatepicker
                    #a="ngbDatepicker"
                    (click)="a.toggle()"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col">
                <div class="custom-control custom-control-inline custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="allDay"
                    name="allDay"
                    formControlName="allDay"
                    (click)="allDayBooleanState()"
                  />
                  <label class="custom-control-label" for="allDay">Todo el Día</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col" [ngClass]="allDayBoolean === true ? 'd-none' : 'd-block'">
                <label for="startBlock">Horario inicial</label>
                <div class="d-flex justify-content-center">
                  <ngb-timepicker id="startBlock" formControlName="startBlock"> </ngb-timepicker>
                </div>
              </div>
              <div class="form-group col" [ngClass]="allDayBoolean === true ? 'd-none' : 'd-block'">
                <label for="endBlock">Horario final</label>
                <div class="d-flex justify-content-center">
                  <ngb-timepicker id="endBlock" formControlName="endBlock"> </ngb-timepicker>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">cancelar</button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            data-dismiss="modal"
            [disabled]="!availabilityBlocked.valid"
            (click)="postAvailabilityBlocked()"
          >
            Bloquear día
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
