<div class="container-fluid">
  <div class="row">
    <div class="col mb-2">
      <h2>Mi disponibilidad</h2>
    </div>
    <div class="col">
      <button
        type="button"
        class="btn btn-primary rounded-pill float-right"
        ng-reflect-tour-anchor="agendar"
        data-toggle="modal"
        data-target="#disponibilidad"
      >
        nueva disponibilidad
        <svg
          width="1.5em"
          height="1.5em"
          viewBox="0 0 16 16"
          class="bi bi-plus-circle"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
          />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        </svg>
      </button>
      <button
        type="button"
        data-toggle="modal"
        data-target="#bloquearDias"
        class="btn btn-outline-primary rounded-pill float-right mr-3"
        ng-reflect-tour-anchor="agendar"
      >
        Bloquear días
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
          >
            <svg
              width="1.5em"
              height="1.5em"
              viewBox="0 0 16 16"
              class="bi bi-list-nested"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"
              />
            </svg>
            Listado de Disponibilidades
          </a>
        </li>
        <li class="nav-item" role="presentation" (click)="initCalendar()">
          <a
            class="nav-link active"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-calendar3-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2H0z" />
              <path
                fill-rule="evenodd"
                d="M0 3h16v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm6.5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg>
            Calendario
          </a>
        </li>
      </ul>

      <div class="tab-content pt-4" id="myTabContent">
        <!-- LISTADO DE DISPONIBILIDADES -->
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!--consultas activas-->
          <div class="row mt-1">
            <div class="col-12">
              <h5 style="display: none;">Mis consultas activas</h5>
            </div>
            <div class="col-12 mb-4">
              <div class="tableBox rounded p-4 bg-white">
                <table class="table">
                  <thead class="">
                    <tr>
                      <th scope="col">Días</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora</th>
                      <th scope="col">Objetivo</th>
                      <th scope="col">Especialidad</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>

                  <ng-container *ngIf="disponibilidad?.length < 1">
                    <tbody>
                      <tr>
                        <div class="alert alert-warning mt-3" role="alert">
                          No hay disponibilidades creadas
                        </div>
                      </tr>
                    </tbody>
                  </ng-container>
                  <tbody *ngIf="disponibilidad">
                    <tr *ngFor="let item of disponibilidad" id="{{ item._id }}">
                      <td scope="row">
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-calendar"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"
                          />
                        </svg>
                        <ng-container>
                          {{ item.dateDetails.days }}
                        </ng-container>
                      </td>
                      <td>
                        <!--Hasta el -->
                        {{ item.dateDetails.startDate | date: 'dd/MM/yyyy' }}

                        <ng-container *ngIf="item.dateDetails.endDate">
                          - {{ item.dateDetails.endDate | date: 'dd/MM/yyyy' }}
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngFor="let range of item.dateDetails.dailyRanges"
                          ><!---->
                          {{ range.start }} hrs - {{ range.end }} hrs
                        </ng-container>
                      </td>
                      <td>{{ item.administrativeDetails.objective }}</td>
                      <td>
                        <ng-container *ngFor="let specialty of item.professionalDetails.specialtyDetails">
                          {{ specialty.specialtyName }}
                        </ng-container>
                      </td>
                      <td>
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="switch{{ item._id }}"
                            [checked]="item.administrativeDetails.isActive"
                            (click)="putState(item)"
                          />
                          <label class="custom-control-label" for="switch{{ item._id }}"></label>
                        </div>
                      </td>
                      <td>
                        <div class="btn-group">
                          <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg
                              width="1em"
                              height="1em"
                              viewBox="0 0 16 16"
                              class="bi bi-three-dots"
                              fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                              />
                            </svg>
                          </div>
                          <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button" (click)="deleteAvailability(item._id)">
                              Eliminar
                            </button>
                            <button
                              data-toggle="modal"
                              data-target="#editar"
                              class="dropdown-item"
                              type="button"
                              (click)="putAvailability(item._id)"
                            >
                              Editar
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="daysBlocked rounded bg-white pl-5 pr-5 pt-4 pb-4">
                <h5 class="mb-4">Días Bloqueados</h5>
                <ng-container *ngIf="diasBloqueados?.length < 1">
                  <tbody>
                    <tr>
                      <div class="alert alert-warning mt-3" role="alert">
                        No existen días bloqueados
                      </div>
                    </tr>
                  </tbody>
                </ng-container>
                <owl-carousel
                  [options]="{
                    items: 6,
                    center: false,
                    loop: false,
                    dots: false,
                    autoWidth: true,
                    nav: true,
                    mouseDrag: true,
                    autoplay: false,
                    responsive: {
                      '0': { items: 3, margin: 0, center: false, touchDrag: true, mouseDrag: false },
                      '480': { items: 2, margin: 5, center: true, touchDrag: true, mouseDrag: false },
                      '640': { items: 6, margin: 0, loop: false, center: false, mouseDrag: true }
                    }
                  }"
                  [items]="diasBloqueados"
                  [carouselClasses]="['owl-theme', 'sliding']"
                >
                  <ng-container *ngFor="let item of diasBloqueados; let i = index">
                    <div class="day text-center" id="{{ item._id }}">
                      <b>{{ item.dateDetails.date | date: 'dd/MM/yyyy' }}</b
                      ><br />
                      {{ item.dateDetails.range.start }} - {{ item.dateDetails.range.end }}
                      <div class="cerrar">
                        <button type="button" class="close" aria-label="Close" (click)="deleteBlock(item._id)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </ng-container>
                </owl-carousel>
              </div>
            </div>
          </div>
        </div>
        <!--/tab-->

        <!-- CALENDARIO -->
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row pb-3">
            <div class="col-auto">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  [(ngModel)]="showActiveDays"
                  (change)="fetchCalendar()"
                />
                <label class="custom-control-label" for="customCheck1">Días Habilitados</label>
              </div>
            </div>
            <div class="col-auto">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                  [(ngModel)]="showBlockedDays"
                  (change)="fetchCalendar()"
                />
                <label class="custom-control-label" for="customCheck2">Días Bloqueados</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center bg-white">
              <div class="container bg-white p-5" *ngIf="calendar">
                <full-calendar [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal disponibilidad-->
  <div
    class="modal fade"
    id="disponibilidad"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">Crear disponibilidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createAvailability" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="objective">Objetivo</label>
                <input type="text" class="form-control" id="objective" formControlName="objective" />
              </div>
              <div class="form-group col">
                <label for="specialty">Especialidad</label>
                <select class="form-control" id="specialty2">
                  <ng-container *ngFor="let item of medicalSpecialties">
                    <option value="{{ item._id }}">{{ item.name }}</option>
                  </ng-container>
                </select>
              </div>
              <div class="form-group col">
                <label for="specialty">Sub especialidad</label>
                <select class="form-control" id="specialty" formControlName="specialty">
                  <ng-container *ngFor="let item of specialtiesId">
                    <option value="{{ item._id }}">{{ item.specialtyName }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="startDate">Fecha inicio</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="yyyy-mm-dd"
                    id="startDate"
                    name="startDate"
                    formControlName="startDate"
                    [(ngModel)]="model2"
                    [minDate]="minDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('startDate').valid && createAvailability.get('startDate').touched
                    }"
                  />

                  <div *ngIf="createAvailability.controls['startDate'].errors?.required" class="invalid-feedback">
                    Fecha inicio es necesaria
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label for="endDate">Fecha de término</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    class="form-control"
                    type="text"
                    placeholder="yyyy-mm-dd"
                    id="endDate"
                    name="endDate"
                    formControlName="endDate"
                    [(ngModel)]="model"
                    [minDate]="minDate"
                    ngbDatepicker
                    #e="ngbDatepicker"
                    (click)="e.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('endDate').valid && createAvailability.get('endDate').touched
                    }"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="appointmentDuration">Tiempo de Consulta (intervalo min)</label>
                <select class="form-control" id="appointmentDuration" formControlName="appointmentDuration">
                  <ng-container *ngFor="let item of interval">
                    <option>{{ item.value }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col-12">
                <p>Disponibilidad Días</p>
              </div>

              <div class="col">
                <ng-container *ngFor="let data of days; let i = index">
                  <div class="custom-control custom-control-inline custom-checkbox pr-3">
                    <input
                      id="{{ data.name }}"
                      class="custom-control-input"
                      type="checkbox"
                      [value]="data.value"
                      (change)="onCheckboxChange($event)"
                    />
                    <label class="custom-control-label" for="{{ data.name }}">
                      {{ data.name }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>

            <!--campos reactivos dinamicos-->
            <div formArrayName="dailyRanges" *ngFor="let item of dailyRanges.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="form-group col">
                    <label for="start' + i" [attr.for]="'start' + i">Horario inicial</label>
                    <input
                      type="time"
                      [attr.id]="'start' + i"
                      class="form-control"
                      formControlName="start"
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                    <div *ngIf="createAvailability.controls['dailyRanges'].errors?.required" class="invalid-feedback">
                      Fecha inicio es necesaria
                    </div>
                  </div>
                  <div class="form-group col">
                    <label for="'end' + i" [attr.for]="'end' + i">Horario final</label>
                    <input
                      type="time"
                      [attr.id]="'end' + i"
                      class="form-control"
                      formControlName="end"
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <a class="" (click)="agregardailyRanges()">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus-circle"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                    />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                  </svg>
                  Nueva variación de disponibilidad</a
                >
              </div>
            </div>
            <!--/ campos reactivos dinamicos-->
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">cancelar</button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            (click)="crearAvailability()"
            [disabled]="!createAvailability.valid"
            data-dismiss="modal"
          >
            Crear disponibilidad
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="bloquearDias"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">Bloquear Días</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="availabilityBlocked" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="dateBlock">Fechas</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    class="form-control"
                    type="text"
                    placeholder="yyyy-mm-dd"
                    id="dateBlock"
                    name="dateBlock"
                    formControlName="dateBlock"
                    [(ngModel)]="model3"
                    [minDate]="{ year: 1940, month: 1, day: 1 }"
                    ngbDatepicker
                    #a="ngbDatepicker"
                    (click)="a.toggle()"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col">
                <div class="custom-control custom-control-inline custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customChecklun3" />
                  <label class="custom-control-label" for="customChecklun3">Todo el Día</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col">
                <label for="startBlock">Horario inicial</label>
                <input
                  type="time"
                  class="form-control"
                  id="startBlock"
                  name="startBlock"
                  min="07:00"
                  max="20:00"
                  formControlName="startBlock"
                />
              </div>
              <div class="form-group col">
                <label for="endBlock">Horario final</label>
                <input
                  type="time"
                  class="form-control"
                  id="endBlock"
                  name="endBlock"
                  min="07:00"
                  max="20:00"
                  formControlName="endBlock"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">cancelar</button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            data-dismiss="modal"
            (click)="postAvailabilityBlocked()"
          >
            Bloquear día
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal editar-->
  <div
    class="modal fade"
    id="editar"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content p-3">
        <div class="modal-header text-center">
          <h5 class="modal-title text-center w-100 mt-1" id="exampleModalLabel">Editar disponibilidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="idAvailability" class="modal-body" id="{{ idAvailability._id }}">
          <form [formGroup]="createAvailability" novalidate="">
            <div class="row">
              <div class="form-group col">
                <label for="objective">Objetivo</label>
                <input
                 
                  type="text"
                  class="form-control"
                  id="objective"
                  placeholder="{{ idAvailability.administrativeDetails.objective }}"
                  formControlName="objective"
                />
              </div>
              <div class="form-group col">
                <label for="specialty">Especialidad </label>
                <select class="form-control" id="specialty" formControlName="specialty">
                  <option value="{{ idAvailability.professionalDetails.specialtyDetails[0].specialtyId }}">
                    {{ idAvailability.professionalDetails.specialtyDetails[0].specialtyName }}
                  </option>
                  <ng-container *ngFor="let item of specialtiesId">
                    <option value="{{ item._id }}">{{ item.specialtyName }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="endDate"
                  >Fecha inicio actual: {{ idAvailability.dateDetails.startDate | date: 'dd/MM/yyyy' }}</label
                >
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="{{ idAvailability.dateDetails.startDate | date: 'dd/MM/yyyy' }}"
                    id="starDate"
                    name="starDate"
                    formControlName="starDate"
                    [(ngModel)]="model2"
                    [minDate]="minDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('starDate').valid && createAvailability.get('starDate').touched
                    }"
                  /><!--
                        <input class="form-control" type="date"   id="endDate"  name="endDate" formControlName="endDate">-->
                  <!--
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar " (click)="d.toggle()" type="button"></button>
                        </div>-->
                </div>
              </div>
              <div class="form-group col">
                <label for="endDate">Fecha de término</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    class="form-control"
                    type="text"
                    placeholder="{{ idAvailability.dateDetails.endDate | date: 'dd/MM/yyyy' }}"
                    id="endDate"
                    name="endDate"
                    formControlName="endDate"
                    [(ngModel)]="model4"
                    [minDate]="minDate"
                    ngbDatepicker
                    #e="ngbDatepicker"
                    [ngClass]="{
                      'is-invalid':
                        !createAvailability.get('endDate').valid && createAvailability.get('endDate').touched
                    }"
                    (click)="e.toggle()"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="appointmentDuration">Tiempo de Consulta (intervalo min)</label>
                <select class="form-control" id="appointmentDuration" formControlName="appointmentDuration">
                  <option selected="selected" value="0">{{
                    idAvailability.administrativeDetails.appointmentDuration
                  }}</option>
                  <ng-container *ngFor="let item of interval">
                    <option>{{ item.value }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mt-2 mb-3">
              <div class="col-12">
                <p>
                  Disponibilidad de días actual: <b>{{ idAvailability.dateDetails.days }}</b>
                </p>
              </div>
              <div class="col">
                <ng-container *ngFor="let data of days; let i = index">
                  <div class="custom-control custom-control-inline custom-checkbox pr-3">
                    <input
                      id="put{{ data.name }}"
                      class="custom-control-input"
                      type="checkbox"
                      [value]="data.value"
                      (change)="onCheckboxChange($event)"
                      [checked]="false"
                    />
                    <label class="custom-control-label" for="put{{ data.name }}">
                      {{ data.name }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12">
              <p class="pl-0">
                rango de horarios actual:<b
                  ><ng-container *ngFor="let range of idAvailability.dateDetails.dailyRanges">
                    {{ range.start }} hrs - {{ range.end }} hrs
                  </ng-container></b
                >
              </p>
            </div>
            <!--campos reactivos dinamicos-->
            <div formArrayName="dailyRanges" *ngFor="let item of dailyRanges.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="form-group col">
                    <label for="start' + i" [attr.for]="'start' + i">Horario inicial</label>
                    <input
                      type="time"
                      [attr.id]="'start' + i"
                      class="form-control"
                      formControlName="start"
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                  </div>
                  <div class="form-group col">
                    <label for="'end' + i" [attr.for]="'end' + i">Horario final</label>
                    <input
                      type="time"
                      [attr.id]="'end' + i"
                      class="form-control"
                      formControlName="end"
                      [ngClass]="{
                        'is-invalid':
                          !createAvailability.get('dailyRanges').valid && createAvailability.get('dailyRanges').touched
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <a class="" (click)="agregardailyRanges()">
                  <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus-circle"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                    />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                    <path
                      fill-rule="evenodd"
                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                  </svg>
                  Nueva variación de disponibilidad</a
                >
              </div>
            </div>
            <!--/ campos reactivos dinamicos-->
          </form>
        </div>
        <div class="modal-footer text-center justify-content-center">
          <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">cancelar</button>
          <button
            type="button"
            class="btn btn-primary rounded-pill"
            data-dismiss="modal"
            (click)="putAvailability2(idAvailability._id)"
            [disabled]="!createAvailability.valid"
          >
            Editar disponibilidad
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--(click)="putAvailability(id)"-->
</div>
