.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border: none;
    border-bottom:3px solid #999999;
    //border-color: #dee2e6 #dee2e6 #fff;
   
}

.nav-tabs {
    a {
        color: #7D7D7D;
    }
}