<div class="container-fluid h-100 d-inline-block" id="login">
  <div class="row h-100">
    <div class="col-12 right">
      <div class="row vertical-center h-100">
        <div class="col-12 col-sm-4 col-md-4 col-lg-3 mx-auto w-50 p-3 text-center align-self-center">
          <img class="mb-4" src="/assets/img/recovery-password-done.svg" alt="img" />
          <h4 class="mb-3">{{ 'profile.personal.changePassword.recover.label' | transloco }} exitosa</h4>
          <p>
            {{ 'auth.email.sendTo.label' | transloco }} {{ email_format }}.
            {{ 'auth.email.followInstructions.label' | transloco }}
          </p>
          <button type="button" class="btn btn-primary btn-block rounded-pill" (click)="backToLogin()">
            {{ 'auth.loginAgain.label' | transloco }}
          </button>
          <div class="mt-4 text-center align-self-center">
            <a href="javascript:history.back()">
              <svg
                width="2em"
                height="2em"
                viewBox="0 0 16 16"
                class="bi bi-arrow-left-circle"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  fill-rule="evenodd"
                  d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"
                />
                <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
