/* Bootstrap SCSS*/
@import '~bootstrap/scss/bootstrap';


@import './assets/scss/variables.scss';
@import './assets/scss/forms.scss';


button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    height: 48px !important;
  }
.color-primary {
    color: $color-primary;
}

.modal-header{
    border-bottom: none;
}

@include media-breakpoint-only(xs) {
    .btn-block-xs-only {
      display: block;
      width: 100%;
    }
  }

.modal-backdrop {
    background-color: #ffffff;
    &.show {
        opacity: 0.85;
    }
}

 h3 {
    color:#505152;
 }

.bg-light {
    background-color:$color-light !important;
}

.card {
    border-radius: $border-radius;
}

body {
    height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: inherit;
    &:hover{
        color: inherit;
    }

    &.ayuda {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}
.iconMenu {
    display: inline-block;
    cursor: pointer;
}
.tableBox {
    
}
.table {
    thead {  
        th {
            padding-top: 0px;
            border-top: none;
            font-weight:bold;   
        }
        border-bottom: 5px $color-hover solid;
    }
    tbody {
        tr{
          
            &:hover {
                background-color: #ECF3FE;
            }
            td {
                padding: 22px 20px;
            }
            &:last-child {
                td {
                    padding-bottom: 0px;
                }
            }
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid #35A6F5;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #35A6F5;
    background: none !important;
    border: none;
    border-bottom:4px solid #35A6F5;
}

.bg-white {
    background: #ffffff;
}



a {
    color: #7D7D7D;
}
table {
    tr {
        svg {
            margin: 0px 10px 0px 0px;
        }
    }
}
.nav-tabs .nav-link {
    border: none;
}
.nav-tabs {
    a {
        color: #7D7D7D;
        border: none;
        .active {
            &:hover {
                border: none;
            }
        }
        &:hover {
            border:  transparent;
        }
    }
}

h4 a {
    color: #7D7D7D !important;
}

.item {
    //border-bottom:1px solid #495057;
    &:last-child {
        border-bottom: none;
    }
}

