<div class="container-fluid p-5">
  <div class="row">
    <div class="col">
      <h1>Datos de usuario</h1>
      <p>Información básica, como el nombre y la foto, que utilizas en el sistema de videoconsultas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class=" ">
        <div class="card-header" style="display: none;">
          Mi Salud
          <p>
            Completa tus datos medicos para una mejor atención
          </p>
        </div>
        <div class="card-body text-center">
          <div class="boxImg">
            <svg
              class="rounded-circle"
              width="9em"
              height="9em"
              viewBox="0 0 16 16"
              class="bi bi-person-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"
              />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg>
          </div>

          <button type="button" class="btn btn-outline-secondary mt-4">Cambiar foto</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Perfil
              </h4>
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">Nombre</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  Guiherme Dos Santos Herrera Torres
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">Fecha de Nacimiento</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  22 de Abril del 1975
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <!--/card-->

      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Datos de contacto
              </h4>
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">Email</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  guihermecontacto@gmail.com
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">Teléfono</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  95683945
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <!--/card-->

      <!--card-->
      <div class="card bg-light mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="ml-1">
                Dirección
              </h4>
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">País</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  Chile
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
          <div class="boxDato">
            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  <p class="font-weight-bold m-0">Ciudad y dirección</p>
                </div>
              </div>
            </div>

            <div class="collapse p-1 show" id="collapseExample">
              <div class="row item">
                <div class="col">
                  Matta 562 , Santiago
                </div>
                <div class="col text-right">
                  <div>
                    <svg
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="bi bi-pencil"
                      fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <!--/card-->
    </div>
  </div>
</div>
